@using CommonService.Model;
@model IEnumerable<CommonService.Model.C_Customer>
@{
    Layout = "~/Views/Shared/_ListSearchTemplate.cshtml";//普通列表页面固定模板
}
@{
    ViewBag.Title = "委托人列表";
}
@section HeadScript{
    <script type="text/javascript" src="/theme/js/basedialog.js"></script>
    <script type="text/javascript">
        $(function () {
            $("a[target=popdialog_owndefine]").each(function () {
                $(this).click(function (event) {
                    event.preventDefault();
                    var $this = $(this);
                    //替换url参数
                    var switchUrl = $this.attr("href");
                    _openDialog($(this).attr("title"), switchUrl, $(this).attr("dialogwidth"), $(this).attr("dialogheight"));
                });
            });
        })
    </script>
}
@{
    C_Customer customerConditon = ViewBag.CustomerConditon;//委托人条件模型
}
@{
    List<CommonService.Model.C_Parameters> CustomerTypes = ViewBag.CustomerTypes;
    List<CommonService.Model.C_Parameters> CustomerSources = ViewBag.CustomerSources;
    List<CommonService.Model.C_Parameters> CustomerLevels = ViewBag.CustomerLevels;
    List<CommonService.Model.C_Parameters> IsSignedStates = ViewBag.IsSignedStates;
    List<CommonService.Model.C_Parameters> SignedStates = ViewBag.SignedStates;
    List<CommonService.Model.C_Parameters> CustomerLoyaltys = ViewBag.CustomerLoyaltys;
}
<div class="tools">
    @using (Html.BeginForm("ViewList", "Client", FormMethod.Post, new { id = ViewBag.SearchFormID, onsubmit = "return clickSearch(this);" }))
    {
        <ul class="seachform">
            <input name="ThisPageIndex" class="ThisPageIndex" type="hidden" value="@ViewBag.ThisPageIndex" />
            <input name="IsExcutedFormSearch" class="IsExcutedFormSearch" type="hidden" value="@ViewBag.IsExcutedFormSearch" />
            @Html.Hidden("C_Customer_code", customerConditon.C_Customer_code)
            <li><label>委托人名称</label>@Html.TextBox("C_Customer_name", customerConditon.C_Customer_name, new { @class = "scinput" })</li>
            <li><label>&nbsp;</label><input type="submit" class="scbtn" value="查询" /></li>
        </ul>
    }
</div>

<table class="tablelist">
    <thead>
        <tr>
            @*<th>委托人代码</th>*@
            <th>委托人名称</th>
            <th>委托人级别</th>
            <th>委托人类型</th>
            <th>委托人来源</th>
            <th>委托人忠诚度</th>
            <th>专业顾问</th>
            <th>最后接触日期</th>
            <th>是否签约</th>
            <th>签约状态</th>
            <th>备注</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr target="sid_Iterm" rel="@item.C_Customer_code">
                @*<td>@item.C_Customer_number</td>*@
                <td><a target="popdialog_owndefine" title="委托人详细" style="color:blue;" dialogwidth="1080" dialogheight="550" href="/basedata/client/tabdetails?customerCode=@item.C_Customer_code">@item.C_Customer_name</a></td>
                @{
                    var customerLevel = CustomerLevels.Where(c => c.C_Parameters_id == item.C_Customer_level).FirstOrDefault();
                }
                @if (customerLevel != null)
                {
                    <td>@customerLevel.C_Parameters_name</td>
                }
                else
                {
                    <td></td>
                }
                @{
                var customerType = CustomerTypes.Where(c => c.C_Parameters_id == item.C_Customer_type).FirstOrDefault();
                }
                @if (customerType != null)
                {
                    <td>@customerType.C_Parameters_name</td>
                }
                else
                {
                    <td></td>
                }
                @{
                var customerSource = CustomerSources.Where(c => c.C_Parameters_id == item.C_Customer_source).FirstOrDefault();
                }
                @if (customerSource != null)
                {
                    <td>@customerSource.C_Parameters_name</td>
                }
                else
                {
                    <td></td>
                }
                @{
                var customerLoyalty = CustomerLoyaltys.Where(c => c.C_Parameters_id == item.C_Customer_loyalty).FirstOrDefault();
                }
                @if (customerLoyalty != null)
                {
                    <td>@customerLoyalty.C_Parameters_name</td>
                }
                else
                {
                    <td></td>
                }
                <td>@item.C_Customer_consultant_name</td>
                <td>@(item.C_Customer_lastContactDate == null ? "" : item.C_Customer_lastContactDate.Value.ToString("yyyy-MM-dd"))</td>
                @{
                var issignedstate = IsSignedStates.Where(c => c.C_Parameters_id == item.C_Customer_isSignedState).FirstOrDefault();
                }
                @if (issignedstate != null)
                {
                    <td>@issignedstate.C_Parameters_name</td>
                }
                else
                {
                    <td></td>
                }
                @{
                var signedstate = SignedStates.Where(c => c.C_Parameters_id == item.C_Customer_signedState).FirstOrDefault();
                }
                @if (signedstate != null)
                {
                    <td>@signedstate.C_Parameters_name</td>
                }
                else
                {
                    <td></td>
                }
                <td>@item.C_Customer_remark</td>
            </tr>
        }
    </tbody>
</table>    