@model IEnumerable<CommonService.Model.C_Parameters>
@{
    CommonService.Model.CustomerForm.F_FormProperty formPropertyValue = ViewBag.FormPropertyValue;//表单属性值数据实体
    int index = 0;
}
<select name="formproperty_@formPropertyValue.V_FormPropertyValue_Code" id="formproperty_@formPropertyValue.V_FormPropertyValue_Code">
    @if (String.IsNullOrEmpty(formPropertyValue.V_FormPropertyValue_Value))
    {
       foreach (var dropItem in Model)
       {
           if (index == 0)
           {
               <option selected="selected" value="@dropItem.C_Parameters_id">@dropItem.C_Parameters_name</option>
           }
           else
           {
               <option value="@dropItem.C_Parameters_id">@dropItem.C_Parameters_name</option>  
           }
           index++;          
       }
    }
    else
    {
       foreach (var dropItem in Model)
       {
           if (dropItem.C_Parameters_id.ToString() == formPropertyValue.V_FormPropertyValue_Value)
           {
               <option selected="selected" value="@dropItem.C_Parameters_id">@dropItem.C_Parameters_name</option>
           }
           else
           {
               <option value="@dropItem.C_Parameters_id">@dropItem.C_Parameters_name</option>  
           }                  
       }
    }
</select>