@using CommonService.Model.FlowManager;
@using CommonService.Common;
@using Context;
@using CommonService.Model.CustomerForm;
@using CommonService.Model.SysManager;
@model IEnumerable<CommonService.Model.FlowManager.P_Business_flow_form>
@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link href="/theme/css/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="/theme/css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/theme/js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="/theme/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/theme/js/jquery.dialogextend.1_0_1.js"></script>
    <script type="text/javascript" src="/theme/js/basedialog.js"></script>
    <script type="text/javascript" src="/theme/js/tab.js"></script>
    <script type="text/javascript" src="/theme/js/alertMsg.js"></script>
    <script type="text/javascript" src="/theme/js/alertDialog.js"></script>
    <script type="text/javascript" src="/theme/js/ajaxdone.js"></script>

    <style type="text/css">
        .greygreen {
            display: block;
            margin-top: 5px;
            width: 84px;
            height: 30px;
            color: #fff;
            background: #76d17f;
            font-weight: bold;
            border-radius: 2px;
            text-align: center;
            line-height: 30px;
            cursor: pointer;
        }

            .greygreen:hover {
                color: #fff;
                background: #d98c1d;
            }

        .itab ul li {
            margin-bottom: 1px;
        }

            .itab ul li a.noSubmitTabFontColor {
                color: #000;
                font-weight: bold;
            }

            .itab ul li a.no_1SubmitTabFontColor {
                color: #AC240D;
                font-weight: bold;
            }

            /*未提交*/
            .itab ul li a.hasCheckPassTabFontColor {
                color: #037bb3;
                font-weight: bold;
            }
            /*已审核通过*/
            .itab ul li a.hasSubmitCheckTabFontColor {
                color: #186a30;
                font-weight: bold;
            }
            /*已提交审核*/
            .itab ul li.myJob {
                background: #d7f3f9;
            }

        .tableDetails {
            width: 240px;
            /*height: 240px;*/
            margin-top: 0px;
            margin-left: 0px;
            display: none;
            border: 1px solid silver;
            background: #e9f8f8;
        }

        .flowDetails {
            width: 250px;
            /*height: 240px;*/
            margin-top: -232px;
            margin-left: 60px;
            display: none;
            border: 1px solid silver;
            background: #e9f8f8;
        }

        .DescDetails {
            width: 240px;
            height: 240px;
            margin-top: -240px;
            margin-left: 60px;
            display: none;
            border: 1px solid silver;
            background: #e9f8f8;
        }

        .tjjyDetails {
            width: 400px;
            height: 180px;
            display: none;
            border: 1px solid silver;
            background: #e9f8f8;
        }

        .submitsummarylist {
            width: 300px;
            height: 180px;
            margin-top: -190px;
            margin-left: 60px;
            display: none;
            border: 1px solid silver;
            background: silver;
        }

        .auditsummarylist {
            width: 300px;
            height: 180px;
            margin-top: -190px;
            margin-left: 60px;
            display: none;
            border: 1px solid silver;
            background: silver;
        }

        .divDetails {
            width: 240px;
            height: 180px;
            margin-top: -190px;
            margin-left: 60px;
            display: none;
            border: 1px solid silver;
            background: #e9f8f8;
        }

        .formbody {
            padding-top: 0px;
            padding-right: 0px;
            padding-left: 10px;
        }

        .imgNav {
            margin-bottom: 5px;
        }

            .imgNav img {
                width: 30px;
                height: 30px;
                margin-right: 5px;
                border: none;
            }

            .imgNav span {
                color: #999999;
                cursor: pointer;
            }

            .imgNav img, span {
                vertical-align: middle;
            }

        .complex_btn_operate li img {
            height: 20px;
            line-height: 20px;
            float: right;
        }
    </style>
</head>
@{
    CommonService.Model.FlowManager.P_Business_flow businessFlow = ViewBag.BusinessFlow;
    string fkType = ViewBag.fkType;
    string pkCode = ViewBag.PkCode;
    string businessFlowCode = ViewBag.BusinessFlowCode;
    bool isFromReDoneFormNav = ViewBag.IsFromReDoneFormNav;
    string reDoneBusinessFormCode = ViewBag.ReDoneBusinessFormCode;
    List<C_Role_Role_Power> roleRolePowers = ViewBag.RoleRolePowers;//角色权限

    bool isShowEndCaseBtn = ViewBag.IsShowEndCaseBtn;//是否显示"结案确认"按钮(只有案件才有此功能)
    bool isShowSubmitCheckBtn = ViewBag.IsShowSubmitCheckBtn;//是否显示"提交审查"按钮(只有商机才有此功能)
    bool isShowMinisterCheckBtn = ViewBag.IsShowMinisterCheckBtn;//是否显示"部长审查"按钮(只有商机才有此功能)
    bool isShowChiefCheckBtn = ViewBag.IsShowChiefCheckBtn;//是否显示"首席审查"按钮(只有商机才有此功能)
}
<body>
    @{

        //导航到OA系统，默认参数设置
        string casePer = ViewBag.casePer;
        string flowPer = ViewBag.flowPer;
        string caseGw = ViewBag.caseGw;
        string secretKey = Encryption.GetSecretKey();

        //string id = Model.Count() > 0 ? Model.FirstOrDefault().P_Business_flow_form_code.ToString() : Guid.Empty.ToString();
        int isFormPer2 = 0;
        string id = String.Empty;
        CommonService.Model.FlowManager.P_Business_flow_form oneModel;
        if (isFromReDoneFormNav)
        {//从表单重做导航而来
            id = reDoneBusinessFormCode;
            oneModel = Model.Where(p => p.P_Business_flow_form_code.ToString().ToLower() == reDoneBusinessFormCode.ToLower()).FirstOrDefault();
        }
        else
        {
            id = Model.Count() > 0 ? Model.FirstOrDefault().P_Business_flow_form_code.ToString() : Guid.Empty.ToString();
            oneModel = Model.FirstOrDefault();
        }
        string defaultForm_code = oneModel.F_Form_code.ToString();
        if (UIContext.Current.IsPreSetManager)
        {
            isFormPer2 = 1;
        }
        else
        {
            if (oneModel == null)
            {
                isFormPer2 = 0;
            }
            else
            {
                if (oneModel.P_Business_flow_form_person == UIContext.Current.UserCode || flowPer == UIContext.Current.UserCode.ToString() || caseGw == UIContext.Current.UserCode.ToString())
                {
                    isFormPer2 = 1;
                }
            }
        }
        string navFeereimbursement = "submitform_feereimbursement_" + fkType;//费用报销单标识
        string keyFeereimbursement = id + navFeereimbursement + secretKey;//费用报销单加密key
        keyFeereimbursement = Encryption.GetMd5(keyFeereimbursement);
        string oafeereimbursementlink = "/home/oadefault?id=" + id + "&nav=" + navFeereimbursement + "&key=" + keyFeereimbursement + "&FP=" + isFormPer2;//费用报销导航链接

        string navFeeLoan = "submitform_feeLoan_" + fkType;//费用借款单标识
        string keyFeeLoan = id + navFeeLoan + secretKey;//费用借款单加密key
        keyFeeLoan = Encryption.GetMd5(keyFeeLoan);

        string fincaneBtnClass = string.Empty;
        if (isFormPer2 == 0)
        {
            fincaneBtnClass = "class=hide";
        }

        string oafeeLoanlink = "/home/oadefault?id=" + id + "&nav=" + navFeeLoan + "&key=" + keyFeeLoan + "&FP=" + isFormPer2;//费用借款导航链接
        var IsBusinessChancePerson = ViewBag.IsBusinessChancePerson;

    }
    <div class="formbody" style="overflow-y:auto;">
        <div class="fr imgNav">
            @if (Convert.ToInt32(fkType) == Convert.ToInt32(FlowTypeEnum.案件))
            {
                <a href="" id="opentypicalList" target="_blank"></a>
                <a href="" id="openhelpa" target="_blank"></a>
                @*<a href="#" onclick="opentypicalList()"><img src="~/Theme/images/typical.png" style=" width:30px;height:30px;" /></a>*@
                <a href="#" onclick="openhelp()" ><img src="~/Theme/images/helpicon.png" style=" width:30px;height:30px;" /></a>
                <a href="#" onclick="opewh('@ViewBag.PkCode', '@ViewBag.BusinessFlowCode')"><span id="divform" style="color: #037bb3; font-weight: bold;">案件维护&nbsp;&nbsp;&nbsp;</span></a><a title="帮助" href=""></a>

                <a title="报销借款" href="#" @fincaneBtnClass=fincaneBtnClass onclick="omover_RL()" onmouseout="omout_RL()"><span id="divform" style="color: #037bb3; font-weight: bold;">报销借款&nbsp;&nbsp;&nbsp;</span></a>
                <ul id="ReimbursementLoan" class="complex_btn_operate" style="display: none;">
                    <li style="line-height: 25px; text-align:center; border-bottom: 2px solid #037bb3;"><a id="oafeereimbursementlink" @fincaneBtnClass=fincaneBtnClass finance="finance" title="费用报销" href="@oafeereimbursementlink" target="_blank">费用报销</a></li>
                    <li style="line-height: 25px; text-align: center;"><a @fincaneBtnClass=fincaneBtnClass finance="finance" id="oafeeLoanlink" title="费用借款" href="@oafeeLoanlink" target="_blank">费用借款</a></li>
                    <li style="line-height: 25px;"><img src="/Theme/images/close.png" onclick="closeOperateDv('ReimbursementLoan')" style=" width:15px; height:15px;" /> </li>
                </ul>
                if (ViewBag.Fstate == 1)
                {
                    <a title="稽查" href="#" onclick="omover_Jc()" onmouseout="omout_Jc()"><span id="divform" style="color: #037bb3; font-weight: bold;">稽查&nbsp;&nbsp;&nbsp;</span></a>

                    <ul id="Milepost" class="complex_btn_operate" style="display: none;">
                        <li style="line-height: 25px; text-align: center; border-bottom: 2px solid #037bb3;"><a title="非里程碑" href="#" onclick="opewh_1('/Milepost/NoMilepost/create?J_No_Milepost_Type=0', '@businessFlow.P_Fk_code')">非里程碑</a></li>
                        <li style="line-height: 25px; text-align: center;"><a title="一审稽查" href="#" onclick="opewh_1('/Milepost/Milepost/create?J_Milepost_Type=1', '@businessFlow.P_Fk_code')">一审稽查</a></li>
                        <li style="line-height: 25px; text-align: center;"><a title="二审稽查" href="#" onclick="opewh_1('/Milepost/Milepost/create?J_Milepost_Type=2', '@businessFlow.P_Fk_code')">二审稽查</a></li>
                        <li style="line-height: 25px; text-align: center;"><a title="执行稽查" href="#" onclick="opewh_1('/Milepost/Milepost/create?J_Milepost_Type=3', '@businessFlow.P_Fk_code')">执行稽查</a></li>
                        <li style="line-height: 25px;"><img src="/Theme/images/close.png" onclick="closeOperateDv('Milepost')" style=" width:15px; height:15px;" /></li>
                    </ul>
                }

                if (roleRolePowers.Where(p => p.C_Role_Power_id == 22).Count() != 0 || UIContext.Current.IsPreSetManager)
                {
                    <a title="查看报销借款" href="#" onclick="omover_bxJc()"><span id="divform" style="color: #037bb3; font-weight: bold;">查看报销借款&nbsp;&nbsp;&nbsp;</span></a>
                    <ul id="ReimbursementLoan_1" class="complex_btn_operate" style="display: none;">
                        <li style="line-height: 25px; text-align: center; border-bottom: 2px solid #037bb3;"><a title="查看报销" href="#" onclick="opewh_praent('/FinanceManager/FeeReimbursement/ListByForm', '报销详情')">查看报销</a></li>
                        <li style="line-height: 25px; text-align: center;"><a title="查看借款" href="#" onclick="opewh_praent('/FinanceManager/FeeLoan/ListByForm', '报销借款')">查看借款</a></li>
                        <li style="line-height: 25px;"><img src="/Theme/images/close.png" onclick="closeOperateDv('ReimbursementLoan_1')" style=" width:15px; height:15px;" /></li>
                    </ul>

                }


            }
            <span id="divform" onmouseover="omover_div('divDetails')" onmouseout="omout_div('divDetails')">&nbsp;&nbsp;&nbsp;图例说明</span>
        </div>
        <div class="usual clear">
            <div class="itab">
                <ul>
                    @{
                        int count = 0;//自定义表单索引
                        string classStyle = String.Empty;
                        /**操作按钮显示权限标识**/
                        bool isHasEnterNextBusinessFlowPower = ViewBag.IsHasEnterNextBusinessFlowPower;
                        bool isHasSubmitFormPower = ViewBag.IsHasSubmitFormPower;
                        bool isHasCheckFormPower = ViewBag.IsHasCheckFormPower;
                        string thisTabFontClass = String.Empty;
                        string isMyJobClass = String.Empty;
                        string selectedClass = String.Empty;
                        string Flow_form_Code = "";
                    }
                    @foreach (var item in Model)
                    {
                        //检查当前表单是否为我的表单 css class
                        if (isFromReDoneFormNav)
                        {//从表单重做导航而来
                            if (item.ResponsiblePersonGuids.ToLower().Contains(UIContext.Current.UserCode.Value.ToString().ToLower()))
                            {
                                isMyJobClass = "class=myJob";
                                if (item.P_Business_flow_form_code.Value.ToString().ToLower() == reDoneBusinessFormCode.ToLower())
                                {
                                    Flow_form_Code = item.P_Business_flow_form_code.Value.ToString();
                                    classStyle = " selected2";
                                }
                                else { classStyle = ""; }
                                selectedClass = "selected2";
                            }
                            else
                            {
                                isMyJobClass = String.Empty;
                                if (item.P_Business_flow_form_code.Value.ToString().ToLower() == reDoneBusinessFormCode.ToLower())
                                {
                                    Flow_form_Code = item.P_Business_flow_form_code.Value.ToString();
                                    classStyle = " selected";
                                }
                                else { classStyle = ""; }
                                selectedClass = "selected";
                            }
                        }
                        else
                        {
                            if (item.ResponsiblePersonGuids.ToLower().Contains(UIContext.Current.UserCode.Value.ToString().ToLower()))
                            {
                                isMyJobClass = "class=myJob";
                                if (count == 0)
                                {
                                    Flow_form_Code = item.P_Business_flow_form_code.Value.ToString();
                                    classStyle = " selected2";
                                }
                                else { classStyle = ""; }
                                selectedClass = "selected2";
                            }
                            else
                            {
                                isMyJobClass = String.Empty;
                                if (count == 0)
                                {
                                    Flow_form_Code = item.P_Business_flow_form_code.Value.ToString();
                                    classStyle = " selected";
                                }
                                else { classStyle = ""; }
                                selectedClass = "selected";
                            }
                        }

                        //根据表单状态，设置表单名称 css class
                        if (item.P_Business_flow_form_status == Convert.ToInt32(FormStatusEnum.未提交))
                        {
                            thisTabFontClass = "noSubmitTabFontColor" + classStyle;
                        }
                        else if (item.P_Business_flow_form_status == Convert.ToInt32(FormStatusEnum.已通过))
                        {
                            thisTabFontClass = "hasCheckPassTabFontColor" + classStyle;
                        }
                        else if (item.P_Business_flow_form_status == Convert.ToInt32(FormStatusEnum.已提交))
                        {
                            thisTabFontClass = "hasSubmitCheckTabFontColor" + classStyle;
                        }
                        else
                        {
                            thisTabFontClass = "no_1SubmitTabFontColor" + classStyle;
                        }

                        //导航到OA系统，每个Tab页签参数设置
                        int isFormPer = 0;
                        if (UIContext.Current.IsPreSetManager)
                        {
                            isFormPer = 1;
                        }
                        else
                        {
                            if (item.P_Business_flow_form_person == UIContext.Current.UserCode || flowPer == UIContext.Current.UserCode.ToString() || caseGw == UIContext.Current.UserCode.ToString())
                            {
                                isFormPer = 1;
                            }
                        }
                        id = item.P_Business_flow_form_code.ToString();
                        navFeereimbursement = "submitform_feereimbursement_" + fkType;//费用报销单标识
                        keyFeereimbursement = id + navFeereimbursement + secretKey;//费用报销单加密key
                        keyFeereimbursement = Encryption.GetMd5(keyFeereimbursement);
                        oafeereimbursementlink = "/home/oadefault?id=" + id + "&nav=" + navFeereimbursement + "&key=" + keyFeereimbursement + "&FP=" + isFormPer;//费用报销导航链接

                        navFeeLoan = "submitform_feeLoan_" + fkType;//费用借款单标识
                        keyFeeLoan = id + navFeeLoan + secretKey;//费用借款单加密key
                        keyFeeLoan = Encryption.GetMd5(keyFeeLoan);

                        oafeeLoanlink = "/home/oadefault?id=" + id + "&nav=" + navFeeLoan + "&key=" + keyFeeLoan + "&FP=" + isFormPer;//费用借款导航链接

                        switch (item.P_Business_flow_form_type.Value)
                        {
                            case 1://普通编辑表单
                                <li @isMyJobClass=isMyJobClass onmouseover="omover_Tab(this, 'tabDetails')" formcode="@item.F_Form_code" businessflowformcode="@item.P_Business_flow_form_code" onmouseout=" omout_Tab(this, 'tabDetails')"><a oafeereimbursementlink="@oafeereimbursementlink" onclick="setform_fromCode('@item.P_Business_flow_form_code','@item.F_Form_code')" oafeeloanlink="@oafeeLoanlink" selectedclass="@selectedClass" class="@thisTabFontClass" href="/CustomerForm/FormPropertyValue/GenerateSingleEidt?formCode=@item.F_Form_code&businessFlowFormCode=@item.P_Business_flow_form_code&businessFlowCode=@businessFlowCode&fkType=@fkType&pkCode=@pkCode" tabpanelwidth="100%" tabpanelheight="600" title="@item.F_Form_chineseName">@item.F_Form_chineseName</a></li>
                                break;
                            case 2://tab容器
                            <li @isMyJobClass=isMyJobClass onmouseover="omover_Tab(this, 'tabDetails')" formcode="@item.F_Form_code" businessflowformcode="@item.P_Business_flow_form_code" onmouseout=" omout_Tab(this, 'tabDetails')"><a oafeereimbursementlink="@oafeereimbursementlink" onclick="setform_fromCode('@item.P_Business_flow_form_code','@item.F_Form_code')" oafeeloanlink="@oafeeLoanlink" selectedclass="@selectedClass" class="@thisTabFontClass" href="/CustomerForm/FormPropertyValue/LayoutChildrenTabs?formCode=@item.F_Form_code&businessFlowFormCode=@item.P_Business_flow_form_code&formPropertyCode=@item.P_Business_flow_form_propertyCode&businessFlowCode=@businessFlowCode&fkType=@fkType&pkCode=@pkCode" tabpanelwidth="100%" tabpanelheight="600">@item.F_Form_chineseName</a></li>
                                break;
                            case 3://含有主子结构的表单
                            <li @isMyJobClass=isMyJobClass onmouseover="omover_Tab(this, 'tabDetails')" formcode="@item.F_Form_code" businessflowformcode="@item.P_Business_flow_form_code" onmouseout=" omout_Tab(this, 'tabDetails')"><a oafeereimbursementlink="@oafeereimbursementlink" onclick="setform_fromCode('@item.P_Business_flow_form_code','@item.F_Form_code')" oafeeloanlink="@oafeeLoanlink" selectedclass="@selectedClass" class="@thisTabFontClass" href="/CustomerForm/FormPropertyValue/LayoutHeadAndMulityItems?formCode=@item.F_Form_code&businessFlowFormCode=@item.P_Business_flow_form_code&businessFlowCode=@businessFlowCode&fkType=@fkType&pkCode=@pkCode" tabpanelwidth="100%" tabpanelheight="600">@item.F_Form_chineseName</a></li>
                                break;
                            case 4://含有子明细表单(暂时没有实现)
                            <li @isMyJobClass=isMyJobClass><a selectedclass="@selectedClass" onclick="setform_fromCode('@item.P_Business_flow_form_code','@item.F_Form_code')" class="@thisTabFontClass" href="/CustomerForm/FormPropertyValue/LayoutHeadAndMulityItems" tabpanelwidth="100%" tabpanelheight="650">@item.F_Form_chineseName</a></li>
                                break;
                        }
                        count++;
                    }
                </ul>
            </div>
        </div>

        <table businessperatetoolbar="businessperatetoolbar" border="0" width="100%" height="40" align="right">
            <tr>
                <td>
                    <div class="fr margin_left8" onclick="omover(this, 'flowDetails')" onmouseout="omout(this, 'flowDetails')" style="color:blue;float:left;margin-left:45px; cursor:pointer;">流程详情</div>
                    <div class="fr margin_left8" onmouseout="omout_Tj(this, 'tjjyDetails')" onclick="    omover_Tj(this, 'tjjyDetails')" style="color:blue;float:left;margin-left:45px; cursor:pointer;">提交纪要</div>
                    <div class="fr margin_left8" onmouseout="omout_Tj(this, 'shjyDetails')" onclick="    omover_Tj(this, 'shjyDetails')" style="color: blue; float: left; margin-left: 45px; cursor: pointer;">审核记录</div>
                    @if (Convert.ToInt32(fkType) == Convert.ToInt32(FlowTypeEnum.案件))
                    {
                        @*if (isShowEndCaseBtn)
                            {
                                <div class="fr margin_left8"><a style=" padding-left:10px;padding-right:10px;" class="endcase" target="popdialog" title="结案确认" dialogwidth="900" dialogheight="510" href="/casemanager/endcase/confirm?fkCode=@pkCode&businessFlowCode=@businessFlowCode">结案确认</a></div>
                            }*@
                        var IsBusinessPerson = ViewBag.IsBusinessPerson;
                        var IsCasePerson = ViewBag.IsCasePerson;
                        <div class="fr margin_left8" ><a style=" padding-left: 10px; padding-right: 10px; background-color: #FFBB77"  class="enter" title="存典型案例" onclick="OpenTypical()">存典型案例</a></div>
                        if (isHasEnterNextBusinessFlowPower)
                        {
                            <div class="fr margin_left8"><a style=" padding-left:10px;padding-right:10px;" class="enter" target="popdialog" title="进入下一流程" dialogwidth="1200" dialogheight="660" href="/casemanager/casestart/defaultlayout?businessFlowCode=@businessFlowCode&pkCode=@pkCode&fkType=@fkType">进入下一流程</a></div>
                        }
                        if (IsBusinessPerson || UIContext.Current.IsPreSetManager || IsCasePerson)
                        {
                            <div class="fr margin_left8"><a style=" padding-left:10px;padding-right:10px;" class="enter" target="popdialog" title="执行--案件计划" dialogwidth="1200" dialogheight="610" href="/casemanager/caseplan/tabdetails?fkCode=@pkCode&businessFlowCode=@businessFlowCode">执行--案件计划</a></div>
                        }
                    }
                    else
                    {
                        var IsBusinessPerson = ViewBag.IsBusinessPerson;
                        @*if (IsBusinessPerson || UIContext.Current.IsPreSetManager)
                            {
                                <div class="fr margin_left8"><a style=" padding-left:10px;padding-right:10px;" class="enter" target="popdialog" title="进入下一流程" dialogwidth="1200" dialogheight="610" href="/casemanager/casestart/defaultlayout?businessFlowCode=@businessFlowCode&pkCode=@pkCode&fkType=@fkType">进入下一流程</a></div>
                            }
                            if (IsBusinessPerson || UIContext.Current.IsPreSetManager || IsBusinessChancePerson)
                            {
                                <div class="fr margin_left8"><a style=" padding-left:10px;padding-right:10px;" class="enter" target="popdialog" title="执行--商机计划" dialogwidth="1200" dialogheight="610" href="/BusinessChanceManager/BusinessChance/BusinessChancePlan?businessChanceCode=@pkCode">执行--商机计划</a></div>
                            }*@
                        if (IsBusinessPerson || UIContext.Current.IsPreSetManager || IsBusinessChancePerson)
                        {
                            <div class="fr margin_left8"><a style="padding-left:10px;padding-right:10px;" class="greygreen" target="popdialog" title="配置表单" dialogwidth="1200" dialogheight="720" closedialog="refreshPageAfterClose()" href="/flowmanager/businessflow/businesschancedefaultlayout_brief?fkCode=@pkCode&flowCode=@businessFlowCode">配置表单</a></div>
                        }
                        if (isShowSubmitCheckBtn)
                        {
                            <div class="fr margin_left8"><a style="padding-left:10px;padding-right:10px;" class="greygreen" target="submitCheck" title="您确定要提交商机审查吗？" href="/BusinessChanceManager/ChanceCrossForm/SubmitCheck?fkCode=@pkCode">提交审查</a></div>
                        }
                        if (isShowMinisterCheckBtn)
                        {
                            <div class="fr margin_left8"><a style="padding-left:10px;padding-right:10px;" class="greygreen" target="popdialog" title="商机审查" dialogwidth="1200" dialogheight="720" href="/BusinessChanceManager/ChanceCrossForm/MinisterCheck?fkCode=@pkCode">商机审查</a></div>
                        }
                        if (isShowChiefCheckBtn)
                        {
                            <div class="fr margin_left8"><a style="padding-left:10px;padding-right:10px;" class="greygreen" target="popdialog" title="商机审查" dialogwidth="1200" dialogheight="720" href="/BusinessChanceManager/ChanceCrossForm/ChiefCheck?fkCode=@pkCode">商机审查</a></div>
                        }
                    }
                    @if (isHasCheckFormPower)
                    {
                        <div class="fr margin_left8"><a class="enter" target="popdialog" title="审核表单" dialogwidth="1200" dialogheight="650" href="/customerform/formcheck/layoutcheck?businessFlowCode=@businessFlowCode&fkType=@fkType">审核</a></div>
                    }
                    @if (isHasSubmitFormPower)
                    {
                        <div class="fr margin_left8"><a class="enter" target="popdialog" title="提交表单" dialogwidth="1200" dialogheight="650" href="/customerform/formcheck/layoutsubmit?businessFlowCode=@businessFlowCode&fkType=@fkType">提交</a></div>
                    }
                    @*@if (Convert.ToInt32(fkType) == Convert.ToInt32(FlowTypeEnum.商机))
                        {
                            var IsBusinessFlowStatus = ViewBag.IsBusinessFlowStatus;
                            var businessFlowName = ViewBag.businessFlowName;
                            var title = "确认要审核通过该流程并开启<br>" + businessFlowName + "流程吗?";
                            if (IsBusinessFlowStatus)
                            {
                                <div class="fr margin_left8"><a class="enter" target="ajaxtodo" title=@title singleoperate="singleoperate" href="/casemanager/casestart/CheckBusinessFlow?businessFlowCode=@businessFlowCode&fkType=@fkType">审核流程</a></div>
                            }
                        }*@
                        @*@if (Convert.ToInt32(fkType) == Convert.ToInt32(FlowTypeEnum.商机))
                            {
                                var IsPresentation=ViewBag.IsPresentation;
                                if (IsPresentation)
                                {
                                    if (IsBusinessChancePerson || UIContext.Current.IsPreSetManager)
                                    {
                                        <div class="fr margin_left8"><a class="enter" style="width: auto; padding-left: 10px; padding-right: 10px;" target="popdialog" title="转化为案件-审查" dialogwidth="1200" dialogheight="730" href="/BusinessChanceManager/BusinessChance/TabDetails?businessChanceCode=@ViewBag.PkCode&type=2">转化为案件-审查</a></div>
                                    }
                                }
                            }*@
                    </td>
                </tr>
            </table>
        </div>

        <div class="flowDetails" id="flowDetails" style="position:absolute; left:0px; top:671px;" onmousemove="omover(this, 'flowDetails')" onmouseout="omout(this, 'flowDetails')">
            <table border="1" cellpadding="5" cellspacing="5" style=" margin-left:10px;">
                <thead>
                    <tr style="height:30px;">
                        <th style="width:39%;">流程详情</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="height:30px;">
                        <td>计划开始日期：</td>
                        <td>@businessFlow.P_Business_flow_planStartTime</td>
                    </tr>
                    <tr style="height:30px;">
                        <td>计划结束日期：</td>
                        <td>@businessFlow.P_Business_flow_planEndTime</td>
                    </tr>
                    <tr style="height:30px;">
                        <td>实际开始日期：</td>
                        <td>@businessFlow.P_Business_flow_factStartTime</td>
                    </tr>
                    <tr style="height:30px;">
                        <td>实际结束日期：</td>
                        <td>@businessFlow.P_Business_flow_factEndTime</td>
                    </tr>
                    <tr style="height:30px;">
                        <td>启动人：</td>
                        <td>@businessFlow.P_Business_startPerson_name</td>
                    </tr>
                    @{
                        if (Convert.ToInt32(fkType) == Convert.ToInt32(FlowTypeEnum.案件))
                        {
                            <tr style="height:30px;">
                                <td>主办律师：</td>
                                <td>@businessFlow.P_Business_person_name</td>
                            </tr>
                        }
                        else
                        {
                            <tr style="height:30px;">
                                <td>专业顾问：</td>
                                <td>@businessFlow.P_Business_person_name</td>
                            </tr>
                        }
                    }
                    <tr style="height:30px;">
                        <td>流程需求：</td>
                        <td>@businessFlow.P_Business_flow_require</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="tabDetails" class="tableDetails" style="position:absolute; left:0px; top:260px;height:180px;">
            <table border="1" cellpadding="5" cellspacing="5" style=" margin-left:10px;">

                <tr style="height:30px;">
                    <th>表单情况</th>
                    <th></th>
                </tr>

                <tr style="height:30px;">
                    <td>计划开始日期：</td>
                    <td><span id="planStartTime"></span></td>
                </tr>
                <tr style="height:30px;">
                    <td>计划结束日期：</td>
                    <td><span id="planEndTime"></span></td>
                </tr>
                <tr style="height:30px;">
                    <td>实际开始日期：</td>
                    <td><span id="factStartTime"></span></td>
                </tr>
                <tr style="height:30px;">
                    <td>实际结束日期：</td>
                    <td><span id="factEndTime"></span></td>
                </tr>
                <tr style="height:30px;">
                    <td>承办律师：</td>
                    <td><span id="cb_Person"></span></td>
                </tr>



            </table>
        </div>

        <div id="divDetails" class="DescDetails" style="position:absolute; left:0px; top:200px; ">
            <table border="1" cellpadding="5" cellspacing="5" style=" margin-left: 40px; text-align: center;">
                <tr>
                    <td colspan="2" style="font-size: 22px; font-weight: bold;">图例</td>
                </tr>
                <tr style="height:30px;">
                    <td><div style=" width: 45px; background-color: #99FFFF; height: 16px;"></div></td>
                    <td>我的任务</td>
                </tr>
                <tr style="height:30px;">
                    <td><div style="width: 45px; background-color: #FFFFFF; height: 16px; "></div></td>
                    <td>他人的任务</td>
                </tr>
                <tr style="height:30px;">
                    <td><span style="font-size: 25px; font-weight: bold;">●</span></td>
                    <td>未提交的任务</td>
                </tr>
                <tr style="height:30px;">
                    <td><span style="font-size: 25px; font-weight: bold; color: #33CCFF; ">●</span></td>
                    <td>已审核通过的任务</td>
                </tr>
                <tr style="height:30px;">
                    <td><span style="font-size: 25px; font-weight: bold; color: #009933;">●</span></td>
                    <td>已提交审核的任务</td>
                </tr>
                <tr style="height:30px;">
                    <td><span style="font-size: 25px; font-weight: bold; color:#AC240D; ">●</span></td>
                    <td>已驳回的任务</td>
                </tr>
            </table>
        </div>

        <div id="tjjyDetails" class="tjjyDetails" style="overflow: auto; border: 1px solid #000000; height:180px;" onmouseout="omout_Tj(this, 'tjjyDetails')" onmouseover="omover_Tj(this, 'tjjyDetails')">
            <table border="1" cellpadding="5" cellspacing="5" style=" margin-left: 10px; ">

                <tr style="height:30px;">
                    <th width="80px;">提交人</th>
                    <th>表单名称</th>
                    <th width="100px;">日期</th>
                    <th width="100px">纪要</th>
                </tr>

                @{
                    var List = ViewBag.F_FormCheckList as List<CommonService.Model.CustomerForm.F_FormCheck>;
                    foreach (var item in List)
                    {

                        <tr style="height:30px;">
                            <td align="center">@item.F_FormCheck_creator_name</td>
                            <td align="center">@item.F_FormCheck_business_flow_form_name</td>
                            <td align="center">@item.F_FormCheck_createTime.Value.ToString("yyyy-MM-dd")</td>
                            <td align="center">@item.F_FormCheck_submitInfo</td>
                        </tr>
                    }
                }
            </table>
        </div>

        <div id="shjyDetails" class="tjjyDetails" style="overflow: auto; border: 1px solid #000000; height:180px;" onmouseout="omout_Tj(this, 'shjyDetails')" onmouseover="    omover_Tj(this, 'shjyDetails')">
            <table border="1" cellpadding="5" cellspacing="5" style=" margin-left: 10px; ">

                <tr style="height:30px;">
                    <th width="80px;">审核人</th>
                    <th>表单名称</th>
                    <th width="100px;">日期</th>
                    <th width="100px">审核内容</th>
                </tr>

                @{
                    var List_sh = ViewBag.F_FormCheckList_Audt as List<CommonService.Model.CustomerForm.F_FormCheck>;
                    foreach (var item in List_sh)
                    {

                        <tr style="height:30px;">
                            <td align="center">@item.F_FormCheck_checkPerson_name</td>
                            <td align="center">@item.F_FormCheck_business_flow_form_name</td>
                            <td align="center">@item.F_FormCheck_checkDate.Value.ToString("yyyy-MM-dd")</td>
                            <td align="center">@item.F_FormCheck_content</td>
                        </tr>
                    }
                }
            </table>
        </div>
    </body>
</html>
<script type="text/javascript">
    $(function () {
        var $businessoperatetoolbar = $("table[businessperatetoolbar=businessperatetoolbar]");
        $("a[target=popdialog]", $businessoperatetoolbar).each(function () {
            $(this).click(function (event) {
                event.preventDefault();
                var $this = $(this);

                //替换url参数
                var switchUrl = $this.attr("href");
                if ($this.attr('closedialog')) {//含有关闭事件的打开
                    _openDialogHaveCloseEvent($(this).attr("title"), switchUrl, $(this).attr("dialogwidth"), $(this).attr("dialogheight"), $this.attr('closedialog'));
                } else {//普通打开
                    _openDialog($(this).attr("title"), switchUrl, $(this).attr("dialogwidth"), $(this).attr("dialogheight"));
                }
            });
        });

        $("a[target=ajaxtodo]", $businessoperatetoolbar).each(function () {
            $(this).click(function (event) {
                event.preventDefault();
                var $this = $(this);

                //替换url参数
                var switchUrl = $this.attr("href");
                //_openDialog($(this).attr("title"), switchUrl, $(this).attr("dialogwidth"), $(this).attr("dialogheight"));
                alertMsg.confirm($this.attr('title'), {
                    okCall: function () {
                        $.ajax({
                            type: 'POST',
                            url: switchUrl,
                            data: null,
                            dataType: "json",
                            cache: false,
                            success: navAjaxDone,
                            error: function () {
                                alert('网络错误，请稍后再试!');
                            }
                        });
                    }
                });
            });
        });
        //专指提交审查(商机中用)
        $("a[target=submitCheck]", $businessoperatetoolbar).each(function () {
            $(this).click(function (event) {
                event.preventDefault();
                var $this = $(this);

                //替换url参数
                var switchUrl = $this.attr("href");

                alertMsg.confirm($this.attr('title'), {
                    okCall: function () {
                        $.ajax({
                            type: 'POST',
                            url: switchUrl,
                            data: null,
                            dataType: "json",
                            cache: false,
                            success: dialogAjaxDone,
                            error: function () {
                                alert('网络错误，请稍后再试!');
                            }
                        });
                    }
                });
            });
        });

    });
    //关闭配置表单页面时，刷新当前页面
    function refreshPageAfterClose() {
        window.location.reload();
    }

    function omover(obj, id) {
        var objDiv = $("#" + id + "");
        $(objDiv).css("display", "block");
    }
    function omout(obj, id) {
        var objDiv = $("#" + id + "");
        $(objDiv).css("display", "none");
    }

    var status = 0;
    function omover_Tj(obj, id) {

        //初始化
        $("#shjyDetails").css("display", "none");
        $("#tjjyDetails").css("display", "none");
        var objDiv = $("#" + id + "");
        var xPoint = window.event.clientX;
        objDiv.attr("style", "position:absolute; left:80px; top:500px; overflow: auto; border: 1px solid #000000; height:180px;");
        $(objDiv).css("display", "block");
    }

    function omout_Tj(obj, id) {
        var objDiv = $("#" + id + "");
        $(objDiv).css("display", "none");
    }


    function omover_Tab(obj, id) {
        var formcode = $(obj).attr("formcode");
        var businessflowformcode = $(obj).attr("businessflowformcode");
        var objDiv = $("#" + id + "");

        //var xPoint = window.event.clientX - 150;
        //if (xPoint < -50) {
        //    xPoint = -50;
        //}
        //objDiv.attr("style", "position:absolute; left:" + xPoint + "px; top:310px;");
        var xPoint = window.event.clientX;
        var yPoint = window.event.clientY;
        var pageWidth = $(window).width();//页面总宽度
        var tabDvWidth = 250;//打开弹出Div宽度
        if ((pageWidth - xPoint) < tabDvWidth) {
            xPoint = xPoint - (tabDvWidth - (pageWidth - xPoint));
        }

        objDiv.attr("style", "position:absolute; left:" + xPoint + "px; top:" + yPoint + "px;");

        $(objDiv).css("display", "block");

        //ajax异步调用
        $.ajax({
            type: "POST",
            async: true,
            url: "/FormPropertyValue/GetSingleForm",
            data: { formcode: formcode, businessflowformcode: businessflowformcode },
            dataType: "json",
            success: function (result) {
                $("#planStartTime").html(result[0]);
                $("#planEndTime").html(result[1]);
                $("#factStartTime").html(result[2]);
                $("#factEndTime").html(result[3]);
                $("#cb_Person").html(result[4]);
            }
        })
    }

    function omout_Tab(obj, id) {
        var objDiv = $("#" + id + "");
        var xPoint = window.event.clientX;

        objDiv.attr("style", "position:absolute; left:" + (xPoint - 60) + "px; top:260px;");
        $(objDiv).css("display", "none");
    }

    function omover_div(id) {
        var objDiv = $("#" + id + "");
        var xPoint = window.event.clientX;
        objDiv.attr("style", "position:absolute; left:" + (xPoint - 300) + "px; top:260px;");

        $(objDiv).css("display", "block");
    }
    function omout_div(id) {

        var objDiv = $("#" + id + "");
        var xPoint = window.event.clientX;

        objDiv.attr("style", "position:absolute; left:" + (xPoint - 300) + "px; top:260px;");
        $(objDiv).css("display", "none");
    }
    var Form_formCode = "@Flow_form_Code";
    var form_code = "@defaultForm_code";
    function setform_fromCode(val, formcode) {
        Form_formCode = val;
        form_code = formcode;
        //报销或借款单按钮权限处理

        //var oaUrl = $('#oafeereimbursementlink').attr('href');
        //oaUrl = oaUrl.replace(/&amp;/g, '&');
        //var isFormPer = oaUrl.split('&')[3].split('=');
        //if (isFormPer[1] == '0') {
        //    //alertMsg.warn('你没有权限！');
        //    $('#oafeereimbursementlink').css("display", "none");
        //    $('#oafeeLoanlink').css("display", "none");

        //} else {
        //    $('#oafeereimbursementlink').css("display", "block");
        //    $('#oafeeLoanlink').css("display", "block");
        //}


    }
    function openhelp() {
        $('#openhelpa').attr('href', '/kms/FormHelp/DefaultLayout?court=@ViewBag.courtItems&flow=@businessFlowCode&form=' + Form_formCode + '&caseArea=@ViewBag.caseArea');
        document.getElementById("openhelpa").click();
    }
    function opentypicalList() {
        $('#openhelpa').attr('href', '/typicalcase/typicalcase/list?businessflowCode=@businessFlowCode&flowformCode=' + Form_formCode + '');
        document.getElementById("openhelpa").click();
    }
    function opewh(val1, val2) {

        if (Form_formCode == "") {
            alert("请选择一个表单！");
            return;
        }
        _openDialog('业务流程表单', "/CaseManager/CaseMaintain/Create_New?fcasecode=" + val1 + "&flowcode=" + val2 + "&Form_formCode=" + Form_formCode, 600, 500);
    }

    function opewh_1(val, casecode) {
        _openDialog('新增稽查', val + "&casecode=" + casecode, 1100, 600);
    }

    function opewh_praent(val, title) {
        if (Form_formCode == "") {
            alert("请选择一个表单！");
            return;
        }
        if ("@UIContext.Current.IsPreSetManager" == "True") {
            window.parent.parent.parent.parent._openDialog(title, val + "?Form_formCode=" + Form_formCode, 1200, 600);
        } else {
            window.parent.parent.parent.parent.parent._openDialog(title, val + "?Form_formCode=" + Form_formCode, 1200, 600);
        }
    }

    function OpenTypical() {
        var switchUrl = "/kms/FormHelp/CreateTypical?caseCode=@pkCode&flowCode=@businessFlowCode&formCode=" + Form_formCode + "";
        $('#openhelpa').attr('href', switchUrl);
        document.getElementById("openhelpa").click();
    }

    function omover_Jc() {
        var isShow = $("#Milepost").css("display");
        if (isShow == "none") {
            var xPoint = window.event.clientX;
            $("#Milepost").attr("style", "position:absolute; left:" + (xPoint - 80) + "px; top:30px; width:80px; border: 1px solid silver;background:#e2eff8;z-index:9;");
            $("#Milepost").css("display", "block");
        } else {
            $("#Milepost").css("display", "none");
        }
    }

    function omover_RL() {
        var isShow = $("#ReimbursementLoan").css("display");
        if (isShow == "none") {
            var xPoint = window.event.clientX;
            $("#ReimbursementLoan").attr("style", "position:absolute; left:" + (xPoint - 70) + "px; top:30px;width:80px; border: 1px solid silver;background:#e2eff8;z-index:9;");
            $("#ReimbursementLoan").css("display", "block");
        } else {
            $("#ReimbursementLoan").css("display", "none");
        }
    }


    function omover_bxJc() {
        var isShow = $("#ReimbursementLoan_1").css("display");
        if (isShow == "none") {
            var xPoint = window.event.clientX;
            $("#ReimbursementLoan_1").attr("style", "position:absolute; left:" + (xPoint - 70) + "px; top:30px;width:80px; border: 1px solid silver;background:#e2eff8;z-index:9;");
            $("#ReimbursementLoan_1").css("display", "block");
        } else {
            $("#ReimbursementLoan_1").css("display", "none");
        }
    }



    //关闭操作容器
    function closeOperateDv(dvId) {
        $('#' + dvId).hide();
    }

    $(function () {
        //报销或借款单按钮权限处理
        $("a[finance=finance]").each(function () {
            $(this).click(function (event) {
                event.preventDefault();
                var $this = $(this);
                //url
                var switchUrl = $this.attr("href");

                var casePer = '@casePer';
                var flowPer = '@flowPer';
                var caseGw = '@caseGw';//暂时没用到
                if (casePer == null || flowPer == null || casePer == "" || flowPer == "") {
                    alertMsg.warn('案件流程负责人或案件负责人为空</br>请完善信息！');
                }
                else {
                    var oaUrl = switchUrl;
                    oaUrl = oaUrl.replace(/&amp;/g, '&');
                    var isFormPer = oaUrl.split('&')[3].split('=');
                    if (isFormPer[1] == '0') {
                        alertMsg.warn('你没有权限！');

                    } else {
                        top.open(oaUrl);
                    }
                }
            });
        });
    });

</script>

