@using CommonService.Model.CaseManager;
@using CommonService.Common;
@using CommonService.Model.SysManager;
@using Context;
@model  CommonService.Model.CaseManager.B_CaseMaintain

@{
    Layout = "~/Views/Shared/_EditDialogFormTemplate.cshtml";//带表单查询的列表页面固定模板
}
@{
    ViewBag.Title = "分解任务";
}
@section HeadScript{
    <script type="text/javascript">
        $(function () {
            $("a[target=popdialog_owndefine]").each(function () {
                $(this).click(function (event) {
                    $("[target=sid_Iterm]").rel;

                    alert($("[target=sid_Iterm]").rel);
                });
            });
        })
        function openCaseExecuteView(buttonPower, title, dialogwidth, dialogheight, switchUrl, isPreSetManager, roleButtonIds) {//双击打开详细页面
            var isAllowOpen = false;//是否允许打开
            if (isPreSetManager == '1') {
                isAllowOpen = true;
            } else {
                if (roleButtonIds.indexOf(buttonPower) >= 0) {
                    isAllowOpen = true;
                }
            }
            if (isAllowOpen) {
                _openDialog(title, switchUrl, dialogwidth, dialogheight);
            }
        }

        document.onkeyup = function (e) {      //onkeyup是javascript的一个事件、当按下某个键弹起 var _key; //的时触发
            if (e == null) { // ie
                _key = event.keyCode;
            } else { // firefox              //获取你按下键的keyCode
                _key = e.which;          //每个键的keyCode是不一样的
            }
            if (_key == 13) {   //判断keyCode是否是13，也就是回车键(回车的keyCode是13)
                onlySaveForm(document.getElementById('btnSave'));
            }
        }

    </script>
}@section HeadCss{
    <style type="text/css">
        .aaa:link {
            color: blue;
        }

        .aaa:hover {
            color: #74c6b9;
        }

        .aaa:visited {
            color: blue;
        }

        .textarea_bod {
            border-top: solid 1px #a7b5bc;
            border-left: solid 1px #a7b5bc;
            border-right: solid 1px #ced9df;
            border-bottom: solid 1px #ced9df;
            background: url(../images/inputbg.gif) repeat-x;
            text-indent: 5px;
        }
        .forminfo li label {
            
        }
        .textinput {
            width: 450px;
            height: 50px;
        }
        #createTime{
            width:150px;
        }

    </style>
}
@{
    List<C_Role_Role_Power> roleRolePowers = ViewBag.RoleRolePowers;//权限
    List<C_Role_button> RoleButtons = ViewBag.RoleButtons;//按钮权限
}
@{


}
<div class="formbody">
    <div class="formtitle"><span>基本信息</span></div>
    <ul class="forminfo">
        @using (Html.BeginForm("Save", "CaseMaintain", FormMethod.Post, new { id = "formUserinfo", onsubmit = "return validateCallback(this,dialogAjaxDone);" }))
        {
            @Html.Hidden("formOperateType");//表单操作类型：固定写法，只是保存，值为'onlySave';保存并且新增，值为'saveAndNewNext'

            @Html.Hidden("B_Flow_code", Model.B_Flow_code);
            @Html.Hidden("B_Case_code", Model.B_Case_code);
            @Html.Hidden("F_Form_code", Model.F_Form_code);
            @Html.Hidden("B_CaseCost_creator", Model.B_CaseCost_creator);
            @Html.Hidden("B_CaseCost_isDelete", Model.B_CaseCost_isDelete);
            @Html.Hidden("B_CaseMaintain_code", Model.B_CaseMaintain_code);
            @Html.Hidden("B_CaseMaintain_Date", Model.B_CaseMaintain_Date);
            @Html.Hidden("B_CaseMaintain_id", Model.B_CaseMaintain_id);
            <li><label>沟通时间</label>@Html.Label("B_CaseCost_createTime", (Model.B_CaseCost_createTime == null ? DateTime.Now.ToString() : Model.B_CaseCost_createTime.Value.ToString("yyyy-MM-dd")), new { @id = "createTime" })<i></i></li>
            <li><label>沟通对象</label>@Html.TextBox("B_CaseMaintain_Name", Model.B_CaseMaintain_Name, new { @class = "dfinput" })<i></i></li>
            <li><label>沟通纪要</label>@Html.TextArea("B_CaseMaintain_Content", Model.B_CaseMaintain_Content, new { maxlength = "500", @class = "textinput" })<i></i></li>
            <li><label>意见建议</label>@Html.TextArea("B_CaseMaintain_Suggest", Model.B_CaseMaintain_Suggest, new { maxlength = "500", @class = "textinput" })<i></i></li>
            <li class="buttonWrap clear"><label>&nbsp;</label><input name="" type="submit" id="btnSave" class="btn btnmr fl" value="确认保存"/></li>
        }
        </ul>
    </div>

