@using CommonService.Model.CaseManager;
@using Context;
@model IEnumerable<CommonService.Model.CaseManager.B_Case>
@{
    Layout = "~/Views/Shared/_ListSearchWithDialogTemplate.cshtml";//带表单查询的列表页面固定模板
}
@{
    ViewBag.Title = "案件维护";
}
@{
    B_Case caseConditon = ViewBag.CaseConditon;//案件条件模型
}
@section HeadScript{
    <script type="text/javascript">
        $(function () {
            $("a[target=popdialog_owndefine]").each(function () {
                $(this).click(function (event) {
                    event.preventDefault();
                    var $this = $(this);
                    //替换url参数
                    var switchUrl = $this.attr("href");
                    _openDialog($(this).attr("title"), switchUrl, $(this).attr("dialogwidth"), $(this).attr("dialogheight"));
                });
            });
        })

        function openCaseExecuteView(buttonPower, title, dialogwidth, dialogheight, switchUrl, isPreSetManager, roleButtonIds) {//双击打开详细页面
            var isAllowOpen = false;//是否允许打开
            if (isPreSetManager == '1') {
                isAllowOpen = true;
            } else {
                if (roleButtonIds.indexOf(buttonPower) >= 0) {
                    isAllowOpen = true;
                }
            }
            if (isAllowOpen) {
                _openDialog(title, switchUrl, dialogwidth, dialogheight);
            }
        }
    </script>
}@section HeadCss{
    <style type="text/css">
        .aaa:link {
            color: #000;
        }

        .aaa:hover {
            color: #000;
        }

        .aaa:visited {
            color: #000;
        }
        .seachform {
            margin-top:5px;
        }
    </style>
}
@{
    Guid? orgCode = ViewBag.OrgCode;//所属部门Guid(允许为NULL)
    Guid? postCode = ViewBag.PostCode;//所属岗位Guid(允许为NULL)
    Guid? postGroupCode = ViewBag.PostGroupCode;//所属岗位组Guid(允许为NULL)
    List<CommonService.Model.C_Parameters> Casetype = ViewBag.Case_type;
    List<CommonService.Model.C_Parameters> Casenature = ViewBag.Case_nature;
    List<CommonService.Model.C_Parameters> CasecustomerType = ViewBag.Case_customerType;
    List<CommonService.Model.C_Parameters> Case_state = ViewBag.Case_state;
    List<CommonService.Model.C_Parameters> Casesta = ViewBag.casesta;
    List<CommonService.Model.FlowManager.P_Flow> casestage = ViewBag.casestage;
    List<CommonService.Model.SysManager.C_Role_button> RoleButtons = ViewBag.RoleButtons;//按钮权限
}
<!DOCTYPE html>
<div class="tools">
    <ul class="toolbar">
        @if (UIContext.Current.IsPreSetManager)
        {
            <li><a target="popdialog" title="维护信息" dialogwidth="1200" dialogheight="800" href="/CaseManager/CaseMaintain/create"><span><img src="/theme/images/new_add.png" /></span>新增</a></li>
            <li><a target="popdialog" title="维护信息" dialogwidth="1200" dialogheight="800" edit="edit" href="/CaseManager/CaseMaintain/CaseTabDetails?caseCode={sid_Iterm}"><span><img src="/theme/images/new_edit.png" /></span>修改</a></li>
            <li><a target="ajaxtodo" title="确认要删除选中数据吗?" singleoperate="singleoperate" href="/CaseManager/CaseMaintain/deletecase?caseCode={sid_Iterm}"><span><img src="/theme/images/new_delete.png" /></span>删除</a></li>
            <li><a target="popdialog" title="维护信息" dialogwidth="1200" dialogheight="800" edit="edit" href="/CaseManager/CaseMaintain/CaseTabDetailss?caseCode={sid_Iterm}"><span><img src="/theme/images/new_view.png" /></span>详细</a></li>
        }
        else
        {
            if (RoleButtons.Where(r => r.C_Menu_buttons_id == 123).Count() != 0)
            {
                <li><a target="popdialog" title="维护信息" dialogwidth="1200" dialogheight="800" href="/CaseManager/CaseMaintain/create"><span><img src="/theme/images/new_add.png" /></span>新增</a></li>
            }
            if (RoleButtons.Where(r => r.C_Menu_buttons_id == 124).Count() != 0)
            {
                <li><a target="popdialog" title="维护信息" dialogwidth="800" dialogheight="780" edit="edit" href="/CaseManager/CaseMaintain/CaseTabDetails?caseCode={sid_Iterm}"><span><img src="/theme/images/new_edit.png" /></span>修改</a></li>
            }
            if (RoleButtons.Where(r => r.C_Menu_buttons_id == 125).Count() != 0)
            {
                <li><a target="ajaxtodo" title="确认要删除选中数据吗?" singleoperate="singleoperate" href="/CaseManager/CaseMaintain/deletecase?caseCode={sid_Iterm}"><span><img src="/theme/images/new_delete.png" /></span>删除</a></li>
            }
            if (RoleButtons.Where(r => r.C_Menu_buttons_id == 126).Count() != 0)
            {
               <li><a target="popdialog" title="维护信息" dialogwidth="1200" dialogheight="780" edit="edit" href="/CaseManager/CaseMaintain/CaseTabDetailss?caseCode={sid_Iterm}"><span><img src="/theme/images/new_view.png" /></span>详细</a></li>
            }
        }
    </ul>
    @using (Html.BeginForm("List", "CaseMaintain", FormMethod.Post, new { id = ViewBag.SearchFormID, onsubmit = "return clickSearch(this);" }))
    {
       <ul class="seachform">
                <input name="ThisPageIndex" class="ThisPageIndex" type="hidden" value="@ViewBag.ThisPageIndex" />
                <input name="IsExcutedFormSearch" class="IsExcutedFormSearch" type="hidden" value="@ViewBag.IsExcutedFormSearch" />
                @Html.Hidden("orgCode", orgCode)
                @Html.Hidden("postCode", postCode)
                @Html.Hidden("postGroupCode", postGroupCode);
                <li><label>原告/被告</label>@Html.TextBox("B_Case_name", caseConditon.B_Case_name, new { @class = "scinput" })</li>
                <li><label>案件编码</label>@Html.TextBox("B_Case_number", caseConditon.B_Case_number, new { @class = "scinput" })</li>
                <li>
                    <label>案件状态</label>
                    @{
                        IList<SelectListItem> CasestaItems = new List<SelectListItem>();
                        SelectListItem selectItemone = new SelectListItem();
                        selectItemone.Value = null;
                        selectItemone.Text = "全部";
                        CasestaItems.Add(selectItemone);
                        foreach (var item in Casesta)
                        {
                            SelectListItem selectItem = new SelectListItem();
                            selectItem.Value = item.C_Parameters_id.ToString();
                            selectItem.Text = item.C_Parameters_name;
                            if (caseConditon.B_Case_state != null)
                            {
                                if (caseConditon.B_Case_state.Value == item.C_Parameters_id)
                                {
                                    selectItem.Selected = true;
                                }
                            }
                            CasestaItems.Add(selectItem);
                        }
                    }
                    @Html.DropDownList("B_Case_state", CasestaItems, new { @class = "scinput" })<i></i>
                </li>
                <li>
                    <label>案件类型</label>
                    @{
                        IList<SelectListItem> casetypeTypeItems = new List<SelectListItem>();
                        casetypeTypeItems.Add(selectItemone);
                        foreach (var casetypeType in Casetype)
                        {
                            SelectListItem selectItem = new SelectListItem();
                            selectItem.Value = casetypeType.C_Parameters_id.ToString();
                            selectItem.Text = casetypeType.C_Parameters_name;
                            if (caseConditon.B_Case_type != null)
                            {
                                if (caseConditon.B_Case_type.Value == casetypeType.C_Parameters_id)
                                {
                                    selectItem.Selected = true;
                                }
                            }
                            casetypeTypeItems.Add(selectItem);
                        }
                    }
                    @Html.DropDownList("B_Case_type", casetypeTypeItems, new { @class = "scinput" })<i></i>
                </li>
                <li><label>&nbsp;</label><input type="submit" class="scbtn" value="查询" /></li>
            </ul>
    }
</div>

<table class="tablelist">
    <thead>
        <tr>
            <th>原告/被告</th>
            <th>预收案时间</th>
            <th>案件类型</th>
            <th>案件状态</th>
            <th>案件编码</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr target="sid_Iterm" rel="@item.B_Case_code" relname="@item.B_Case_name">
                <td><a class="aaa"  title="案件执行"  >@Maticsoft.Common.Cutout.Cut(item.B_Case_name, 15)</a></td>
                <td>@(item.B_Case_registerTime == null ? "" : item.B_Case_registerTime.Value.ToString("yyyy-MM-dd"))</td>
                @{
            var casetype = Casetype.Where(c => c.C_Parameters_id == item.B_Case_type).FirstOrDefault();
                }
                @if (casetype != null)
                {
                    <td>@casetype.C_Parameters_name</td>
                }
                else
                {
                    <td></td>
                }
                @{
            var casestate = Case_state.Where(c => c.C_Parameters_id == item.B_Case_state).FirstOrDefault();
                }
                @if (casestate != null)
                {
                    <td>@casestate.C_Parameters_name</td>
                }
                else
                {
                    <td></td>
                }
                <td>@item.B_Case_number</td>
            </tr>
        }
    </tbody>
</table>
