@model CommonService.Model.CaseManager.B_CaseRevenue
@{
    Layout = "~/Views/Shared/_EditDialogFormTemplate.cshtml";//带表单提交的编辑页面固定模板
}
@{
    ViewBag.Title = "案件收入";
}
@{
    List<CommonService.Model.C_Parameters> CaseRevenuetype = ViewBag.CaseRevenuetype;
}
@section HeadScript{
    <script type="text/javascript">
        document.onkeyup = function (e) {      //onkeyup是javascript的一个事件、当按下某个键弹起 var _key; //的时触发 
            if (e == null) { // ie  
                _key = event.keyCode;
            } else { // firefox              //获取你按下键的keyCode  
                _key = e.which;          //每个键的keyCode是不一样的  
            }
            if (_key == 13) {   //判断keyCode是否是13，也就是回车键(回车的keyCode是13)  
                onlySaveForm(document.getElementById('btnSave'));
            }
        }
    </script>
}
<div class="formbody">
    <div class="formtitle"><span>基本信息</span></div>
    <ul class="forminfo">
        @using (Html.BeginForm("Save", "CaseRevenue", FormMethod.Post, new { id = "formCaseRevenue", onsubmit = "return validateCallback(this,dialogAjaxDone);" }))
        {
            @Html.Hidden("formOperateType")//表单操作类型：固定写法，只是保存，值为'onlySave';保存并且新增，值为'saveAndNewNext'
            @Html.Hidden("B_CaseRevenue_id", Model.B_CaseRevenue_id)
            @Html.Hidden("B_CaseRevenue_code", Model.B_CaseRevenue_code)
            @Html.Hidden("B_Case_code", Model.B_Case_code)
            @Html.Hidden("B_CaseRevenue_isDelete", Model.B_CaseRevenue_isDelete)
            @Html.Hidden("B_CaseRevenue_creator", Model.B_CaseRevenue_creator)
            @Html.Hidden("B_CaseRevenue_createTime", Model.B_CaseRevenue_createTime)
            <li><label>收入类型</label>
            @{
                IList<SelectListItem> caseRevenuetypeItems = new List<SelectListItem>();
                foreach (var caseRevenuetype in CaseRevenuetype)
                {
                    SelectListItem selectItem = new SelectListItem();
                    selectItem.Value = caseRevenuetype.C_Parameters_id.ToString();
                    selectItem.Text = caseRevenuetype.C_Parameters_name;

                    caseRevenuetypeItems.Add(selectItem);
                }
            }
            @Html.DropDownList("B_CaseRevenue_type", caseRevenuetypeItems, new {@class="dfselect", requiredInput = "请选择收入类型" })<i></i></li>
            <li><label>收入金额</label>@Html.TextBox("B_CaseRevenue_amount", Model.B_CaseRevenue_amount, new { @class = "dfinput", requiredInput = "请输入金额", money = "请输入有效金额", maxlength = "50" })<i></i></li>
            <li><label>时间</label>@Html.TextBox("B_CaseRevenue_incomeTime", Model.B_CaseRevenue_incomeTime == null ? "" : Model.B_CaseRevenue_incomeTime.Value.ToString("yyyy-MM-dd"), new { date = "date", maxlength = "20", @class = "dfinput", @readonly = "readonly", dateformat = "yyyy-MM-dd" })<i></i></li>
            <li><label>备注</label>@Html.TextArea("B_CaseRevenue_remarks", Model.B_CaseRevenue_remarks, new { @class = "textinput", maxlength = "500" })<i></i></li>
           <li class="buttonWrap clear"><label>&nbsp;</label><input name="" type="button" id="btnSave" onclick="onlySaveForm(this)" class="btn btnmr fl" value="确认保存" /><i></i><input name="" id="btnSaveAndNewNext" type="button" onclick="saveAndNewNext(this)" class="btn btnmr fl" value="保存并新增下一个" /><i></i></li>
        }
    </ul>
</div>