@using CommonService.Model.CaseManager;
@model IEnumerable<CommonService.Model.CaseManager.B_CaseRevenue>
@{
    Layout = "~/Views/Shared/_ListSearchWithDialogTemplate.cshtml";//带表单查询的列表页面固定模板
}
@{
    ViewBag.Title = "案件收入信息";
}

@{
    B_CaseRevenue Conditon = ViewBag.Conditon;//条件模型
}
<div class="tools">
    <ul class="toolbar">
        <li><a target="popdialog" title="案件收入信息" dialogwidth="800" dialogheight="500" href="/casemanager/caserevenue/create?caseCode=@Conditon.B_Case_code"><span><img src="/theme/images/new_add.png" /></span>添加</a></li>
        <li><a target="popdialog" title="案件收入信息" dialogwidth="800" dialogheight="500" edit="edit" href="/casemanager/caserevenue/edit?B_CaseRevenue_id={sid_Iterm}"><span><img src="/theme/images/new_edit.png" /></span>修改</a></li>
        <li><a target="ajaxtodo" title="确认要删除选中数据吗?" singleoperate="singleoperate" href="/casemanager/caserevenue/delete?B_CaseRevenue_id={sid_Iterm}"><span><img src=" /theme/images/new_delete.png" /></span>删除</a></li>
    </ul>
</div>

<table class="tablelist">
    <thead>
        <tr>
            <th>收入类型</th>
            <th>收入金额</th>
            <th>时间</th>
            <th>备注</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr target="sid_Iterm" rel="@item.B_CaseRevenue_id" relname="@item.B_CaseRevenue_type_name">
                <td>@item.B_CaseRevenue_type_name</td>
                <td>@item.B_CaseRevenue_amount</td>
                <td>@item.B_CaseRevenue_incomeTime</td>
                <td>@item.B_CaseRevenue_remarks</td>
            </tr>
        }
    </tbody>
</table>    