@using CommonService.Model.CaseManager;
@model IEnumerable<CommonService.Model.CaseManager.B_RDetail>
@{
    Layout = "~/Views/Shared/_ListSearchWithDialogTemplate.cshtml";//带表单查询的列表页面固定模板
}
@{
    ViewBag.Title = "收款明细";
}

@{
    B_RDetail Conditon = ViewBag.Conditon;//条件模型
    List<CommonService.Model.C_Parameters> RTypes=ViewBag.RTypes;
    List<CommonService.Model.C_Parameters> PTypes = ViewBag.PTypes;
}
<div class="tools">
    <ul class="toolbar">
        <li><a target="popdialog" title="收款明细" dialogwidth="600" dialogheight="350" href="/casemanager/rdetail/create?caseCode=@Conditon.B_Case_code&type=@ViewBag.Type"><span><img src="/theme/images/new_add.png" /></span>添加</a></li>
        <li><a target="popdialog" title="收款明细" dialogwidth="600" dialogheight="350" edit="edit" href="/casemanager/rdetail/edit?rdetailId={sid_Iterm}&caseCode=@Conditon.B_Case_code&type=@ViewBag.Type"><span><img src="/theme/images/new_edit.png" /></span>修改</a></li>
        <li><a target="ajaxtodo" title="确认要删除选中数据吗?" singleoperate="singleoperate" href="/casemanager/rdetail/delete?rdetailId={sid_Iterm}"><span><img src="/theme/images/new_delete.png" /></span>删除</a></li>
    </ul>
</div>

<table class="tablelist">
    <thead>
        <tr>
            <th>时间</th>
            <th>额度</th>
            <th>收款分类</th>
            <th>付款方式</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr target="sid_Iterm" rel="@item.B_RDetail_id">
                <td>@item.B_RDetail_data</td>
                <td>@item.B_RDetail_limit</td>
                @{
                    var rtype = RTypes.Where(t => t.C_Parameters_id == item.B_RDetail_rtype).FirstOrDefault();
                }
                @if(rtype!=null)
                {
                    <td>@rtype.C_Parameters_name</td>
                }else
                {
                    <td></td>
                }
                @{
                    var ptype = PTypes.Where(t => t.C_Parameters_id == item.B_RDetail_ptype).FirstOrDefault();
                }
                @if (ptype != null)
                {
                    <td>@ptype.C_Parameters_name</td>
                }
                else
                {
                    <td></td>
                }
            </tr>
        }
    </tbody>
</table>    