@{
    Layout = "~/Views/Shared/_KMSLayout.cshtml";//KMS母版页
}
@{
    List<CommonService.Model.KMS.K_Knowledge> listK = ViewBag.listK;
    //判断当前菜单是否有主菜单，取其code
    string parentCode = "";
    if (ViewBag.knowledgeCode != null && ViewBag.knowledgeCode != "")
    {
        Guid code = new Guid(ViewBag.knowledgeCode);
        CommonService.Model.KMS.K_Knowledge menuModel = listK.SingleOrDefault(item => item.K_Knowledge_parent != null && item.K_Knowledge_code == code);
        if (menuModel != null)//如果menuModel不为空，则包含父级菜单
        {
            //获取父级菜单菜单code
            CommonService.Model.KMS.K_Knowledge parModel = listK.SingleOrDefault(par => par.K_Knowledge_code == menuModel.K_Knowledge_parent);
            parentCode = parModel.K_Knowledge_code.ToString();
        }
    }
}
@section HeadScript{
    <script type="text/javascript" src="/theme/oajs/bar.js"></script>
    <script>
        var defaultColumns = [
             { "sName": "K_Knowledge_code", "bVisible": false },
             { "sName": "K_Knowledge_name", "render": function (data, type, full) { if (data.length > 40) { data = data.substring(0, 40) + "..." } return "<a href='' style='color:#5b9bd1'>" + data + "</a>"; } },
             { "sName": "K_Knowledge_parentName" },
             { "sName": "K_Knowledge_PersonName" },
             { "sName": "K_Knowledge_createTime" },
             { "sName": "K_Knowledge_creatorName" }
        ];//table 默认列扩展
        var submitUrl = '/kms/knowledge/ajaxlist?knowledgeCode=@ViewBag.knowledgeCode';//数据获取地址
        TableManaged.init('knowledgeList', "knowledgeList_search2", defaultColumns, submitUrl);//用table id,table search id,默认列 初始化table对象

        $(function () {
            var $list_tool_dialog_toolbar = $(".list_tool_dialog_toolbar");
            $("a[operatetargettype=ajaxify]", $list_tool_dialog_toolbar).each(function () {
                $(this).click(function (event) {
                    event.preventDefault();
                    var $this = $(this);
                    var uniqueId = commonListData.uniqueId;

                    //替换url参数
                    var switchUrl = $this.attr("href").replace("{sid_Iterm}", uniqueId);
                    //关联触发打开
                    $this.attr('href', switchUrl);
                    location.href = switchUrl;
                });
            });
        })

        //左侧下拉菜单样式
        window.onload = function () {
            var liclass = '@ViewBag.knowledgeCode';//当前菜单id
            var parclass = '@parentCode';//父级菜单id
            if (liclass != null && liclass != "") {
                //$("#" + liclass).addClass('active');data-jstree='{ "selected" : true }'
                $("#" + liclass + " .knowledgeCode").attr('style', 'background:#e1e1e1;');
            }
            if (parclass != null && parclass != "") {
                //$("#" + parclass).addClass('active');
                $("#" + liclass + " .ziCode").attr("style", "background:#e1e1e1;");
                $("#" + parclass + " .knowledgeCode").attr("style", "background:#e1e1e1;");
            }
            if (liclass == "")
            {
                $("#allknowledge").attr('style', 'background:#e1e1e1;');
            }
        }
    </script>
}
<div>
    <h3 style="color: #333333; ">知识分类</h3>
    <div class="row" style="background:#fff;padding:10px 0px;">
        <div class="col-md-3">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-green-sharp bold uppercase">分类结构</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="tree_1" class="tree-demo">
                        <ul>
                            <li data-jstree='{ "opened" : true,"type" : "file" }'>
                                <a id="allknowledge" href="/kms/knowledge/list?knowledgeCode=">
                                    知识分类
                                </a>
                                <ul>
                                    @foreach (var item in listK.Where(kk => kk.K_Knowledge_parent == null))
                                    {
                                        //获取该菜单下的子菜单
                                        List<CommonService.Model.KMS.K_Knowledge> menuList = listK.Where(menu => menu.K_Knowledge_parent == item.K_Knowledge_code).ToList();
                                    <li id="@item.K_Knowledge_code" data-jstree='{ "opened" : true,"type" : "file" }'>
                                        <a class="knowledgeCode" href="/kms/knowledge/list?knowledgeCode=@item.K_Knowledge_code">
                                            @item.K_Knowledge_name
                                        </a>
                                        @if (menuList.Count() > 0)//判断是否有子菜单
                                            {
                                            <ul class="dropdown-menu">
                                                @foreach (var ziMenu in menuList)
                                                    {
                                                    <li class="" id="@ziMenu.K_Knowledge_code" data-jstree='{ "type" : "file" }'>
                                                        <a class="ziCode" href="/kms/knowledge/list?knowledgeCode=@ziMenu.K_Knowledge_code">
                                                            @ziMenu.K_Knowledge_name
                                                        </a>
                                                    </li>
                                                    }
                                            </ul>
                                            }
                                    </li>
                                    }
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9" style="border-left:1px solid #ccc;">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet box ">
                <div class="portlet-title">
                    <div class="list_tool_dialog_toolbar actions">
                        <a class="btn btn-primary btn-sm ajaxify" href="/kms/knowledge/create?knowledgeParent={sid_Iterm}" operatetargettype="ajaxify">
                            <i class="fa fa-pencil"></i> 新增
                        </a>
                        <div class="btn-group">
                            <a class="btn btn-primary btn-sm" href="javascript:;" data-toggle="dropdown">
                                <i class="fa fa-cogs"></i> 工具栏 <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="/kms/knowledge/Edit?knowledgeCode={sid_Iterm}" nodatatip="请选中信息！" operatetargettype="ajaxify">
                                        <i class="fa fa-trash-o"></i> 编辑
                                    </a>
                                </li>
                                <li>
                                    <a href="/kms/knowledge/delete?knowledgeCode={sid_Iterm}" operatetargettype="ajaxtodo" singleoperate="singleoperate" nodatatip="请选中信息！" confirmtip="确认要删除所选数据吗？">
                                        <i class="fa fa-trash-o"></i> 删除
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="knowledgeList_search2" class="row">
                        @Html.Hidden("isExecutedSearch", "0")
                        <div class="col-md-12">
                            <div class="col-md-2 pull-right">
                                <div class="btn-group pull-right">
                                    <div class="btn-group">
                                        <button class="btn green" onclick="executeSearch('knowledgeList', 'knowledgeList_search2')">
                                            查询<i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 pull-right">
                                <div class="form-group pull-right">
                                    知识分类名称：<input name="s_title" id="s_title" type="text" class="form-control input-small input-inline">
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-bordered table-hover" id="knowledgeList">
                        <thead>
                            <tr>
                                <th>知识分类Guid</th>
                                <th>知识分类名称</th>
                                <th>父级名称</th>
                                <th>负责人名称</th>
                                <th>发布时间</th>
                                <th>发布人</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--数据行在这里-->
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->
<!-- BEGIN MAIN JS -->
<!-- END MAIN JS -->