@using CommonService.Model.CaseManager;
@model IEnumerable<CommonService.Model.CaseManager.B_BearToPay>
@{
    Layout = "~/Views/Shared/_ListSearchWithDialogTemplate.cshtml";//带表单查询的列表页面固定模板
}
@{
    ViewBag.Title = "费用承担列表";
}

@{
    B_BearToPay Conditon = ViewBag.Conditon;//费用承担条件模型
}
<div class="tools">
    <ul class="toolbar">
        <li><a target="popdialog" title="费用承担信息" dialogwidth="800" dialogheight="500" edit="edit" href="/CaseManager/beartopay/edit?caseCode=@Conditon.B_Case_code&B_BearToPay_ctypes={sid_Iterm}"><span><img src="/theme/images/new_edit.png" /></span>修改</a></li>
    </ul>
</div>

<table class="tablelist">
    <thead>
        <tr>
            <th>费用类型</th>
            <th>支付方式</th>
            <th>说明</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr target="sid_Iterm" rel="@item.B_BearToPay_ctypes_id" relname="@item.B_BearToPay_ctypes_name">
                <td>@item.B_BearToPay_ctypes_name</td>
                <td>@item.B_BearToPay_pmethod_name</td>
                <td>@item.B_BearToPay_explain</td>
            </tr>
        }
    </tbody>
</table>    