@model CommonService.Model.CaseManager.B_Case_plan_Litigation
@{
    Layout = "~/Views/Shared/_EditDialogFormTemplate.cshtml";//带表单提交的编辑页面固定模板
}
@{
    ViewBag.Title = "诉讼请求";
}
@section HeadScript{
    <script type="text/javascript">
        document.onkeyup = function (e) {      //onkeyup是javascript的一个事件、当按下某个键弹起 var _key; //的时触发 
            if (e == null) { // ie  
                _key = event.keyCode;
            } else { // firefox              //获取你按下键的keyCode  
                _key = e.which;          //每个键的keyCode是不一样的  
            }
            if (_key == 13) {   //判断keyCode是否是13，也就是回车键(回车的keyCode是13)  
                onlySaveForm(document.getElementById('btnSave'));
            }
        }
    </script>
}
<div class="formbody">
    <div class="formtitle"><span>基本信息</span></div>
    <ul class="forminfo">
        @using (Html.BeginForm("SaveEdit", "Caseprogram", FormMethod.Post, new { id = "formLitigation", onsubmit = "return validateCallback(this,dialogAjaxDone);" }))
        {
            @Html.Hidden("B_Case_plan_Litigation_id", Model.B_Case_plan_Litigation_id)
            @Html.Hidden("B_Case_plan_Litigation_code", Model.B_Case_plan_Litigation_code)
            @Html.Hidden("B_Case_code", Model.B_Case_code)
            @Html.Hidden("B_Case_plan_Litigation_ParameterId", Model.B_Case_plan_Litigation_ParameterId)
            @Html.Hidden("B_Case_plan_Litigation_isDelete", Model.B_Case_plan_Litigation_isDelete)
            @Html.Hidden("B_Case_plan_Litigation_creator", Model.B_Case_plan_Litigation_creator)
            @Html.Hidden("B_Case_plan_Litigation_createTime", Model.B_Case_plan_Litigation_createTime)
            <li><label>诉讼请求名称</label>@Html.TextBox("B_Case_plan_litigation_parameter_name", Model.B_Case_plan_litigation_parameter_name, new { @class = "dfinput", @readonly = "readonly", maxlength = "100" })<i></i></li>
            <li><label>金额</label>@Html.TextBox("B_Case_plan_Litigation_Amount", Model.B_Case_plan_Litigation_Amount, new { @class = "dfinput", requiredInput = "请输入金额", money = "请输入有效金额", maxlength = "50" })<i></i></li>
            <li><label>诉讼说明</label>@Html.TextArea("B_Case_plan_Litigation_description", Model.B_Case_plan_Litigation_description, new { @class = "textinput", maxlength = "500" })<i></i></li>
            <li class="buttonWrap clear"><label>&nbsp;</label><input name="" type="button" id="btnSave" onclick="onlySaveForm(this)" class="btn btnmr fl" value="确认保存" /><i></i></li>
        }
    </ul>
</div>
