@using CommonService.Model;

@model CommonService.Model.C_Competitor
@{
    Layout = "~/Views/Shared/_EditDialogFormTemplate.cshtml";//带表单提交的编辑页面固定模板
}
@{
    ViewBag.Title = "竞争对手";
}
@{
    List<CommonService.Model.C_Parameters> CompetitorStatus = ViewBag.CompetitorStatus;
    List<CommonService.Model.C_Region> regionList = ViewBag.RegionList;
}
@section HeadScript{
    <script type="text/javascript">
        document.onkeyup = function (e) {      //onkeyup是javascript的一个事件、当按下某个键弹起 var _key; //的时触发 
            if (e == null) { // ie  
                _key = event.keyCode;
            } else { // firefox              //获取你按下键的keyCode  
                _key = e.which;          //每个键的keyCode是不一样的  
            }
            if (_key == 13) {   //判断keyCode是否是13，也就是回车键(回车的keyCode是13)  
                onlySaveForm(document.getElementById('btnSave'));
            }
        }
    </script>
}
<div class="formbody">
    <div class="formtitle"><span>基本信息</span></div>
    <ul class="forminfo">
        @using (Html.BeginForm("Save", "Competitor", FormMethod.Post, new { id = "formCompetitor", onsubmit = "return validateCallback(this,dialogAjaxDone);" }))
        {
            @Html.Hidden("formOperateType")//表单操作类型：固定写法，只是保存，值为'onlySave';保存并且新增，值为'saveAndNewNext'
            @Html.Hidden("C_Competitor_id", Model.C_Competitor_id)
            @Html.Hidden("C_Competitor_code", Model.C_Competitor_code)
            @Html.Hidden("C_Competitor_number", Model.C_Competitor_number)
            @Html.Hidden("C_Competitor_levelRisk", Model.C_Competitor_levelRisk)
            @Html.Hidden("C_Competitor_FailureMarks", Model.C_Competitor_FailureMarks)
            @Html.Hidden("C_Competitor_deleted", Model.C_Competitor_deleted)
            @Html.Hidden("C_Competitor_cTime", Model.C_Competitor_cTime)
            @Html.Hidden("C_Competitor_cUserID", Model.C_Competitor_cUserID)
            <div class="mulitytext"><label>对手名称</label>@Html.TextBox("C_Competitor_name", Model.C_Competitor_name, new { requiredInput = "请输入对手名称", maxlength = "50" })<i></i></div>
            <div class="mulitytext"><label>专业顾问</label>@Html.Hidden("mainLawyerlookup.Code", Model.C_Competitor_empNumber, new { lookupgroup = "mainLawyerlookup" })@Html.TextBox("mainLawyerlookup.Name", Model.C_Competitor_empNumber_name, new { maxlength = "50", @readonly = "readonly",  selectdialog = "selectdialog", @class = "textselect", title = "单选销售顾问", switchurl = "/sysmanager/userinfo/singlecallbackref_orgpostuserlayout", dialogwidth = "1050", dialogheight = "550", lookupgroup = "mainLawyerlookup" })<i></i></div>
            <div class="mulitytext"><label>国家</label>@Html.TextBox("C_Competitor_country", Model.C_Competitor_country, new { maxlength = "20" })<i></i></div>
            <div class="mulitytext"><label>地区</label>@Html.TextBox("C_Competitor_area", Model.C_Competitor_area, new {  maxlength = "20" })<i></i></div>
            <div class="mulitytext"><label>省份</label>@Html.TextBox("C_Competitor_province", Model.C_Competitor_province, new {  maxlength = "20" })<i></i></div>
            <div class="mulitytext"><label>城市</label>@Html.TextBox("C_Competitor_City", Model.C_Competitor_City, new { maxlength = "20" })<i></i></div>
            <div class="mulitytext"><label>地址</label>@Html.TextBox("C_Competitor_Address", Model.C_Competitor_Address, new { maxlength = "50" })<i></i></div>
            <div class="mulitytext"><label>公司网址</label>@Html.TextBox("C_Competitor_Url", Model.C_Competitor_Url, new {  maxlength = "20" })<i></i></div>
            <div class="mulitytext"><label>状态</label>
                @{
                IList<SelectListItem> competitorStatusItems = new List<SelectListItem>();
                foreach (var competitorStatus in CompetitorStatus)
                {
                    SelectListItem selectItem = new SelectListItem();
                    selectItem.Value = competitorStatus.C_Parameters_id.ToString();
                    selectItem.Text = competitorStatus.C_Parameters_name;

                    competitorStatusItems.Add(selectItem);
                }
                }
                @Html.DropDownList("C_Competitor_Status", competitorStatusItems, new { })<i></i></div>
            <div class="mulitytext"><label>所属区域</label>
            @{
                IList<SelectListItem> regionItems = new List<SelectListItem>();
                SelectListItem item = new SelectListItem();
                item.Value = Guid.Empty.ToString() ;
                item.Text = "全部";
                regionItems.Add(item);
                foreach (var region in regionList)
                {
                    SelectListItem selectItem = new SelectListItem();
                    selectItem.Value = region.C_Region_code.ToString();
                    selectItem.Text = region.C_Region_name;

                    regionItems.Add(selectItem);
                }
                }
                @Html.DropDownList("C_Competitor_region", regionItems, new { })<i></i>
            </div>
            <div class="mulitytextarealonger"><label>主要产品</label>@Html.TextArea("C_Competitor_mainProject", Model.C_Competitor_mainProject, new { @class = "dfinput", maxlength = "500" })<i></i></div>
            <div class="mulitytextarealonger"><label>优势说明</label>@Html.TextArea("C_Competitor_advantageThat", Model.C_Competitor_advantageThat, new { @class = "dfinput", maxlength = "500" })<i></i></div>
            <div class="mulitytextarealonger"><label>主要客户</label>@Html.TextArea("C_Competitor_majorClient", Model.C_Competitor_majorClient, new { @class = "dfinput", maxlength = "20" })<i></i></div>
            <div class="buttonWrap clear"><label>&nbsp;</label><input name="" type="button" id="btnSave" onclick="onlySaveForm(this)" class="btn btnmr fl" value="确认保存" /><i></i><input name="" id="btnSaveAndNewNext" type="button" onclick="saveAndNewNext(this)" class="btn btnmr fl" value="保存并新增下一个" /><i></i></div>
        }
</ul>
</div>