@using CommonService.Common;
@using Context;
@model CommonService.Model.CaseManager.B_Case
@{
    Layout = "~/Views/Shared/_EditDialogFormTemplate.cshtml";//带表单提交的编辑页面固定模板
}
@{
    ViewBag.Title = "案件转移";
}
@{
    int type = ViewBag.type;
    List<CommonService.Model.FlowManager.P_Business_flow> BusinessFlows = ViewBag.BusinessFlows;
    CommonService.Model.SysManager.C_Userinfo userinfo = ViewBag.userinfo;
    List<CommonService.Model.CaseManager.B_CaseLevelchange> caseLevelChanges = ViewBag.caseLevelChanges;
    CommonService.Model.CaseManager.B_CaseLevelChangeRecords caseLevelChangeRecords = new CommonService.Model.CaseManager.B_CaseLevelChangeRecords();
    string TransformationTypeIdStr="";
    string TransformationTypeNameStr = "";
    string CaseLevelchangeRecord = "";
    string conversionReasons = "";
    if(type==2)
    {
        caseLevelChangeRecords = ViewBag.caseLevelChangeRecords;
        CaseLevelchangeRecord = caseLevelChangeRecords.B_CaseLevelChangeRecords_code.ToString();
        conversionReasons = caseLevelChangeRecords.B_CaseLevelChangeRecords_conversionReasons;
    }    
    string CaseLevelchangeCodeStr = "";
    foreach (CommonService.Model.CaseManager.B_CaseLevelchange item in caseLevelChanges)
    {
        TransformationTypeIdStr += item.B_CaseLevelchange_type + ",";
        TransformationTypeNameStr += item.B_CaseLevelchange_typeName;
        CaseLevelchangeCodeStr += item.B_CaseLevelchange_code + ",";
    }
    if (TransformationTypeNameStr!="")
    {
        TransformationTypeNameStr += "案";
        CaseLevelchangeCodeStr = CaseLevelchangeCodeStr.Substring(0, CaseLevelchangeCodeStr.Length-1);
    }
    //string curTime = DateTime.Now;
}
@section HeadCss{
    <style type="text/css">
         .custom {
            width: 500px;
            height:auto;
        }
         .mulitytext textarea {
            width: 300px;
        }
        table {
            border-collapse: collapse;
            border-spacing: 0;
            border: dotted 1px #c7c7c7;
        }
        table tr {
            border-bottom: dotted 1px #c7c7c7;
        }
        table tr td {
            text-indent: 12px;
            min-height: 24px;
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: left;
            padding-right: 3px;
        }
    a {
        color: blue;
        line-height: 18px;
        display: inline-block;
    }
        .leftContentPaddingLeft {
            padding-left: 5px;
        }
        .textindent {
            text-indent: 0px;
        }
        .excute {
            background: url(../images/toolbg.gif) repeat-x;
            line-height: 33px;
            height: 33px;
            border: solid 1px #d3dbde;
            float: left;
            margin-right: 5px;
            border-radius: 3px;
            behavior: url(js/pie.htc);
            cursor: pointer;
        }
            .excute a {
                padding-right: 10px;
                height: 33px;
                line-height: 33px;
                display: inline-block;
            }
            .excute span {
                float: left;
                margin-left: 10px;
                margin-right: 5px;
                margin-top: 5px;
            }
    </style>
}
@section HeadScript{
    <script type="text/javascript">
        $(function () {
            $("a[target=popdialog_owndefine]").each(function () {
                $(this).click(function (event) {
                    event.preventDefault();
                    var $this = $(this);
                    //替换url参数
                    var switchUrl = $this.attr("href");
                    _openDialog($(this).attr("title"), switchUrl, $(this).attr("dialogwidth"), $(this).attr("dialogheight"));
                });
            });
        })
        function saveForm(form)
        {
            if ('@type' == 1) {
                var TransformationTypeId = '@TransformationTypeIdStr';
                var newTransformationTypeId = $("#TransformationTypeId").val();
                if (TransformationTypeId == newTransformationTypeId) {
                    alertMsg.warn("转化类型没有任何变动！");
                    setTimeout(function () {
                        alertMsg.close();
                        parent.alertDialog.close();
                    }, 1000)
                } else {
                    onlySaveForm(form);
                }
            }else {
                onlySaveForm(form);
            }
        }        
    </script>
}
<div class="formbody">
    <div class="formtitle"><span>基本信息</span></div>
    <ul class="forminfo" style="width:60%;float:left;">
        @using (Html.BeginForm("Transformation", "Case", FormMethod.Post, new { id = "formCase", onsubmit = "return validateCallback(this,dialogAjaxDone);" }))
        {
            @Html.Hidden("type",type)//类型
            @Html.Hidden("CaseCode",Model.B_Case_code)//案件Guid
            @Html.Hidden("CaseLevelchangeCodeStr", CaseLevelchangeCodeStr)//案件级别变更Guid
            @Html.Hidden("CaseLevelchangeRecord", CaseLevelchangeRecord)//关联案件级别变更记录Guid
            @Html.Hidden("formOperateType")//表单操作类型：固定写法，只是保存，值为'onlySave';保存并且新增，值为'saveAndNewNext'
            <div class="mulitytext"><label>申请人</label>@Html.TextBox("applicationName",UIContext.Current.UserName , new { maxlength = "50", @readonly = "readonly"})<i></i></div>
            <div class="excute"><a target="popdialog_owndefine" title="案件执行" dialogwidth="1400" dialogheight="700" edit="edit" href="/casemanager/caseexecute/defaultlayout?fkCode=@Model.B_Case_code&fkType=@Convert.ToInt32(FlowTypeEnum.案件)"><span><img src="/theme/images/new_excute.png"></span>案件执行情况</a></div>
            if (type == 1)
            {
                <div class="mulitytext"><label>转化类型</label>@Html.TextBox("TransformationType", TransformationTypeNameStr, new { onmouseout = "DocM_out()", @readonly = "readonly", onclick = " DocM_move()", id = "TransformationType" })<i></i></div>
                <div class="mulitytext custom"><label>转化理由</label>@Html.TextArea("Reason", "", new { maxlength = "500" })<i></i></div> 
            }else
            {
                <div class="mulitytext"><label>转化类型</label>@Html.TextBox("TransformationType", TransformationTypeNameStr, new { onmouseout = "DocM_out()", @readonly = "readonly", id = "TransformationType" })<i></i></div>
                <div class="mulitytext custom"><label>转化理由</label>@Html.TextArea("Reason", conversionReasons, new { maxlength = "500", @readonly = "readonly" })<i></i></div> 
                <div class="mulitytext"><label>审核状态</label>@Html.RadioButton("state", Convert.ToInt32(CaseLevelChangeStateEnum.通过), new { @class = "dfradio" })<span>通过</span> @Html.RadioButton("state", Convert.ToInt32(CaseLevelChangeStateEnum.未通过), new { @class = "dfradio" })<span>未通过</span> <i></i></div>
                <div class="mulitytext custom"><label>审核意见</label>@Html.TextArea("ConversionReasons", "", new { maxlength = "500" })<i></i></div>                  
                <div class="mulitytext"><label>审核人</label>@Html.Label("",UIContext.Current.UserName)<i></i></div>
                <div class="mulitytext"><label>审核时间</label>@Html.Label("", DateTime.Now.ToString())<i></i></div>
            }
            @Html.Hidden("TransformationTypeId", TransformationTypeIdStr)
           <div class="buttonWrap clear"><label>&nbsp;</label><input name="" type="button" id="btnSave" onclick="saveForm(this)" class="btn btnmr fl" value="确认保存" /><i></i></div>
        }
    </ul>
    <table style="width:37%;float:left;">
        <tr>
            <td class="textindent leftContentPaddingLeft" width="25%">案&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：</td>
            <td class="textindent" width="75%"><a target="popdialog_owndefine" title="案件信息" dialogwidth="1300" dialogheight="780" href="/casemanager/case/tabdetails?caseCode=@Model.B_Case_code">@Model.B_Case_number</a></td>
        </tr>
        <tr>
            <td class="textindent leftContentPaddingLeft" width="25%">客&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;户：</td>
            @{
                string[] CustomerNames = Model.C_Customer_name.Split(',');
                string[] CustomerCodes = Model.C_Customer_code.Split(',');
                int client2 = 0;
            }
            <td class="textindent" width="75%">
                @foreach (var clientName in CustomerNames)
                {
                    string Comma = ",";
                    if (client2 == CustomerNames.Length - 1)
                    {
                        Comma = "";
                    }
                    <a target="popdialog_owndefine" title="客户信息" dialogwidth="1240" dialogheight="700" href="/basedata/customer/tabdetails?customerCode=@CustomerCodes[client2]">@clientName</a>@Comma
                    client2++;
                }
            </td>
        </tr>
        <tr>
            <td class="textindent leftContentPaddingLeft" width="25%">委&nbsp;托&nbsp;&nbsp;人：</td>
            @{
                string[] clientNames = Model.C_Client_name.Split(',');
                string[] clientCodes = Model.C_Client_code.Split(',');
                int client = 0;
            }
            <td class="textindent" width="75%">
                @foreach (var clientName in clientNames)
                {
                    string Comma = ",";
                    if (client == clientCodes.Length - 1)
                    {
                        Comma = "";
                    }
                    <a target="popdialog_owndefine" title="委托人信息" dialogwidth="1240" dialogheight="700" href="/basedata/customer/tabdetails?customerCode=@clientCodes[client]">@clientName</a>@Comma
                    client++;
                }
            </td>
        </tr>
        <tr>
            <td class="textindent leftContentPaddingLeft" width="25%">对方当事人：</td>
            @{
                string[] personNames = Model.C_Person_name.Split(',');
                string[] personCodes = Model.C_Person_code.Split(',');
                string[] personTypes = Model.C_Person_type.Split(',');
                int person = 0;
            }
            <td class="textindent" width="75%">
                @foreach (var personType in personTypes)
                {
                    string Comma = ",";
                    if (person == personCodes.Length - 1)
                    {
                        Comma = "";
                    }
                    if (personType == Convert.ToInt32(CaselinkEnum.对方当事人个人).ToString())
                    {
                        <a target="popdialog_owndefine" title="对方当事人详细" dialogwidth="1080" dialogheight="580" href="/basedata/PRival/TabDetails?prival_code=@personCodes[person]">@personNames[person]</a>@Comma
                    }
                    else if (personType == Convert.ToInt32(CaselinkEnum.对方当事人公司).ToString())
                    {
                        <a target="popdialog_owndefine" title="对方当事人详细" dialogwidth="1080" dialogheight="580" href="/basedata/crival/TabDetails?crival_code=@personCodes[person]">@personNames[person]</a>@Comma
                    }
                    person++;
                }
            </td>
        </tr>
        <tr>
            <td class="textindent leftContentPaddingLeft" width="25%">工程名称：</td>
            @{
                string[] projectNames = Model.C_Project_name.Split(',');
                string[] projectCodes = Model.C_Project_code.Split(',');
                int project = 0;
            }
            <td class="textindent" width="75%">
                @foreach (var projectName in projectNames)
                {
                    string Comma = ",";
                    if (project == projectCodes.Length - 1)
                    {
                        Comma = "";
                    }
                    <a target="popdialog_owndefine" title="委托人信息" dialogwidth="1240" dialogheight="700" href="/basedata/Involved_project/CutTabDetails?Involved_project_code=@projectCodes[project]">@projectName</a>@Comma
                    project++;
                }
            </td>
        </tr>
        <tr>
            <td class="textindent leftContentPaddingLeft" width="25%">案件类型：</td>
            <td class="textindent" width="75%">@Model.B_Case_type_name</td>
        </tr>
        <tr>
            <td class="textindent leftContentPaddingLeft" width="25%">移交时间：</td>
            <td class="textindent" width="75%">@(Model.B_Case_registerTime == null ? "" : Model.B_Case_registerTime.Value.ToString("yyyy年MM月dd日"))</td>
        </tr>
        <tr>
            <td class="textindent leftContentPaddingLeft" width="25%">首席审核时间：</td>
            <td class="textindent" width=" 75%">@(Model.B_Case_sureDate == null ? "" : Model.B_Case_sureDate.Value.ToString("yyyy年MM月dd日"))</td>
        </tr>
        <tr>
            <td class="textindent leftContentPaddingLeft" width="25%">移交标的：</td>
            <td class="textindent" width="75%">@Model.B_Case_transferTargetMoney  (元)</td>
        </tr>
        <tr>
            <td class="textindent leftContentPaddingLeft" width="25%">部门人员：</td>
            <td class="textindent" width="75%"><a href="##" onclick="showDeptPerson('tabDetails_3', 1)">查看详情</a></td>
        </tr>
        <tr>
            <td class="textindent leftContentPaddingLeft" width="25%">专业顾问：</td>
            <td class="textindent" width="75%">@Model.B_Case_consultant_name</td>
        </tr>
        <tr>
            <td class="textindent leftContentPaddingLeft" width="25%">法院信息：</td>
            <td class="textindent" width="75%"><a href="##" onclick="showfy('tabDetails', 1)">查看详情</a></td>
        </tr>
        <tr>
            <td class="textindent leftContentPaddingLeft" width="25%">执行律师：</td>
            <td class="textindent" width="75%"><a href="##" onclick="showfy_2('tabDetails_2', 1)">查看详情</a></td>
        </tr>
        <tr>
            <td class="textindent leftContentPaddingLeft" width="25%">预期收益：</td>
            <td class="textindent" width="75%">@ViewBag.expectedGrant (元)</td>
        </tr>
        <tr>
            <td class="textindent leftContentPaddingLeft" width="25%">文书收入：</td>
            <td class="textindent" width="75%">@ViewBag.DocumValue (元)</td>
        </tr>
        <tr>
            <td class="textindent leftContentPaddingLeft" width="25%">逾期收入：</td>
            <td class="textindent" width="75%">@ViewBag.yqsrValue (元)</td>
        </tr>
    </table>
</div>
<div id="tabDetails" class="flowDetails" style="display:none;">
    <table class="case_info_table" width="100%">
        <tr style="height:30px;">
            <td width="100px">一审管辖法院：</td>
            <td align="left"><a href="##" onclick="opewh_1('/basedata/court/TabDetails?courtCode=@Model._b_case_courtFirst')">@Model._b_case_courtFirstName</a></td>
        </tr>
        <tr style="height:30px;">
            <td width="100px">二审管辖法院：</td>
            <td align="left"><a href="##" onclick="opewh_1('/basedata/court/TabDetails?courtCode=@Model._b_case_courtSecond')">@Model._b_case_courtSecondName</a></td>
        </tr>
        <tr style="height:30px;">
            <td width="100px">执行法院：</td>
            <td align="left"><a href="##" onclick="opewh_1('/basedata/court/TabDetails?courtCode=@Model._b_case_courtExec')">@Model._b_case_courtExecName</a></td>
        </tr>
        <tr style="height:30px;">
            <td width="100px">审判监督法院：</td>
            <td align="left"><a href="##" onclick="opewh_1('/basedata/court/TabDetails?courtCode=@Model.B_Case_Trial')">@Model.B_Case_TrialName</a></td>
        </tr>
    </table>
</div>

<div id="tabDetails_2" class="flowDetails_2" style="display:none;">
    @*<div style="float:right;cursor:pointer;" onclick=" showfy_2('tabDetails_2', 0)"><img src="/Theme/images/close1.png" /></div>*@
    <table class="case_info_table" width="100%">
        <tr style="height:20px;">
            <td width="35%" align="center" style="font-weight:bold;">任务类型</td>
            <td width="35%" align="center" style="font-weight:bold;">执行律师</td>
            <td width="30%" align="center" style="font-weight:bold;">部门</td>
        </tr>
        @foreach (var item in BusinessFlows)
        {
        <tr style="height:20px;">
            <td align="center">@item.P_Business_flow_name</td>
            <td align="center">@item.P_Business_person_name</td>
            <td align="center">@item.P_Business_personDepName</td>
        </tr>
        }
    </table>
</div>

<div id="tabDetails_3" class="flowDetails" style="display:none;">
    <table class="case_info_table" width="100%">
        <tr style="height:30px;">
            <td width="100px">组织机构：</td>
            <td align="left">@userinfo.C_Userinfo_Organization_name-@userinfo.C_Userinfo_post_name</td>
        </tr>
        <tr style="height:30px;">
            <td width="100px">首席专家：</td>
            <td align="left">@Model.C_Case_firstClassResponsiblePersonName</td>
        </tr>
        <tr style="height:30px;">
            <td width="100px">专家部长：</td>
            <td align="left">@Model.B_Case_personName</td>
        </tr>
    </table>
</div>

<div id="DocM" onmouseout="DocM_out()" onmousemove=" DocM_move()" style="left: 170px; top: 137px; width: 220px; height: 110px;display:none; background-color: #CCFFCC; position: absolute; overflow: auto; border: 1px solid #009900; ">
    <table class="tablelist">
        <tbody id="courtBody">
            @{
    List<CommonService.Model.C_Parameters> CaseLevel = ViewBag.CaseLevel;
    foreach (var item in CaseLevel)
    {
        string checkedStr = "";
        string onclickStr = "onclick=checked(this)";
        string disabled = "";
        if (TransformationTypeIdStr.Contains(item.C_Parameters_id.ToString()))
        {
            checkedStr = "checked=checked";
            if ((UIContext.Current.PostGroupCode == PostGroup.ChiefExpert) || UIContext.Current.IsPreSetManager)
            {//首席专家或管理员
                disabled = "";
            }
            else
            {
                onclickStr = "";
                disabled = "disabled=disabled";
            }
        }
        //var caseLevelChange = caseLevelChanges.Where(c=>c.B_CaseLevelchange_type == item.C_Parameters_id).FirstOrDefault();@onclickStr
        <tr target="sid_Iterm" rel="@item.C_Parameters_id" >
            <td width="35px;"><input type="checkbox" name="@item.C_Parameters_name" value="@item.C_Parameters_id" @checkedStr @disabled onclick="ock(this)" /></td>
            <td>@(item.C_Parameters_name)案</td>
        </tr>
    }
}
        </tbody>
    </table>
</div>
<script>
    var nb2 = 0;
    function showfy(val, number) {
        $("#tabDetails_2").hide();
        $("#tabDetails_3").hide();
        nb1 = 0;
        nb3 = 0;
        var xPoint = window.event.clientY;

        if (xPoint > 400) {
            $("#" + val).attr("style", "position:absolute; left:75%; top:420px;  border: 1px solid #000000; height:180px; background: #e9f8f8;");
        } else {
            $("#" + val).attr("style", "position:absolute; left:75%; top:400px;  border: 1px solid #000000; height:180px; background: #e9f8f8;");
        }
        if (number == 1) {
            if (nb2 == 0) {
                nb2 = 1;
                $("#" + val).show();
            } else {
                nb2 = 0;
                $("#" + val).hide();
            }
        } else {
            $("#" + val).hide();
        }
    }

    var nb1 = 0;
    function showfy_2(val, number) {
        $("#tabDetails").hide();
        $("#tabDetails_3").hide();
        nb2 = 0;
        nb3 = 0;
        var xPoint = window.event.clientY;
        if (xPoint > 430) {
            $("#" + val).attr("style", "position:absolute; left:75%; top:450px;  border: 1px solid #000000; height:180px; background: #e9f8f8;overflow: auto;");
        } else {
            $("#" + val).attr("style", "position:absolute; left:75%; top:450px;  border: 1px solid #000000; height:180px; background: #e9f8f8;overflow: auto;");
        }
        if (number == 1) {
            if (nb1 == 0) {
                nb1 = 1;
                $("#" + val).show();
            } else {
                nb1 = 0;
                $("#" + val).hide();
            }
        } else {
            $("#" + val).hide();
        }
    }

    function opewh_1(url) {
        _openDialog('法院详情', url, 1200, 600);
    }

    var nb3 = 0;
    function showDeptPerson(val, number) {
        $("#tabDetails").hide();
        $("#tabDetails_2").hide();
        nb1 = 0;
        nb2 = 0;
        var xPoint = window.event.clientY;

        if (xPoint > 400) {
            $("#" + val).attr("style", "position:absolute; left:75%; top:370px;  border: 1px solid #000000; height:110px;width:20%; background: #e9f8f8;");
        } else {
            $("#" + val).attr("style", "position:absolute; left:75%; top:350px;  border: 1px solid #000000; height:110px;width:20%; background: #e9f8f8;");
        }
        if (number == 1) {
            if (nb3 == 0) {
                nb3 = 1;
                $("#" + val).show();
            } else {
                nb3 = 0;
                $("#" + val).hide();
            }
        } else {
            $("#" + val).hide();
        }
    }

    function DocM_move() {
        var demo = document.getElementById("TransformationType");
        var posX = demo.offsetLeft;
        var posY = demo.offsetTop;
        $("#DocM").attr("style", "left:" + posX + "px;top:" + (posY + 24) + "px;width:220px;height:110px;display:none; background-color: #CCFFCC; position: absolute; overflow: auto; border: 1px solid #009900;");
        $("#DocM").show();
    }
    function DocM_out() {
        $("#DocM").hide();
    }
    function ock(val) {
        if (val.checked == true) {
            if ($("#TransformationTypeId").val() == "") {

                $("#TransformationType").val(val.name + "案");
                $("#TransformationTypeId").val(val.value + ",");
            } else {
                if ($("#TransformationTypeId").val().substr($("#TransformationTypeId").val().length - 1, 1) == ",") {
                    $("#TransformationTypeId").val($("#TransformationTypeId").val() + val.value + ",");
                    var typeName = $("#TransformationType").val().substr(0, $("#TransformationType").val().length - 1);
                    $("#TransformationType").val(typeName + val.name + "案");
                }
                else {
                    $("#TransformationTypeId").val($("#TransformationTypeId").val() + "," + val.value + ",");
                    var typeName = $("#TransformationType").val().substr(0, $("#TransformationType").val().length - 1);
                    $("#TransformationType").val(typeName + "," + val.name + "案");
                }
            }
        } else {
            $("#TransformationTypeId").val($("#TransformationTypeId").val().replace(val.value + ",", ""));
            $("#TransformationType").val($("#TransformationType").val().replace(val.name, ""));
            if ($("#TransformationType").val() == "案") {
                $("#TransformationType").val("");
            }
            if ($("#TransformationTypeId").val() == ",") {
                $("#TransformationTypeId").val("");
            }
        }
    }

</script>