@using CommonService.Model;
@model IEnumerable<CommonService.Model.C_Property_trail_bank>
@{
    Layout = "~/Views/Shared/_ListSearchWithDialogTemplate.cshtml";//带表单查询的列表页面固定模板
}
@{
    ViewBag.Title = "银行信息";
}

@{
    C_Property_trail_bank bankConditon = ViewBag.BankConditon;//对手财产线索银行条件模型
}
@{
    List<CommonService.Model.C_Parameters> AccountType = ViewBag.AccountType;
}
<div class="tools">
    <ul class="toolbar">
        <li><a target="popdialog" title="银行信息" dialogwidth="600" dialogheight="400" href="/basedata/Property_trail_bank/create?property_trail_bank_belongs=@bankConditon.C_Property_trail_bank_belongs&property_trail_bank_type=@bankConditon.C_Property_trail_bank_type"><span><img src="/theme/images/new_add.png" /></span>添加</a></li>
        <li><a target="popdialog" title="银行信息" dialogwidth="600" dialogheight="400" edit="edit" href="/basedata/Property_trail_bank/edit?property_trail_bank_id={sid_Iterm}"><span><img src="/theme/images/new_edit.png" /></span>修改</a></li>
        <li><a target="ajaxtodo" title="确认要删除选中数据吗?" singleoperate="singleoperate" href="/basedata/Property_trail_bank/delete?property_trail_bank_id={sid_Iterm}"><span><img src="/theme/images/new_delete.png" /></span>删除</a></li>

    </ul>
</div>

<table class="tablelist">
    <thead>
        <tr>
            <th>银行名称</th>
            <th>账号类型</th>
            <th>账号</th>
            <th>调取时间</th>
            <th>金额</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr target="sid_Iterm" rel="@item.C_Property_trail_bank_id">
                <td>@item.C_Property_trail_bank_name</td>
                @{
                    var accounttype = AccountType.Where(a => a.C_Parameters_id == item.C_Property_trail_bank_AccountType).FirstOrDefault();
                }
                @if(accounttype!=null)
                {
                    <td>@accounttype.C_Parameters_name</td>
                }else
                {
                    <td></td>
                }
                <td>@item.C_Property_trail_bank_accountNumber</td>
                <td>@(item.C_Property_trail_bank_rTime==null ? "" : item.C_Property_trail_bank_rTime.Value.ToString("yyyy-MM-dd"))</td>
                <td>@item.C_Property_trail_bank_money</td>
            </tr>
        }
    </tbody>
</table>