@model IEnumerable<CommonService.Model.C_Parameters>
@{
    int index = 0;
    CommonService.Model.CustomerForm.F_FormProperty formPropertyValue = ViewBag.FormPropertyValue;//表单属性值数据实体
}
@if (String.IsNullOrEmpty(formPropertyValue.V_FormPropertyValue_Value))
{
    <div class="col-md-6">
      <div class="form-group">
        <label class="control-label col-md-3">@formPropertyValue.F_FormProperty_showName</label>
        <div class="col-md-9">
            <div class="radio-list">
                @foreach (var radioItem in Model)
                {
                    index++;
                    if (index == 1)
                    {
                       <label class="radio-inline"><input type="radio" name="formproperty_@formPropertyValue.V_FormPropertyValue_Id" value="@radioItem.C_Parameters_id" checked="checked" />@radioItem.C_Parameters_name</label>
                    }
                    else
                    {
                       <label class="radio-inline"><input type="radio" name="formproperty_@formPropertyValue.V_FormPropertyValue_Id" value="@radioItem.C_Parameters_id" />@radioItem.C_Parameters_name</label>                 
                    }
                }
            </div>
        </div>
      </div>
    </div>
}
else
{
    <div class="col-md-6">
     <div class="form-group">
        <label class="control-label col-md-3">@formPropertyValue.F_FormProperty_showName</label>
        <div class="col-md-9">
            <div class="radio-list">
                @foreach (var radioItem in Model)
                {
                    if (formPropertyValue.V_FormPropertyValue_Value == radioItem.C_Parameters_id.ToString())
                    {
                        <label class="radio-inline"><input type="radio" name="formproperty_@formPropertyValue.V_FormPropertyValue_Id" value="@radioItem.C_Parameters_id" checked="checked" />@radioItem.C_Parameters_name</label>
                    }
                    else
                    {
                        <label class="radio-inline"><input type="radio" name="formproperty_@formPropertyValue.V_FormPropertyValue_Id" value="@radioItem.C_Parameters_id" />@radioItem.C_Parameters_name</label>
                    }
                }
            </div>
        </div>
     </div>
    </div>
}