@using CommonService.Model.SysManager;
@model IEnumerable<CommonService.Model.SysManager.C_Userinfo>
@{
    Layout = "~/Views/Shared/_NoPageListTemplate.cshtml";//无分页列表页面固定模板
}
@{
    ViewBag.Title = "岗位关联人员列表";
}
<table class="tablelist">
    <tbody>
        @foreach (var item in Model)
        {
            <tr target="sid_Iterm" rel="@item.C_Userinfo_code" callbackjson="{'lookupgroup':'mainLawyerlookup','Code':'@item.C_Userinfo_code','Name':'@item.C_Userinfo_name'}">
                <td>@item.C_Userinfo_post_name->@item.C_Userinfo_name</td>
            </tr>
        }
    </tbody>
</table>