@using CommonService.Model;

@model CommonService.Model.C_Court
@{
    Layout = "~/Views/Shared/_ViewPanelTemplate.cshtml";//普通Panel页面固定模板
}
@{
    ViewBag.Title = "法院基本信息";
}
<div class="formbody">
    <ul class="forminfo">
        <li><label>法院名称：</label><span>@Model.C_Court_name</span></li>
        <li><label>法院区域：</label><span>@Model.C_Court_area_name</span></li>
        <li><label>法院网址：</label><span>@Model.C_Court_url</span></li>
        <li><label>法院地址：</label><span>@Model.C_Court_address</span></li>
        <li><label>备注：</label><span>@Model.C_Court_remark</span></li>
    </ul>
</div>
