@using CommonService.Model;
@model IEnumerable<CommonService.Model.C_Bank>
@{
    Layout = "~/Views/Shared/_ListSearchTemplate.cshtml";//普通列表页面固定模板
}
@{
    ViewBag.Title = "客户银行列表";
}

<table class="tablelist">
    <thead>
        <tr>
            <th>账号</th>
            <th>开户行</th>
            <th>账户号</th>
            <th>是否默认</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr target="sid_Iterm" rel="@item.C_Bank_code">
                <td>@item.C_Bank_account</td>
                <td>@item.C_Bank_openBank</td>
                <td>@item.C_Bank_accountNo</td>
                <td>@(item.C_Bank_isDefault == true ? "是" : "否")</td>
            </tr>
        }
    </tbody>
</table>    