@using CommonService.Model;

@model CommonService.Model.C_CRival
@{
    Layout = "~/Views/Shared/_ViewPanelTemplate.cshtml";//普通Panel页面固定模板
}
@{
    ViewBag.Title = "公司基本信息";
}
@section HeadCss{
    <style type="text/css">
        .mulitytext {
            height: auto;
        }
            .mulitytext span {
                width:240px;
                height:auto;
                line-height: 21px;
            }
    </style>
}
@{
    CommonService.Model.C_Parameters CRivalftype = ViewBag.CRival_ftype;
    CommonService.Model.C_Parameters CRivalcorgan = ViewBag.CRival_corgan;
    CommonService.Model.C_Parameters CRivalsmodel = ViewBag.CRival_smodel;
}
<div class="formbody">
    <ul class="forminfo">
        <div class="mulitytext"><label>企业名称：</label><span>@Model.C_CRival_name</span></div>
        <div class="mulitytext"><label>区域：</label><span>@Model.C_CRival_region_name</span></div>
        <div class="mulitytext"><label>工商注册地：</label><span>@Model.C_CRival_iland</span></div>
        <div class="mulitytext"><label>实际经营地：</label><span>@Model.C_CRival_aland</span></div>
        <div class="mulitytext"><label>成立时间：</label><span>@(Model.C_CRival_fregtime==null ? "" : Model.C_CRival_fregtime.Value.ToString("yyyy-MM-dd"))</span></div>
        <div class="mulitytext"><label>企业类型：</label><span>@CRivalftype.C_Parameters_name</span></div>
        <div class="mulitytext"><label>注册资本：</label><span>@Model.C_CRival_rassets 元</span></div>
        <div class="mulitytext"><label>资本结构：</label><span>@CRivalcorgan.C_Parameters_name</span></div>
        <div class="mulitytext"><label>资质情况：</label><span>@Model.C_CRival_acase</span></div>
        <div class="mulitytext"><label>经营模式：</label><span>@CRivalsmodel.C_Parameters_name</span></div>
        <div class="mulitytext"><label>主营项目：</label><span>@Model.C_CRival_mitem</span></div>
        <div class="mulitytext"><label>曾经承建的项目：</label><span>@Model.C_CRival_eitem</span></div>
        <div class="mulitytext"><label>联系电话：</label><span>@Model.C_CRival_phone</span></div>
        <div class="mulitytext"><label>网页链接：</label><span>@Model.C_CRival_link</span></div>
        <div class="mulitytext"><label>电子邮件：</label><span>@Model.C_CRival_email</span></div>
        <div class="mulitytextlonger"><label>企业荣誉：</label><span>@Model.C_CRival_ehonor</span></div>
</ul>
</div>