@using CommonService.Model.CustomerForm;
@using CommonService.Common;
@using Context;
@model IEnumerable<CommonService.Model.CustomerForm.F_FormProperty>
@section HeadCss
{
    <style type="text/css">
        .splitline {
            clear: both;
            width: 100%;
            border-bottom: solid 1px #d0dee5;
            line-height: 35px;
            position: relative;
            height: 35px;
            margin-bottom: 18px;
            margin-top: 20px;
        }

            .splitline span {
                font-weight: bold;
                font-size: 14px;
                border-bottom: solid 3px #66c9f3;
                float: left;
                position: absolute;
                z-index: 100;
                bottom: -1px;
                padding: 0 3px;
                height: 30px;
                line-height: 30px;
                cursor: pointer;
            }

        .mulitytext {
            width: 100%;
        }

            .mulitytext i {
                margin-left: 0px;
            }

        .mulitytextarealonger {
            width: 100%;
            height: auto;
        }

            .mulitytextarealonger i {
                margin-left: 0px;
            }
    </style>
}
@section HeadScript{
    <script type="text/javascript" src="/theme/js/customerform.js"></script>
    <script type="text/javascript">
        //个性化保存
        function saveForm(thisBtn, formOperateType) {
            if (formOperateType == 'zygwSave') {
                if ($('#formproperty_zygwCheckOpion').val() == '-2') {
                    alertMsg.warn('请选择审核意见！');
                    return false;
                }
            }
            $thisForm = $(thisBtn).parents('form');
            $thisForm.find("[name='formOperateType']").val(formOperateType);
            $thisForm.submit();
        }
        //专业顾问"审核意见"改变事件
        function zygwChange(obj) {
            $this = $(obj);
            if ($this.val() == '680') {//同意
                $('#formproperty_zygwPreIncomeMoney').val($('#formproperty_yqsre').val());
            } else {
                $('#formproperty_zygwPreIncomeMoney').val('');
            }
        }
    </script>
}
@{
    Layout = "~/Views/Shared/_EditDialogFormTemplate.cshtml";//带表单提交的编辑页面固定模板
}
@{
    ViewBag.Title = "预期收益表单";
}
@{
    bool isHasSaveFormPower = ViewBag.IsHasSaveFormPower;
    bool isSwitchFormHistoryRecordUrl = ViewBag.IsSwitchFormHistoryRecordUrl;
    bool isHasZyGwPower = ViewBag.IsHasZyGwPower;//是否为关联专业顾问
    bool isHasZhzxPower = ViewBag.IsHasZhzxPower;//是否为关联指挥中心(也为案件负责人)
    bool isHasSxzjPower = ViewBag.IsHasSxzjPower;//是否为关联首席专家(也为案件一级负责人)
    bool isHasCwPower = ViewBag.isHasCwPower;//是否为关联财务
    CommonService.Model.CustomerForm.F_Form formcon = ViewBag.formCon;
    string fkType = ViewBag.fkType;
    string pkCode = ViewBag.PkCode;
    string businessFlowCode = ViewBag.BusinessFlowCode;
    string formCode = ViewBag.FormCode;
    string businessFlowFormCode = ViewBag.BusinessFlowFormCode;
    int formStatus = ViewBag.FormStatus;
    bool isAllowEidtCheckOpionDrop = false;//是否允许编辑专业顾问"审核意见"元素下拉框
}
@if (!isHasSaveFormPower)
{//没有保存权限，加入蒙版
    @*<div class="outer_wrapper_show"></div>*@
}

<div class="formbody">
    <ul class="forminfo">
        @using (Html.BeginForm("", "", FormMethod.Post, new { action = "/IndividuationForm/ExpectProfitForm/SaveEditInfo", id = "formExpectProfit", onsubmit = "return validateCallback(this,dialogAjaxDone);" }))
        {
            @Html.Hidden("fkType", fkType);
            @Html.Hidden("formOperateType")//表单操作类型：固定写法，只是保存，值为'onlySave';专业顾问审核，值为'zygwSave';指挥中心审核，值为'zhzxSave'
                                        @Html.Hidden("businessFlowCode", businessFlowCode);//业务流程GUid
            @Html.Hidden("businessFlowFormCode", businessFlowFormCode);//业务流程表单GUid
                                                                      string htmlAttributes = "";
                                                                      string individuationHtmlAttributes = "";//个性化html属性
                                                                      string propertyTime = "";
                                                                      string boxId = String.Empty;
                                                                      string boxName = String.Empty;
                                                                      string boxErrorId = String.Empty;
                                                                      string individuationStyle = String.Empty;//个性化CSS
                                                                      string isShowYuanSu = String.Empty;//是否显示元素
                                                                      DateTime now = DateTime.Now;
                                                                      foreach (var item in Model)
                                                                      {
                                                                          boxId = "formproperty_" + item.F_FormProperty_fieldName;
                                                                          boxName = "formproperty_" + item.V_FormPropertyValue_Code + "_" + item.F_FormProperty_code;
                                                                          boxErrorId = "formproperty_" + item.F_FormProperty_fieldName + "_error";
                                                                          if (!item.F_FormProperty_isShow)
                                                                          {
                                                                            <input type="hidden" id="@boxId" name="@boxName" value="@item.V_FormPropertyValue_Value" />
                                                                              continue;
                                                                          }
                                                                          htmlAttributes = "";
                                                                          individuationHtmlAttributes = "";
                                                                          propertyTime = "";
                                                                          individuationStyle = String.Empty;
                                                                          isShowYuanSu = String.Empty;
                                                                          if (item.F_FormProperty_isRequire)
                                                                          {
                                                                              htmlAttributes += "requiredInput=请输入" + item.F_FormProperty_showName + "！ ";
                                                                          }

                                                                          if (item.F_FormProperty_isOnlyRead)
                                                                          {//UI控件只读

                                                                          }
                                                                          //处理其它验证
                                                                          string otherValidateStr = item.F_FormProperty_validationMessage;
                                                                          if (!String.IsNullOrEmpty(otherValidateStr))
                                                                          {
                                                                              string[] validateMessageGroup = otherValidateStr.Split('|');
                                                                              for (int i = 0; i < validateMessageGroup.Length; i++)
                                                                              {
                                                                                  htmlAttributes += validateMessageGroup[i].Replace("\"", "") + " ";//替换验证信息中存在的双引号
                                                                              }
                                                                          }
                                                                          htmlAttributes += "maxlength=" + item.F_FormProperty_fieldLength + " ";

                                                                          var zygwCheckOpion = Model.Where(p => p.F_FormProperty_code.ToString().ToLower() == "28105e12-c30c-4128-9076-622677affe9f").FirstOrDefault();//专业顾问"审核意见"元素
                                                                          var zhzxCheckOpion = Model.Where(p => p.F_FormProperty_code.ToString().ToLower() == "ed4a185a-76dc-4dd3-bcf1-d6000cd8bf64").FirstOrDefault();//指挥中心(专家部长)"审核人"元素
                                                                          var zhzxYqsyjeOpion = Model.Where(p => p.F_FormProperty_code.ToString().ToLower() == "7b13ca2b-1b19-44cd-8259-d9c473a4d06c").FirstOrDefault();//指挥中心(专家部长)"预期收益金额"元素
                                                                          var cwCheckOpion = Model.Where(p => p.F_FormProperty_code.ToString().ToLower() == "1f5a41eb-ed9b-4753-84b9-8277d8eaf8c4").FirstOrDefault();//财务"审核人"元素
                                                                          var cwYqsyjeOpion = Model.Where(p => p.F_FormProperty_code.ToString().ToLower() == "6b6bcb4e-7b3a-4cf9-bb5d-37f4a576d752").FirstOrDefault();//财务"预期收益金额"元素
                                                                          var sxzjCheckOpion = Model.Where(p => p.F_FormProperty_code.ToString().ToLower() == "6cda7b58-b098-4597-8847-14d2de3d2956").FirstOrDefault();//首席专家"审核人"元素

                                                                          //处理是否显示首席专家元素，默认不显示(其它元素均显示)
                                                                          if (item.F_FormProperty_fieldName.ToLower().StartsWith("sxzj"))
                                                                          {
                                                                              //只有财务审核完成后，并且财务裁定金额(预期收益金额)大于等于10万时，并且首席专家审核完成后，才会显示首席专家元素。
                                                                              //另外对于首席专家元素尚未审核时，在满足（只有财务审核完成后，并且财务裁定金额(预期收益金额)大于等于10万时）的条件下，如果拥有此权限的首席专家，必须显示首席专家元素
                                                                              isShowYuanSu = " hide";

                                                                              if (sxzjCheckOpion != null && !String.IsNullOrEmpty(sxzjCheckOpion.V_FormPropertyValue_Value))
                                                                              { //如果首席专家元素已经保存过，审核人不为空时， 则显示
                                                                                  isShowYuanSu = String.Empty;
                                                                              }
                                                                              else
                                                                              {//首席专家元素已经尚未保存过
                                                                                  if (cwCheckOpion != null && !String.IsNullOrEmpty(cwCheckOpion.V_FormPropertyValue_Value))
                                                                                  {
                                                                                      //财务预期收益金额元素
                                                                                      if (cwYqsyjeOpion != null && !String.IsNullOrEmpty(cwYqsyjeOpion.V_FormPropertyValue_Value))
                                                                                      {
                                                                                          decimal cwYqsyMoney = 0.00M;
                                                                                          if (decimal.TryParse(cwYqsyjeOpion.V_FormPropertyValue_Value, out cwYqsyMoney))
                                                                                          {
                                                                                              if (cwYqsyMoney >= 100000.00M && isHasSxzjPower)
                                                                                              {//财务裁定金额(预期收益金额)大于等于10万时），并且拥有此权限的首席专家，则显示
                                                                                                  isShowYuanSu = String.Empty;
                                                                                                  //则首席专家元素里的"预期收益金额",默认为财务元素里的"预期收益金额"
                                                                                                  if (item.F_FormProperty_code.ToString().ToLower() == "e16ec45b-e0e6-40cc-8f8d-1fcad9d54cab")
                                                                                                  {
                                                                                                      item.V_FormPropertyValue_Value = cwYqsyMoney.ToString();
                                                                                                  }
                                                                                              }
                                                                                          }
                                                                                      }
                                                                                  }
                                                                              }
                                                                          }
                                                                          else
                                                                          {
                                                                              isShowYuanSu = String.Empty;
                                                                          }

                                                                          if (item.F_FormProperty_code.ToString().ToLower() == "a191678e-d8e2-4cee-b163-2679e88a3d89")
                                                                          {//根据专业顾问第一个出现的专业顾问元素属性，加上相应分隔线(这种情况表单属性顺序一定不可以改变,hety,2015-09-08)
                                                                            <div class="splitline"><span style="cursor:default;">专业顾问意见</span></div>
                                                                          }
                                                                          if (item.F_FormProperty_code.ToString().ToLower() == "ed4a185a-76dc-4dd3-bcf1-d6000cd8bf64")
                                                                          {//根据指挥中心第一个出现的指挥中心裁定元素属性，加上相应分隔线(这种情况表单属性顺序一定不可以改变,hety,2015-09-08)
                                                                            <div class="splitline"><span style="cursor:default;">专家部长裁定</span></div>
                                                                          }
                                                                          if (item.F_FormProperty_code.ToString().ToLower() == "1f5a41eb-ed9b-4753-84b9-8277d8eaf8c4")
                                                                          {//根据财务第一个出现的财务裁定元素属性，加上相应分隔线(这种情况表单属性顺序一定不可以改变,hety,2016-03-07)
                                                                            <div class="splitline"><span style="cursor:default;">财务复核</span></div>
                                                                          }
                                                                          if (item.F_FormProperty_code.ToString().ToLower() == "6cda7b58-b098-4597-8847-14d2de3d2956")
                                                                          {//根据首席中心第一个出现的首席中心裁定元素属性，加上相应分隔线(这种情况表单属性顺序一定不可以改变,hety,2015-09-08)
                                                                            <div class="splitline @isShowYuanSu"><span style="cursor:default;">首席专家裁定</span></div>
                                                                          }

                                                                          if (item.F_FormProperty_fieldName.ToLower().StartsWith("zygw") || item.F_FormProperty_fieldName.ToLower().StartsWith("zhzx") || item.F_FormProperty_fieldName.ToLower().StartsWith("cw"))
                                                                          {
                                                                              if (formStatus == Convert.ToInt32(FormStatusEnum.未提交) || formStatus == Convert.ToInt32(FormStatusEnum.未通过) || formStatus == Convert.ToInt32(FormStatusEnum.已通过) || formStatus == Convert.ToInt32(FormStatusEnum.已作废))
                                                                              {//个性化只读
                                                                                  individuationHtmlAttributes += "disabled=disabled ";
                                                                              }
                                                                              else
                                                                              {//如果专业顾问"审核意见"元素值为Null或者空时，这时候，指挥中心元素、财务元素必须只读；反之专业顾问元素必须只读
                                                                                  if (zygwCheckOpion != null && !String.IsNullOrEmpty(zygwCheckOpion.V_FormPropertyValue_Value))
                                                                                  {//个性化只读专业顾问元素,并且处理指挥中心元素是否可以编辑

                                                                                      if (item.F_FormProperty_fieldName.ToLower().StartsWith("zygw"))
                                                                                      {
                                                                                          individuationHtmlAttributes += "disabled=disabled ";
                                                                                      }
                                                                                      else if (item.F_FormProperty_fieldName.ToLower().StartsWith("zhzx"))
                                                                                      {//处理指挥中心元素
                                                                                          if (isHasZhzxPower)
                                                                                          {//指挥中心元素可编辑(如果指挥中心元素已经保存过，审核人不为空时， 不可以编辑)
                                                                                              if (zhzxCheckOpion != null && !String.IsNullOrEmpty(zhzxCheckOpion.V_FormPropertyValue_Value))
                                                                                              {//这种情况只读指挥中心元素
                                                                                                  individuationHtmlAttributes += "disabled=disabled ";
                                                                                              }
                                                                                              else
                                                                                              {
                                                                                                  //则指挥中心(专家部长)元素里的"预期收益金额",默认为专业顾问元素里的"预期收益金额"
                                                                                                  if (item.F_FormProperty_code.ToString().ToLower() == "7b13ca2b-1b19-44cd-8259-d9c473a4d06c")
                                                                                                  {
                                                                                                      var zygwYuqiShouyi = Model.Where(p => p.F_FormProperty_code.ToString().ToLower() == "f05bdb72-4a70-46e3-8f6c-f5b1b9023169").FirstOrDefault();
                                                                                                      if (zygwYuqiShouyi != null)
                                                                                                      {
                                                                                                          item.V_FormPropertyValue_Value = zygwYuqiShouyi.V_FormPropertyValue_Value;
                                                                                                      }
                                                                                                  }
                                                                                              }
                                                                                          }
                                                                                          else
                                                                                          {
                                                                                              if (item.F_FormProperty_fieldName.ToLower().StartsWith("zhzx"))
                                                                                              {//指挥中心元素只读
                                                                                                  individuationHtmlAttributes += "disabled=disabled ";
                                                                                              }
                                                                                          }
                                                                                      }
                                                                                      else if (item.F_FormProperty_fieldName.ToLower().StartsWith("cw"))
                                                                                      {//处理财务元素(只有指挥中心元素处理完后，才可以处理财务元素)
                                                                                          if (zhzxCheckOpion != null && !String.IsNullOrEmpty(zhzxCheckOpion.V_FormPropertyValue_Value))
                                                                                          {
                                                                                              if (isHasCwPower)
                                                                                              {//
                                                                                                  //财务元素可编辑(如果财务元素已经保存过，审核人不为空时， 不可以编辑)
                                                                                                  if (cwCheckOpion != null && !String.IsNullOrEmpty(cwCheckOpion.V_FormPropertyValue_Value))
                                                                                                  {//这种情况只读财务元素
                                                                                                      individuationHtmlAttributes += "disabled=disabled ";
                                                                                                  }
                                                                                                  else
                                                                                                  {
                                                                                                      //则财务元素里的"预期收益金额",默认为指挥中心元素里的"预期收益金额"
                                                                                                      if (item.F_FormProperty_code.ToString().ToLower() == "6b6bcb4e-7b3a-4cf9-bb5d-37f4a576d752")
                                                                                                      {
                                                                                                          individuationHtmlAttributes += "readonly=readonly ";//财务元素全部只读(无论任务情况下)
                                                                                                          if (zhzxYqsyjeOpion != null)
                                                                                                          {
                                                                                                              item.V_FormPropertyValue_Value = zhzxYqsyjeOpion.V_FormPropertyValue_Value;
                                                                                                          }
                                                                                                      }
                                                                                                  }
                                                                                              }
                                                                                              else
                                                                                              {//这种情况只读财务元素
                                                                                                  individuationHtmlAttributes += "disabled=disabled ";
                                                                                              }
                                                                                          }
                                                                                          else
                                                                                          {//这种情况只读财务元素
                                                                                              individuationHtmlAttributes += "disabled=disabled ";
                                                                                          }
                                                                                      }
                                                                                  }
                                                                                  else
                                                                                  {//个性化只读指挥中心元素、财务元素,并且处理专业顾问元素是否可以编辑
                                                                                      if (item.F_FormProperty_fieldName.ToLower().StartsWith("zhzx") || item.F_FormProperty_fieldName.ToLower().StartsWith("cw"))
                                                                                      {
                                                                                          individuationHtmlAttributes += "disabled=disabled ";
                                                                                      }
                                                                                      if (item.F_FormProperty_fieldName.ToLower().StartsWith("zygw"))
                                                                                      {
                                                                                          if (isHasZyGwPower)
                                                                                          {//专业顾问元素可以编辑
                                                                                              isAllowEidtCheckOpionDrop = true;
                                                                                              //如果选择审核意见,选择"同意"(审核意见为"请选择"时，默认审核意见为"请选择")，则专业顾问元素里的"预期收益金额"默认为头部"预期收益金额"
                                                                                              if (item.F_FormProperty_code.ToString().ToLower() == "f05bdb72-4a70-46e3-8f6c-f5b1b9023169")
                                                                                              {
                                                                                                  var headYuqiShouyi = Model.Where(p => p.F_FormProperty_code.ToString().ToLower() == "542b2580-01a5-41a1-a789-d4bd613af448").FirstOrDefault();
                                                                                                  if (headYuqiShouyi != null)
                                                                                                  {
                                                                                                      item.V_FormPropertyValue_Value = headYuqiShouyi.V_FormPropertyValue_Value;
                                                                                                  }
                                                                                              }
                                                                                          }
                                                                                          else
                                                                                          {//专业顾问元素不可以编辑
                                                                                              individuationHtmlAttributes += "disabled=disabled ";
                                                                                          }
                                                                                      }
                                                                                  }
                                                                              }
                                                                          }
                                                                          else if (item.F_FormProperty_fieldName.ToLower().StartsWith("sxzj"))
                                                                          {//首席专家元素(处理是否可编辑)
                                                                              if (formStatus == Convert.ToInt32(FormStatusEnum.未提交) || formStatus == Convert.ToInt32(FormStatusEnum.未通过) || formStatus == Convert.ToInt32(FormStatusEnum.已通过) || formStatus == Convert.ToInt32(FormStatusEnum.已作废))
                                                                              {//个性化只读
                                                                                  individuationHtmlAttributes += "disabled=disabled ";
                                                                              }
                                                                              else
                                                                              {
                                                                                  //如果首席专家元素已经保存过，审核人不为空时， 不可以编辑
                                                                                  if (sxzjCheckOpion != null && !String.IsNullOrEmpty(sxzjCheckOpion.V_FormPropertyValue_Value))
                                                                                  {//这种情况只读首席专家元素
                                                                                      individuationHtmlAttributes += "disabled=disabled ";
                                                                                  }
                                                                              }
                                                                          }
                                                                          else
                                                                          {//头部元素(及律师元素)
                                                                              if (!isHasSaveFormPower)
                                                                              {//没有保存权限，只读头部元素
                                                                                  individuationHtmlAttributes += "disabled=disabled ";
                                                                              }
                                                                          }

                                                                          switch (item.F_FormProperty_uiType.Value)
                                                                          {
                                                                              case 129://单行文本框
                                                                                  if (item.F_FormProperty_code.ToString().ToLower() == "a1f619df-6caf-4231-bc4b-863b02b75e36")
                                                                                  {
                                                                                      individuationStyle = " style=width:380px ";
                                                                                  }
                                                                                <div class="mulitytext @isShowYuanSu" @individuationStyle><label>@item.F_FormProperty_showName</label><input id="@boxId" name="@boxName" type="text" @htmlAttributes value="@item.V_FormPropertyValue_Value" @individuationHtmlAttributes><i id="@boxErrorId"></i></div>
                                                                                  break;
                                                                              case 130://多行文本框
                                                                            <div class="mulitytextarealonger @isShowYuanSu"><label>@item.F_FormProperty_showName</label><textarea id="@boxId" name="@boxName" rows="2" cols="20" @htmlAttributes @individuationHtmlAttributes>@item.V_FormPropertyValue_Value</textarea><i id="@boxErrorId"></i></div>
                                                                                  break;
                                                                              case 131://单选框
                                                                            <div class="mulitytext @isShowYuanSu"><label>@item.F_FormProperty_showName</label>@{Html.RenderAction("GenerateRadio", new { formPropertyValue = @item });}<i></i></div>
                                                                            break;
                                                                              case 132://复选框
                                                                            if (!String.IsNullOrEmpty(item.F_FormProperty_dataSource))
                                                                            {
                                                                                <div class="mulitytext @isShowYuanSu"><label>@item.F_FormProperty_showName</label>@{Html.RenderAction("GenerateCheckbox", new { formPropertyValue = @item });}<i></i></div>
                                                                            }
                                                                            else
                                                                            {//这种情况只能存放一个布尔型的值：1或者0
                                                                                if (String.IsNullOrEmpty(item.V_FormPropertyValue_Value))
                                                                                {
                                                                                    <div class="mulitytext @isShowYuanSu"><label>@item.F_FormProperty_showName</label><input name="@boxName" value="0" type="checkbox" /><i></i></div>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <div class="mulitytext @isShowYuanSu"><label>@item.F_FormProperty_showName</label><input name="@boxName" value="1" type="checkbox" /><i></i></div>
                                                                                }
                                                                            }
                                                                            break;
                                                                              case 133://下拉框(这个表单只有一个下拉框，而且是个性化操作，所以采用直接写死的方式进行处理,hety,2015-09-08)
                                                                            <div class="mulitytext @isShowYuanSu">
                                                                                <label>@item.F_FormProperty_showName</label>
                                                                                @if (isAllowEidtCheckOpionDrop)
                                                                                {
                                                                                    <select onchange="zygwChange(this)" name="@boxName" id="@boxId">
                                                                                        @if (String.IsNullOrEmpty(item.V_FormPropertyValue_Value))
                                                                                        {
                                                                                            <option selected="selected" value="-2">请选择</option>
                                                                                            <option value="680">同意</option>
                                                                                            <option value="681">不同意</option>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            if (item.V_FormPropertyValue_Value == Convert.ToInt32(AuditOpionEnum.不同意).ToString())
                                                                                            {
                                                                                                <option value="680">同意</option>
                                                                                                <option selected="selected" value="681">不同意</option>
                                                                                            }
                                                                                            else if (item.V_FormPropertyValue_Value == Convert.ToInt32(AuditOpionEnum.同意).ToString())
                                                                                            {
                                                                                                <option selected="selected" value="680">同意</option>
                                                                                                <option value="681">不同意</option>
                                                                                            }
                                                                                        }
                                                                                    </select>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <select @individuationHtmlAttributes name="@boxName" id="@boxId" onchange="zygwChange(this)">
                                                                                        @if (String.IsNullOrEmpty(item.V_FormPropertyValue_Value))
                                                                                        {
                                                                                            <option selected="selected" value="-2">请选择</option>
                                                                                            <option value="680">同意</option>
                                                                                            <option value="681">不同意</option>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            if (item.V_FormPropertyValue_Value == Convert.ToInt32(AuditOpionEnum.不同意).ToString())
                                                                                            {
                                                                                                <option value="680">同意</option>
                                                                                                <option selected="selected" value="681">不同意</option>
                                                                                            }
                                                                                            else if (item.V_FormPropertyValue_Value == Convert.ToInt32(AuditOpionEnum.同意).ToString())
                                                                                            {
                                                                                                <option selected="selected" value="680">同意</option>
                                                                                                <option value="681">不同意</option>
                                                                                            }
                                                                                        }
                                                                                    </select>
                                                                                }
                                                                                <i></i>
                                                                            </div>
                                                                                break;
                                                                              case 134://日期框
                                                                                htmlAttributes += "date=date dateformat=yyyy-MM-dd";
                                                                                if (!String.IsNullOrEmpty(item.V_FormPropertyValue_Value))
                                                                                {
                                                                                    propertyTime = DateTime.Parse(item.V_FormPropertyValue_Value).ToString("yyyy-MM-dd");
                                                                                }
                                                                                if (item.F_FormProperty_code.ToString().ToLower() == "1bf386ec-3d9d-4aac-8f6d-d9b049b727ad")
                                                                                {
                                                                                    individuationStyle = " style=float:left;width:380px; ";
                                                                                }
                                                                                <div class="mulitytext @isShowYuanSu" @individuationStyle><label>@item.F_FormProperty_showName</label><input id="@boxId" name="@boxName" type="text" @htmlAttributes value="@propertyTime" @individuationHtmlAttributes><i></i></div>
                                                                                break;
                                                                              case 135://日期时间框
                                                                                htmlAttributes += "date=date ";
                                                                                if (!String.IsNullOrEmpty(item.V_FormPropertyValue_Value))
                                                                                {
                                                                                    propertyTime = DateTime.Parse(item.V_FormPropertyValue_Value).ToString("yyyy-MM-dd HH:mm:ss");
                                                                                }
                                                                                <div class="mulitytext @isShowYuanSu"><label>@item.F_FormProperty_showName</label><input dateformat="yyyy-MM-dd HH:mm:ss" id="@boxId" name="@boxName" type="text" @htmlAttributes value="@propertyTime" @individuationHtmlAttributes><i></i></div>
                                                                                break;
                                                                              case 136://单选弹出框
                                                                            <div class="mulitytext @isShowYuanSu"><label>@item.F_FormProperty_showName</label>@{Html.RenderAction("GenerateSingleCallbackRefList", new { formPropertyValue = @item, htmlAttributes = @htmlAttributes });}<i></i></div>
                                                                            break;
                                                                              case 137://多选弹出框
                                                                            <div class="mulitytext @isShowYuanSu"><label>@item.F_FormProperty_showName</label>@{Html.RenderAction("GenerateMulityCallbackRefList", new { formPropertyValue = @item, htmlAttributes = @htmlAttributes });}<i></i></div>
                                                                            break;
                                                                              case 138://单选弹出树
                                                                            <div class="mulitytext @isShowYuanSu"><label>@item.F_FormProperty_showName</label>@{Html.RenderAction("GenerateSingleCallbackRefTree", new { formPropertyValue = @item, htmlAttributes = @htmlAttributes });}<i></i></div>
                                                                            break;
                                                                              case 655://多选弹出文本框
                                                                            <div class="mulitytext @isShowYuanSu"><label>@item.F_FormProperty_showName</label>@{Html.RenderAction("GenerateMulityCallbackRefEdit", new { formPropertyValue = @item, htmlAttributes = @htmlAttributes });}<i></i></div>
                                                                            break;
                                                                              case 604://标签(转化影藏域控件，方便表单提交)
                                                                            //控制样式
                                                                            if (item.F_FormProperty_code.ToString().ToLower() == "df183515-eedd-452d-a519-a1b2acf6e542" || item.F_FormProperty_code.ToString().ToLower() == "ab21dc0e-5ad0-4959-9410-611dde6a7d99"
                                                                                || item.F_FormProperty_code.ToString().ToLower() == "9367c08b-bbe0-4bca-ae6a-82123419e9ae" || item.F_FormProperty_code.ToString().ToLower() == "1f810b74-6a31-47db-83eb-a56d880fd3b7")
                                                                            {
                                                                                individuationStyle = " style=float:left;width:380px; ";
                                                                            }
                                                                            if (item.F_FormProperty_code.ToString().ToLower() == "a191678e-d8e2-4cee-b163-2679e88a3d89" || item.F_FormProperty_code.ToString().ToLower() == "ed4a185a-76dc-4dd3-bcf1-d6000cd8bf64"
                                                                                || item.F_FormProperty_code.ToString().ToLower() == "6cda7b58-b098-4597-8847-14d2de3d2956" || item.F_FormProperty_code.ToString().ToLower() == "1f5a41eb-ed9b-4753-84b9-8277d8eaf8c4")
                                                                            {
                                                                                individuationStyle = " style=width:380px; ";
                                                                            }
                                                                            //处理专业顾问审核人，审核时间
                                                                            if (item.F_FormProperty_code.ToString().ToLower() == "a191678e-d8e2-4cee-b163-2679e88a3d89" || item.F_FormProperty_code.ToString().ToLower() == "df183515-eedd-452d-a519-a1b2acf6e542")
                                                                            {
                                                                                <div class="mulitytext @isShowYuanSu" @individuationStyle>
                                                                                    <label>@item.F_FormProperty_showName</label>
                                                                                    @if (item.F_FormProperty_code.ToString().ToLower() == "df183515-eedd-452d-a519-a1b2acf6e542")
                                                                                    {//审核时间(有审核时间，则显示审核时间，没有审核时间(有专业顾问元素的权限,并且表单状态为"已提交"时)，默认当前时间)
                                                                                        if (string.IsNullOrEmpty(item.V_FormPropertyValue_Value))
                                                                                        {
                                                                                            if (isHasZyGwPower && formStatus == Convert.ToInt32(FormStatusEnum.已提交))
                                                                                            {
                                                                                                <label>@now.ToString("yyyy-MM-dd HH:mm:ss")</label>
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                <label></label>
                                                                                            }
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <label>@item.V_FormPropertyValue_Value</label>
                                                                                        }
                                                                                    }
                                                                                    else
                                                                                    {//审核人(显示名称)(如果有审核人，则显示审核人，没有审核人(有专业顾问元素的权限,并且表单状态为"已提交"时)，默认为当前登录用户)
                                                                                        MvcHtmlString audtiPersonStr = Html.Action("GenerateAuditPerson", "ExpectProfitForm", new { area = "IndividuationForm", userCode = item.V_FormPropertyValue_Value });
                                                                                        if (string.IsNullOrEmpty(item.V_FormPropertyValue_Value))
                                                                                        {
                                                                                            if (isHasZyGwPower && formStatus == Convert.ToInt32(FormStatusEnum.已提交))
                                                                                            {
                                                                                                <label>@audtiPersonStr.ToString()</label>
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                <label></label>
                                                                                            }
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <label>@audtiPersonStr.ToString()</label>
                                                                                        }
                                                                                    }
                                                                                    <input type="hidden" id="@boxName" name="@boxName" value="@item.V_FormPropertyValue_Value" />
                                                                                    <i></i>
                                                                                </div>
                        }
                       //处理指挥中心(专家部长)审核人，审核时间
                       if (item.F_FormProperty_code.ToString().ToLower() == "ed4a185a-76dc-4dd3-bcf1-d6000cd8bf64" || item.F_FormProperty_code.ToString().ToLower() == "ab21dc0e-5ad0-4959-9410-611dde6a7d99")
                       {
                        <div class="mulitytext @isShowYuanSu" @individuationStyle>
                            <label>@item.F_FormProperty_showName</label>
                            @if (item.F_FormProperty_code.ToString().ToLower() == "ab21dc0e-5ad0-4959-9410-611dde6a7d99")
                            {//审核时间(有审核时间，则显示审核时间，没有审核时间(有指挥中心元素的权限,并且表单状态为"已提交"时)，默认当前时间)
                                if (string.IsNullOrEmpty(item.V_FormPropertyValue_Value))
                                {
                                    if (isHasZhzxPower && formStatus == Convert.ToInt32(FormStatusEnum.已提交))
                                    {//并且专家顾问"审核意见"元素有值时，才会默认当前时间
                                        if (String.IsNullOrEmpty(zygwCheckOpion.V_FormPropertyValue_Value))
                                        {
                                            <label></label>
                                        }
                                        else
                                        {
                                            <label>@now.ToString("yyyy-MM-dd HH:mm:ss")</label>
                                        }
                                    }
                                    else
                                    {
                                        <label></label>
                                    }
                                }
                                else
                                {
                                    <label>@item.V_FormPropertyValue_Value</label>
                                }
                            }
                            else
                            {//审核人(显示名称)(如果有审核人，则显示审核人，没有审核人(有指挥中心元素的权限,并且表单状态为"已提交"时)，默认为当前登录用户)
                                MvcHtmlString audtiPersonStr = Html.Action("GenerateAuditPerson", "ExpectProfitForm", new { area = "IndividuationForm", userCode = item.V_FormPropertyValue_Value });
                                if (string.IsNullOrEmpty(item.V_FormPropertyValue_Value))
                                {
                                    if (isHasZhzxPower && formStatus == Convert.ToInt32(FormStatusEnum.已提交))
                                    {//并且专家顾问"审核意见"元素有值时，才会默认当前登录用户
                                        if (String.IsNullOrEmpty(zygwCheckOpion.V_FormPropertyValue_Value))
                                        {
                                            <label></label>
                                        }
                                        else
                                        {
                                            <label>@audtiPersonStr.ToString()</label>
                                        }
                                    }
                                    else
                                    {
                                        <label></label>
                                    }
                                }
                                else
                                {
                                    <label>@audtiPersonStr.ToString()</label>
                                }
                            }
                            <input type="hidden" id="@boxName" name="@boxName" value="@item.V_FormPropertyValue_Value" />
                            <i></i>
                        </div>
                        }
                       //处理财务元素审核人，审核时间
                       if (item.F_FormProperty_code.ToString().ToLower() == "1f5a41eb-ed9b-4753-84b9-8277d8eaf8c4" || item.F_FormProperty_code.ToString().ToLower() == "1f810b74-6a31-47db-83eb-a56d880fd3b7")
                       {
                        <div class="mulitytext @isShowYuanSu" @individuationStyle>
                            <label>@item.F_FormProperty_showName</label>
                            @if (item.F_FormProperty_code.ToString().ToLower() == "1f810b74-6a31-47db-83eb-a56d880fd3b7")
                            {//审核时间(有审核时间，则显示审核时间，没有审核时间(有财务元素的权限,并且表单状态为"已提交"时)，默认当前时间)
                                if (string.IsNullOrEmpty(item.V_FormPropertyValue_Value))
                                {
                                    if (isHasCwPower && formStatus == Convert.ToInt32(FormStatusEnum.已提交))
                                    {//并且指挥中心"审核意见"元素有值时，才会默认当前时间
                                        if (String.IsNullOrEmpty(zhzxCheckOpion.V_FormPropertyValue_Value))
                                        {
                                            <label></label>
                                        }
                                        else
                                        {
                                            <label>@now.ToString("yyyy-MM-dd HH:mm:ss")</label>
                                        }
                                    }
                                    else
                                    {
                                        <label></label>
                                    }
                                }
                                else
                                {
                                    <label>@item.V_FormPropertyValue_Value</label>
                                }
                            }
                            else
                            {//审核人(显示名称)(如果有审核人，则显示审核人，没有审核人(有财务元素的权限,并且表单状态为"已提交"时)，默认为当前登录用户)
                                MvcHtmlString audtiPersonStr = Html.Action("GenerateAuditPerson", "ExpectProfitForm", new { area = "IndividuationForm", userCode = item.V_FormPropertyValue_Value });
                                if (string.IsNullOrEmpty(item.V_FormPropertyValue_Value))
                                {
                                    if (isHasCwPower && formStatus == Convert.ToInt32(FormStatusEnum.已提交))
                                    {//并且指挥中心"审核意见"元素有值时，才会默认当前登录用户
                                        if (String.IsNullOrEmpty(zhzxCheckOpion.V_FormPropertyValue_Value))
                                        {
                                            <label></label>
                                        }
                                        else
                                        {
                                            <label>@audtiPersonStr.ToString()</label>
                                        }
                                    }
                                    else
                                    {
                                        <label></label>
                                    }
                                }
                                else
                                {
                                    <label>@audtiPersonStr.ToString()</label>
                                }
                            }
                            <input type="hidden" id="@boxName" name="@boxName" value="@item.V_FormPropertyValue_Value" />
                            <i></i>
                        </div>
                        }
                       //处理首席专家审核人，审核时间
                       if (item.F_FormProperty_code.ToString().ToLower() == "6cda7b58-b098-4597-8847-14d2de3d2956" || item.F_FormProperty_code.ToString().ToLower() == "9367c08b-bbe0-4bca-ae6a-82123419e9ae")
                        {
                        <div class="mulitytext @isShowYuanSu" @individuationStyle>
                            <label>@item.F_FormProperty_showName</label>
                            @if (item.F_FormProperty_code.ToString().ToLower() == "9367c08b-bbe0-4bca-ae6a-82123419e9ae")
                            {//审核时间(有审核时间，则显示审核时间，没有审核时间(有首席专家元素的权限,并且表单状态为"已提交"时)，默认当前时间)
                                if (string.IsNullOrEmpty(item.V_FormPropertyValue_Value))
                                {
                                    if (isHasSxzjPower && formStatus == Convert.ToInt32(FormStatusEnum.已提交))
                                    {//并且财务"审核人"元素有值时，才会默认当前时间
                                        if (cwCheckOpion != null && !String.IsNullOrEmpty(cwCheckOpion.V_FormPropertyValue_Value))
                                        {
                                            <label>@now.ToString("yyyy-MM-dd HH:mm:ss")</label>
                                        }
                                        else
                                        {
                                            <label></label>
                                        }
                                    }
                                    else
                                    {
                                        <label></label>
                                    }
                                }
                                else
                                {
                                    <label>@item.V_FormPropertyValue_Value</label>
                                }
                            }
                            else
                            {//审核人(显示名称)(如果有审核人，则显示审核人，没有审核人(有首席专家元素的权限,并且表单状态为"已提交"时)，默认为当前登录用户)
                                MvcHtmlString audtiPersonStr = Html.Action("GenerateAuditPerson", "ExpectProfitForm", new { area = "IndividuationForm", userCode = item.V_FormPropertyValue_Value });
                                if (string.IsNullOrEmpty(item.V_FormPropertyValue_Value))
                                {
                                    if (isHasSxzjPower && formStatus == Convert.ToInt32(FormStatusEnum.已提交))
                                    {//并且财务"审核意见"元素有值时，才会默认当前登录用户
                                        if (cwCheckOpion != null && !String.IsNullOrEmpty(cwCheckOpion.V_FormPropertyValue_Value))
                                        {
                                            <label>@audtiPersonStr.ToString()</label>
                                        }
                                        else
                                        {
                                            <label></label>
                                        }
                                    }
                                    else
                                    {
                                        <label></label>
                                    }
                                }
                                else
                                {
                                    <label>@audtiPersonStr.ToString()</label>
                                }
                            }
                            <input type="hidden" id="@boxName" name="@boxName" value="@item.V_FormPropertyValue_Value" />
                            <i></i>
                        </div>
                        }
                       break;
                                                                          }
                                                                          if (item.F_FormProperty_code.ToString().ToLower() == "e8db6dc3-e19c-49a0-9982-bb20765f5d02")
                                                                          {//根据专业顾问最后一个出现的专业顾问元素属性，加上相应操作按钮(这种情况表单属性顺序一定不可以改变,hety,2015-09-08)
                                                                              if (formStatus == Convert.ToInt32(FormStatusEnum.已提交) && isHasZyGwPower)
                                                                              {//只有表单状态为"已提交",并且拥有专业顾问权限时(并且确认审核后，不可以显示)，才可以显示此按钮
                                                                                  if (String.IsNullOrEmpty(zygwCheckOpion.V_FormPropertyValue_Value))
                                                                                  {
                                                                                    <div class="buttonWrap clear">
                                                                                        <label>&nbsp;</label><input name="" type="button" id="btnSave" onclick="saveForm(this,'zygwSave')" class="btn btnmr fl" value="确认审核" /><i></i>
                                                                                    </div>
                                                                                  }
                                                                              }
                                                                          }
                                                                          if (item.F_FormProperty_code.ToString().ToLower() == "06e7d142-b5bb-4115-8329-89f3d85dd3ca")
                                                                          {//根据指挥中心最后一个出现的指挥中心裁定元素属性，加上相应按钮(这种情况表单属性顺序一定不可以改变,hety,2015-09-08)
                                                                              if (formStatus == Convert.ToInt32(FormStatusEnum.已提交) && isHasZhzxPower)
                                                                              {//只有表单状态为"已提交",并且拥有指挥中心权限，并且专业顾问"审核意见"元素有值时，才可以显示此按钮
                                                                                  if (!String.IsNullOrEmpty(zygwCheckOpion.V_FormPropertyValue_Value))
                                                                                  {
                                                                                      //指挥中心元素已经裁定过，则不可以显示此按钮
                                                                                      if (String.IsNullOrEmpty(zhzxCheckOpion.V_FormPropertyValue_Value))
                                                                                      {
                                                                                        <div class="buttonWrap clear">
                                                                                            <label>&nbsp;</label><input name="" type="button" id="btnSave" onclick="saveForm(this,'zhzxSave')" class="btn btnmr fl" value="裁定" /><i></i>
                                                                                        </div>
                                                                                      }
                                                                                  }
                                                                              }
                                                                          }
                                                                          if (item.F_FormProperty_code.ToString().ToLower() == "6b6bcb4e-7b3a-4cf9-bb5d-37f4a576d752")
                                                                          {//根据财务最后一个出现的财务裁定元素属性，加上相应按钮(这种情况表单属性顺序一定不可以改变,hety,2016-03-07)
                                                                              if (formStatus == Convert.ToInt32(FormStatusEnum.已提交) && isHasCwPower)
                                                                              {//只有表单状态为"已提交",并且拥有财务元素权限，并且指挥中心"审核意见"元素有值时，才可以显示此按钮
                                                                                  if (!String.IsNullOrEmpty(zhzxCheckOpion.V_FormPropertyValue_Value))
                                                                                  {
                                                                                      //财务元素已经裁定过，则不可以显示此按钮
                                                                                      if (String.IsNullOrEmpty(cwCheckOpion.V_FormPropertyValue_Value))
                                                                                      {
                                                                                        <div class="buttonWrap clear">
                                                                                            <label>&nbsp;</label><input name="" type="button" id="btnSave" onclick="saveForm(this,'cwSave')" class="btn btnmr fl" value="复核" /><i></i>
                                                                                        </div>
                                                                                      }
                                                                                  }
                                                                              }
                                                                          }
                                                                          if (item.F_FormProperty_code.ToString().ToLower() == "74cf159b-d291-4e18-a8f9-ac96b4cde904")
                                                                          {//根据首席专家最后一个出现的指挥中心裁定元素属性，加上相应按钮(这种情况表单属性顺序一定不可以改变,hety,2015-09-08)
                                                                              if (formStatus == Convert.ToInt32(FormStatusEnum.已提交) && isHasSxzjPower)
                                                                              {
                                                                                  if (cwCheckOpion != null && !String.IsNullOrEmpty(cwCheckOpion.V_FormPropertyValue_Value))
                                                                                  {
                                                                                      //财务预期收益金额元素
                                                                                      if (cwYqsyjeOpion != null && !String.IsNullOrEmpty(cwYqsyjeOpion.V_FormPropertyValue_Value))
                                                                                      {
                                                                                          decimal cwYqsyMoney = 0.00M;
                                                                                          if (decimal.TryParse(cwYqsyjeOpion.V_FormPropertyValue_Value, out cwYqsyMoney))
                                                                                          {
                                                                                              if (cwYqsyMoney >= 100000.00M)
                                                                                              {//财务裁定金额(预期收益金额)大于等于10万时），并且首席专家元素尚未保存过时，则显示
                                                                                                  if (String.IsNullOrEmpty(sxzjCheckOpion.V_FormPropertyValue_Value))
                                                                                                  {
                                                                                                    <div class="buttonWrap clear">
                                                                                                        <label>&nbsp;</label><input name="" type="button" id="btnSave" onclick="saveForm(this,'sxzjSave')" class="btn btnmr fl" value="裁定" /><i></i>
                                                                                                    </div>
                                                                                                  }
                                                                                              }
                                                                                          }
                                                                                      }
                                                                                  }
                                                                              }
                                                                          }
                                                                      }
                                                                    <div class="splitline"></div>
            if (isHasSaveFormPower)
            {
                if (formStatus != Convert.ToInt32(FormStatusEnum.已作废))
                {
                    <div class="buttonWrap clear">
                        <label>&nbsp;</label><input name="" type="button" id="btnSave" onclick="saveForm(this,'onlySave')" class="btn btnmr fl" value="确认保存" /><i></i>
                        <label>&nbsp;</label><input name="" type="button" onclick="viewAttachment(this)" class="btn btnmr fl" value="附件信息" title="表单附件" dialogwidth="1200" dialogheight="700" url="/attachmentupload/attachment_defaultlayout?relationCode=@businessFlowFormCode&targetDirectory=@BaseEnumHelper.GetUploadAttachmentFolder(FileBelongTypeEnum.自定义表单)&fileBelongType=@Convert.ToInt32(FileBelongTypeEnum.自定义表单)" /><i></i>
                    </div>
                }
            }
            else
            {//只可以查看附件,不可以对附件执行任何操作
                if (formStatus != Convert.ToInt32(FormStatusEnum.已作废))
                {
                    <div class="buttonWrap clear">
                        <label>&nbsp;</label><input name="" type="button" onclick="viewAttachment(this)" class="btn btnmr fl" value="附件信息" title="表单附件" dialogwidth="1200" dialogheight="700" url="/attachmentupload/attachment_defaultlayout_view?relationCode=@businessFlowFormCode&targetDirectory=@BaseEnumHelper.GetUploadAttachmentFolder(FileBelongTypeEnum.自定义表单)&fileBelongType=@Convert.ToInt32(FileBelongTypeEnum.自定义表单)" /><i></i>
                    </div>
                }
            }
        }
        @{Html.RenderAction("GenerateReDoneForm", "FormReDone", new { formUiType = 1, fkType = fkType, pkCode = pkCode, businessFlowCode = businessFlowCode, formCode = formCode, businessFlowFormCode = businessFlowFormCode, formStatus = formStatus, isSwitchFormHistoryRecordUrl = isSwitchFormHistoryRecordUrl ? 1 : 0 });}
    </ul>
</div>