@using CommonService.Model.FlowManager;
@model IEnumerable<CommonService.Model.FlowManager.P_Flow>
@{
    Layout = "~/Views/Shared/_ListSearchWithDialogTemplate.cshtml";//带表单查询的列表页面固定模板
}
@{
    ViewBag.Title = "流程信息列表";
}

@{
    P_Flow flowConditon = ViewBag.FlowConditon;//参数条件模型
}
@{
    List<CommonService.Model.C_Parameters> Flowtype = ViewBag.Flow_type;
}
<div class="frameset_tree_tool">
    <div class="tools">
        <ul class="toolbar">
            <li><a target="popdialog" title="流程信息列表" dialogwidth="800" dialogheight="500" href="/flowmanager/flow/create?flowCode={sid_Iterm}"><span><img src="/theme/images/new_add.png" /></span>添加</a></li>
            <li><a target="popdialog" title="流程信息列表" dialogwidth="800" dialogheight="500" edit="edit" href="/flowmanager/flow/edit?flowCode={sid_Iterm}"><span><img src="/theme/images/new_edit.png" /></span>修改</a></li>
            <li><a target="ajaxtodo" title="确认要删除选中数据吗?" singleoperate="singleoperate" href="/flowmanager/flow/delete?flowCode={sid_Iterm}"><span><img src="/theme/images/new_delete.png" /></span>删除</a></li>
        </ul>
        <ul class="seachform">
            @using (Html.BeginForm("List", "flow", FormMethod.Post, new { id = ViewBag.SearchFormID, onsubmit = "return clickSearch(this);" }))
            {
                <input name="ThisPageIndex" class="ThisPageIndex" type="hidden" value="@ViewBag.ThisPageIndex" />
                <input name="IsExcutedFormSearch" class="IsExcutedFormSearch" type="hidden" value="@ViewBag.IsExcutedFormSearch" />
                <li><label>流程名称</label>@Html.TextBox("P_Flow_name", flowConditon.P_Flow_name, new { @class = "scinput" })</li>
                <li><label>&nbsp;</label><input type="submit" class="scbtn" value="查询" /></li>
            }
        </ul>
    </div>
</div>
    <table class="tablelist">
        <thead>
            <tr>
                <th>流程名称</th>
                <th>流程类型</th>
                <th>父级流程</th>
                <th>流程要求</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr target="sid_Iterm" rel="@item.P_Flow_code">
                    <td>@item.P_Flow_name</td>
                    @foreach (var type in Flowtype)
                    {
                        if (type.C_Parameters_id == item.P_Flow_type)
                        {
                            <td>@type.C_Parameters_name</td>
                        }
                    }
                    <td>@item.P_Flow_parent_name</td>
                    <td>@item.P_Flow_require</td>
                </tr>
            }
        </tbody>
    </table>

