@using Context;
@{
    Layout = "~/Views/Shared/_KMSLayout.cshtml";//KMS母版页
}

<h3 class="nav-tabs">知识库概括</h3>
<div class="row">
    <div class="col-md-4 col-sm-12">
        <div class="portlet portlet-title box">
            <div class="title">
                <div class="caption">
                    <p>总知识数：<font style="color: #FFA061; font-size:18px;">@ViewBag.allRCount </font>个 </p>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row static-info">
                    <div class="col-md-3 name">
                        视频：
                    </div>
                    <div class="col-md-3">
                        <small>@ViewBag.aviCount </small>
                    </div>
                    <div class="col-md-3 name">
                        文档：
                    </div>
                    <div class="col-md-3">
                        <small>@ViewBag.wordCount </small>
                    </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-3 name">
                        图片：
                    </div>
                    <div class="col-md-3">
                        <small>@ViewBag.jpgCount </small>
                    </div>
                    <div class="col-md-3 name">
                        文章：
                    </div>
                    <div class="col-md-3">
                        <small>@ViewBag.articleCount </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="portlet portlet-title box">
            <div class="title">
                <div class="caption">
                    <p>本月新增知识数：<font style="color: #64c1e0; font-size: 18px;">@ViewBag.allRCountM </font>个 </p>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row static-info">
                    <div class="col-md-3 name">
                        视频：
                    </div>
                    <div class="col-md-3">
                        <small>@ViewBag.aviCountM </small>
                    </div>
                    <div class="col-md-3 name">
                        文档：
                    </div>
                    <div class="col-md-3">
                        <small>@ViewBag.wordCountM </small>
                    </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-3 name">
                        图片：
                    </div>
                    <div class="col-md-3">
                        <small>@ViewBag.jpgCountM </small>
                    </div>
                    <div class="col-md-3 name">
                        文章：
                    </div>
                    <div class="col-md-3">
                        <small>@ViewBag.articleCountM </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="portlet portlet-title box">
            <div class="title">
                <div class="caption">
                    <p>本月新增问题数：<font style="color: #64c1e0; font-size: 18px;">@ViewBag.allCountM </font>个 </p>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row static-info">
                    <div class="col-md-3 name">
                        总问题：
                    </div>
                    <div class="col-md-3">
                        <small>@ViewBag.allCountM </small>
                    </div>
                    @*<div class="col-md-3 name">
                        未回答：
                    </div>
                    <div class="col-md-3">
                        <small>@ViewBag.whCountM </small>
                    </div>*@
                    @*<div class="col-md-3 name">
                        已回答：
                    </div>
                    <div class="col-md-3">
                        <small>@ViewBag.yhCountM </small>
                    </div>*@
                </div>
                <div class="row static-info">
                    <div class="col-md-3 name">
                        未解决：
                    </div>
                    <div class="col-md-3">
                        <small>@ViewBag.wjCountM </small>
                    </div>
                    <div class="col-md-3 name">
                        已解决：
                    </div>
                    <div class="col-md-3">
                        <small>@ViewBag.yjCountM </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<h3 class="nav-tabs">基础配置及初始化</h3>
<div class="row">
    <div class="col-md-4">
        <div class="top-news">
            <a href="/kms/knowledge/list" class="btn red" style="text-align:right;">
                <em style="font-size:18px;">
                    知识分类管理
                </em>
                <em>&nbsp;</em>
                <em>
                    Knowledge Classification Management
                    <i class="fa fa-tags"></i>
                </em>
                <em>&nbsp;</em>
                <i class="fa fa-briefcase top-news-icon"></i>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="top-news">
            <a href="/kms/resources/cover" class="btn green" style="text-align:right;">
                <em style="font-size:18px;">
                    系统封面管理
                </em>
                <em>&nbsp;</em>
                <em>
                    Cover Management System
                    <i class="fa fa-tags"></i>
                </em>
                <em>&nbsp;</em>
                <i class="fa fa-music top-news-icon"></i>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="top-news">
            <a href="/kms/study/MyCollection" class="btn blue" style="text-align:right;">
                <em style="font-size:18px;">
                    学习管理系统
                </em>
                <em>&nbsp;</em>
                <em>
                    Learning Management System
                    <i class="fa fa-tags"></i>
                </em>
                <em>&nbsp;</em>
                <i class="fa fa-globe top-news-icon"></i>
            </a>
        </div>
    </div>

</div>*@
<h3 class="nav-tabs">功能面板</h3>
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a class="btn dashboard-stat blue-madison" href="/kms/Resources/list">
            <div class="visual">
                <i class="fa fa-briefcase fa-icon-medium"></i>
            </div>
            <div class="details margin-top-15 top-news">
                <span>知识库维护</span>
                <div class="desc">
                    @ViewBag.allRCount 条记录
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a class="btn dashboard-stat red-intense" href="/kms/Problem/problemList">
            <div class="visual">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="details margin-top-15 top-news">
                <span>问吧管理</span>
                <div class="desc">
                    @ViewBag.allCount 条记录
                </div>
            </div>
        </a>
    </div>
    @if(UIContext.Current.IsPreSetManager)
    {
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <a class="btn dashboard-stat green-haze" href="/kms/comments/list">
                <div class="visual">
                    <i class="fa fa-group fa-icon-medium"></i>
                </div>
                <div class="details margin-top-15 top-news">
                    <span>评论管理</span>
                    <div class="desc">
                        @ViewBag.allComCount 条记录
                    </div>
                </div>
            </a>
        </div>
    }    
    @*<div class="tile selected bg-yellow-saffron">
            <div class="corner">
            </div>
            <div class="tile-body">
                <i class="fa fa-user"></i>
            </div>
            <div class="tile-object">
                <div class="name">
                    <a href="/kms/Resources/list">知识库维护</a>
                </div>
                <div class="number">
                    452
                </div>
            </div>
        </div>
        <div class="tile bg-blue-steel">
            <div class="corner">
            </div>
            <div class="tile-body">
                <i class="fa fa-briefcase"></i>
            </div>
            <div class="tile-object">
                <div class="name">
                    <a href="/kms/Problem/problemList">问吧管理</a>
                </div>
                <div class="number">
                    452
                </div>
            </div>
        </div>
        <div class="tile selected bg-yellow-saffron">
            <div class="corner">
            </div>
            <div class="tile-body">
                <i class="fa fa-user"></i>
            </div>
            <div class="tile-object">
                <div class="name">
                    <a href="/kms/comments/list">评论管理</a>
                </div>
                <div class="number">
                    452
                </div>
            </div>
        </div>*@
</div>