@model CommonService.Model.KMS.K_Resources
@{
    Layout = null;
}
@{
    List<CommonService.Model.KMS.K_Comments> listCom = ViewBag.listCom;
}
<div class="col-md-12 article-block">
    @using (Html.BeginForm("SaveComment", "Resources", FormMethod.Post, new { id = "formComments", @class = "form-horizontal form-bordered", role = "form", enctype = "multipart/form-data" }))
    {
        <hr>
        <a id="refshcom" class="ajaxify_part" href="/kms/resources/CommentList?resourcesCode=@Model.K_Resources_code"></a>
        <input type="hidden" name="resourcesCode" value="@Model.K_Resources_code" />
        <div class="form-body">
            <div class="form-group">
                <label class="control-label col-md-1">评论：</label>
                <div class="col-md-10">
                    @Html.TextArea("K_Comments_content", "", new { id = "console", @class = "form-control", rows = "5", validateType = "{required:true}", validateMessage = "{required:'内容不能为空'}", placeholder = "输入评论。。" })
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <div class="form-actions">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <button type="button" class="btn blue pull-right" onclick="saveComments('formComments')">发布评论</button>
                </div>
            </div>
        </div>
        <hr>
        <div class="col-md-12 media">
            <div>
                <div class="todo-tasklist">
                    @Html.Hidden("code")
                    @{int i = 1;}
                    @foreach (var item in listCom)
                    {
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="todo-tasklist-item col-md-10 @(i % 2 == 0 ? "todo-tasklist-item-border-red" : "todo-tasklist-item-border-green")">
                                <img class="todo-userpic pull-left" src="/theme/assets/admin/layout/img/avatar5.jpg" width="27px" height="27px">
                                <div class="todo-tasklist-item-title" style="font-weight:normal;">
                                    @item.C_Userinfo_name
                                    @if (item.K_Comments_floors != 1)
                                    {
                                        <span class="pull-right">@item.K_Comments_floors 楼</span>
                                    }
                                    else
                                    {
                                        <span class="pull-right">沙发</span>
                                    }
                                </div>
                                @if (item.K_Comments_parent != null)
                                {
                                    <div class="todo-tasklist-item-text well" style="font-size:13px;">
                                        <code>@item.C_Userinfo_parentname</code>
                                        <span>发表于 @item.K_Comments_parentTime</span><span class="pull-right">@item.K_Comments_parentFloors 楼</span><br /> <br />
                                        <span>@Html.Raw(item.K_Comments_parentName.Length > 30 ? item.K_Comments_parentName.Substring(0, 30) + "..." : item.K_Comments_parentName)</span><br />
                                    </div>
                                }
                                <div class="todo-tasklist-item-text" style="font-size:14px;">
                                    @Html.Raw(item.K_Comments_content)
                                </div>
                                <div class="todo-tasklist-controls pull-left">
                                    <span class="todo-tasklist-date"><i class="fa fa-calendar"></i> <i>@item.K_Comments_createTime</i> </span>
                                    <span>
                                        <a href="javascript:;" class="btn btn-xs blue" onclick="ReplyComment('@item.K_Comments_code')" title="评论">
                                            评论
                                        </a>
                                    </span>
                                </div>
                                <div class="col-md-12" id="@item.K_Comments_code"></div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                                i++;
                    }
                </div>
            </div>
        </div>

    }
</div>
@if (ViewBag.SourceType == 2)
{
    <script type="text/javascript">
        FormValidation.init('formComments', formNavAjaxDone);//用表单Id和表单回调函数，初始化表单
        function saveComments(formId) {
            saveForm(formId);
        }
    </script>
}


