@{
    Layout = null;
}
@{
    string result = ViewBag.Result;
}
<!-- BEGIN PAGE HEADER-->
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box green-meadow">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-user"></i>日志统计表
                </div>

            </div>
            <div class="portlet-body">
                <!--注意：只有列表中存在导出功能时，才需要加入form；否则不需要form-->
                <form action='/Reporting/R_Log/LogReport2' id='SelectLogs' method='post' onsubmit="return isAllowSubmitExport();">
                    <div id="LogReportingList_search" class="row">
                        @Html.Hidden("isExecutedSearch", "0")
                        <div class="col-md-5" style="border-bottom: 3px solid #1BBC9B; margin: 5px;padding:10px; font-weight: bold; " id="searchPortable">
                            <span style="margin-left: 15px; color: #1BBC9B; ">便携查询：</span>
                            <a style="margin-left: 15px; color: #1BBC9B; " id="all">全部</a>
                            @if (DateTime.Now.Month == 1)
                            {
                                <a style="margin-left: 15px; color: #1BBC9B; " id="lastMonth">上个月(12月)</a>
                            }
                            else
                            {
                                <a style="margin-left: 15px; color: #1BBC9B; " id="lastMonth">上个月(@(DateTime.Now.Month - 1)月)</a>
                            }
                            <a style="margin-left: 15px; color: #1BBC9B; " id="thisMonth">本月(@(DateTime.Now.Month)月)</a>
                            <a style="margin-left: 15px; color: #1BBC9B; " id="thisQuarter">本季度(@(DateTime.Now.AddMonths(0 - ((DateTime.Now.Month - 1) % 3)).AddDays(1 - DateTime.Now.Day).ToString("MM"))月-现在)</a>
                            <a style="margin-left: 15px; color: #1BBC9B; " id="thisYear">今年(@(DateTime.Now.ToString("yyyy.1.1"))-现在)</a>
                        </div>
                        <div class="col-md-12" style="margin-top:10px;">
                            @*<div class="col-md-2">
                                <div class="form-group">
                                    统计方式：
                                    <select id="i_type" name="i_type" class="table-group-action-input form-control input-inline input-small">
                                        <option value="1">按人数统计</option>
                                        <option value="2">按次数统计</option>
                                    </select>
                                </div>
                            </div>*@
                            <input type="hidden" id="i_type" name="i_type" value="1" />
                            <div class="col-md-2">
                                <div class="form-group">
                                    部门：
                                    <select id="i_bumen" name="i_bumen" class="table-group-action-input form-control input-inline input-small">
                                        <option value="">全部</option>
                                        <option value="交付团队">交付团队</option>
                                        <option value="营销团队">营销团队</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <span style="float:left; margin-top:9px;">自定义时间</span>
                                    <div class="input-group date date-picker input-icon right" data-date-format="yyyy-mm-dd" style="width: 170px">
                                        <i class="fa"></i>
                                        <input class="form-control" type="text" name="i_customTime1" id="i_customTime1" value="@ViewBag.datefrom">
                                        <span class="input-group-btn">
                                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <span style="float:left; margin-top:9px;">至：</span>
                                    <div class="input-group date date-picker input-icon right" data-date-format="yyyy-mm-dd" style="width: 180px">
                                        <i class="fa"></i>
                                        <input class="form-control" type="text" name="i_customTime2" id="i_customTime2" value="@ViewBag.dateto">
                                        <span class="input-group-btn">
                                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-1">
                                <div class="btn-group pull-right">
                                    <div class="btn-group">
                                        @*<a id="ajaxify_pass" class="btn green" onclick="selectResult()" operatetargettype="ajaxtodo" singleoperate="singleoperate">查询<i class="fa fa-search"></i></a>*@
                                        <button type="button" id="searchBtn" class="btn green" onclick="selectResult('SelectLogs')">查询<i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="LogReportList">
                <div class="portlet light bordered">
                    <input type="hidden" value="@ViewBag.Result" id="hidValue" />
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-bar-chart font-green-haze"></i>
                            <span class="caption-subject bold uppercase font-green-haze">登录日志统计图</span>
                            <span class="caption-helper">统计结果显示</span>
                        </div>
                        <div class="tools" style="float:left;margin-left:250px;">
                            @*<a href="javascript:;" class="collapse">
                                </a>
                                <a href="#portlet-config" data-toggle="modal" class="config">
                                </a>
                                <a href="javascript:;" class="reload">
                                </a>
                                <a href="javascript:;" class="fullscreen">
                                </a>
                                <a href="javascript:;" class="remove">
                                </a>*@
                            <div class="btn-toolbar">
                                <div class="btn-group stackControls">
                                    <input type="button" class="btn blue" onclick="selectType(1)" value="按人数统计" />
                                    <input type="button" class="btn red" onclick="selectType(2)" value="按次数统计" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body" style="height:400px;">
                        <div style="width:10%;height:400px;float:left;"></div>
                        <div id="chartLog" class="chart" style="height: 400px;float:left;width:75%;">
                        </div>
                        <div style="height: 400px;float:left;width:15%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
</div>
<!-- END PAGE CONTENT-->
<script type="text/javascript" src="/theme/oajs/bar.js"></script>
<!-- BEGIN MAIN JS -->
<script>
    ComponentsPickers.init();

    var initChartSample3 = function () {
        var obj = eval('(' + $("#hidValue").val() + ')');
        //alert($("#hidValue").val());
        var chart = AmCharts.makeChart("chartLog", {
            "type": "serial",
            "theme": "light",

            "fontFamily": 'Open Sans',
            "color": '#888888',

            "legend": {
                "equalWidths": false,
                "useGraphSettings": true,
                "valueAlign": "left",
                "valueWidth": 120
            },
            "dataProvider": obj,
            "valueAxes": [{
                "id": "distanceAxis",
                "axisAlpha": 0,
                "gridAlpha": 0,
                "position": "left",
                "title": "登录人数（个）"
            }],
            "graphs": [{
                "alphaField": "alpha",
                "balloonText": "[[value]] 人",
                "dashLengthField": "dashLength",
                "fillAlphas": 0.7,
                "legendPeriodValueText": "总数: [[value.sum]] 人",
                "legendValueText": "[[value]] 个",
                "title": "总登录人数",
                "type": "column",
                "valueField": "distance",
                "valueAxis": "distanceAxis"
            }, {
                "balloonText": "APP登录:[[value]]人",
                "bullet": "round",
                "bulletBorderAlpha": 1,
                "useLineColorForBulletBorder": true,
                "bulletColor": "#FFFFFF",
                "bulletSizeField": "townSize",
                "dashLengthField": "dashLength",
                "descriptionField": "townName",
                "labelPosition": "right",
                "labelText": "[[townName2]]",
                "legendPeriodValueText": "总数：[[value.sum]] 人",
                "legendValueText": "[[value]] 人",
                "title": "APP登录",
                "fillAlphas": 0,
                "valueField": "APP人数",
                "valueAxis": "durationAxis"
            }, {
                "balloonText": "PC登录:[[value]]人",
                "bullet": "square",
                "bulletBorderAlpha": 1,
                "bulletBorderThickness": 1,
                "dashLengthField": "dashLength",
                "legendPeriodValueText": "总数：[[value.sum]] 人",
                "legendValueText": "[[value]] 人",
                "title": "PC登录",
                "fillAlphas": 0,
                "valueField": "PC人数",
                "valueAxis": "durationAxis"
            }, {
                "balloonText": "云学堂登录:[[value]]人",
                "bullet": "diamond",
                "lineColor": "#f79c66",
                "bulletBorderAlpha": 1,
                "bulletBorderThickness": 1,
                "dashLengthField": "dashLength",
                "legendPeriodValueText": "总数：[[value.sum]] 人",
                "legendValueText": "[[value]] 人",
                "title": "云学堂登录",
                "fillAlphas": 0,
                "valueField": "云学堂人数",
                "valueAxis": "durationAxis"
            }],
            "chartCursor": {
                "categoryBalloonDateFormat": "MM",
                "cursorAlpha": 0.1,
                "cursorColor": "#000000",
                "fullWidth": true,
                "valueBalloonsEnabled": true,
                "zoomable": false
            },
            "categoryField": "area",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": 0,
                "tickLength": 0
            },
            "exportConfig": {
                "menuBottom": "20px",
                "menuRight": "22px",
                "menuItems": [{
                    "icon": Metronic.getGlobalPluginsPath() + "amcharts/amcharts/images/export.png",
                    "format": 'png'
                }]
            }
        });

        $('#chartLog').closest('.portlet').find('.fullscreen').click(function () {
            chart.invalidateSize();
        });
    }
    var initChartSample4 = function () {
        var obj = eval('(' + $("#hidValue").val() + ')');
        //alert($("#hidValue").val());
        var chart = AmCharts.makeChart("chartLog", {
            "type": "serial",
            "theme": "light",

            "fontFamily": 'Open Sans',
            "color": '#888888',

            "legend": {
                "equalWidths": false,
                "useGraphSettings": true,
                "valueAlign": "left",
                "valueWidth": 120
            },
            "dataProvider": obj,
            "valueAxes": [{
                "id": "distanceAxis",
                "axisAlpha": 0,
                "gridAlpha": 0,
                "position": "left",
                "title": "登录次数（次）"
            }],
            "graphs": [{
                "alphaField": "alpha",
                "balloonText": "[[value]] 次",
                "dashLengthField": "dashLength",
                "fillAlphas": 0.7,
                "legendPeriodValueText": "总数: [[value.sum]] 次",
                "legendValueText": "[[value]] 次",
                "title": "总登录次数",
                "type": "column",
                "valueField": "distance",
                "valueAxis": "distanceAxis"
            }, {
                "balloonText": "APP次数:[[value]]次",
                "bullet": "round",
                "bulletBorderAlpha": 1,
                "useLineColorForBulletBorder": true,
                "bulletColor": "#FFFFFF",
                "bulletSizeField": "townSize",
                "dashLengthField": "dashLength",
                "descriptionField": "townName",
                "labelPosition": "right",
                "labelText": "[[townName2]]",
                "legendPeriodValueText": "总数：[[value.sum]] 次",
                "legendValueText": "[[value]] 次",
                "title": "APP登录",
                "fillAlphas": 0,
                "valueField": "APP次数",
                "valueAxis": "durationAxis"
            }, {
                "balloonText": "PC登录:[[value]]次",
                "bullet": "square",
                "bulletBorderAlpha": 1,
                "bulletBorderThickness": 1,
                "dashLengthField": "dashLength",
                "legendPeriodValueText": "总数：[[value.sum]] 次",
                "legendValueText": "[[value]] 次",
                "title": "PC登录",
                "fillAlphas": 0,
                "valueField": "PC次数",
                "valueAxis": "durationAxis"
            }, {
                "balloonText": "云学堂登录:[[value]]次",
                "bullet": "diamond",
                "lineColor": "#f79c66",
                "bulletBorderAlpha": 1,
                "bulletBorderThickness": 1,
                "dashLengthField": "dashLength",
                "legendPeriodValueText": "总数：[[value.sum]] 次",
                "legendValueText": "[[value]] 次",
                "title": "云学堂登录",
                "fillAlphas": 0,
                "valueField": "云学堂次数",
                "valueAxis": "durationAxis"
            }],
            "chartCursor": {
                "categoryBalloonDateFormat": "MM",
                "cursorAlpha": 0.1,
                "cursorColor": "#000000",
                "fullWidth": true,
                "valueBalloonsEnabled": false,
                "zoomable": false
            },
            "categoryField": "area",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": 0,
                "tickLength": 0
            },
            "exportConfig": {
                "menuBottom": "20px",
                "menuRight": "22px",
                "menuItems": [{
                    "icon": Metronic.getGlobalPluginsPath() + "amcharts/amcharts/images/export.png",
                    "format": 'png'
                }]
            }
        });

        $('#chartLog').closest('.portlet').find('.fullscreen').click(function () {
            chart.invalidateSize();
        });
    }
    initChartSample3();

    FormValidation.init('SelectLogs', formNavAjaxDone);//用表单Id和表单回调函数，初始化表单
    function selectResult(formId) {
        //saveForm(formId);
        var dateFrom = $('#i_customTime1').val();
        var dateTo = $('#i_customTime2').val();
        var bumen = $('#i_bumen').val();
        var type = $('#i_type').val();
        $.ajax({
            type: 'post',
            url: '/Reporting/R_Log/LogReport2?dateFrom=' + dateFrom + '&dateTo=' + dateTo + '&organization=' + bumen + '&type=' + type + '',
            data: $("#SelectLogs").serialize(),
            dataType: "json",
            cache: false,
            success: function (data) {
                //var json = data;
                $("#hidValue").val(data);
                //alert($("#hidValue").val());
                if (type == '1')
                    initChartSample3();
                else
                    initChartSample4();
                //initChartSample3();
            },
            error: function () {
                alert('网络错误，请稍后再试!');
            }
        });
    }

    var $searchPortable = $("#searchPortable");
    $('a', $searchPortable).each(function () {
        $(this).click(function (event) {
            event.preventDefault();
            var $this = $(this);
            var searchId = $this.attr('id');

            if (searchId == 'all') {//全部
                $("#i_customTime1").val('');
                $("#i_customTime2").val('');
                $("#searchBtn").trigger("click");
            } else if (searchId == 'lastMonth') {//上个月
                var LastMonthFirst = getLastMonthStartDate();
                var LastMonthEnd = getLastMonthEndDate();
                $("#i_customTime1").val(LastMonthFirst);
                $("#i_customTime2").val(LastMonthEnd);
                $("#searchBtn").trigger("click");
            } else if (searchId == 'thisMonth') {//本月
                var ThisMonthFirst = getMonthStartDate();
                var ThisMonthEnd = nowData;
                $("#i_customTime1").val(ThisMonthFirst);
                $("#i_customTime2").val(ThisMonthEnd);
                $("#searchBtn").trigger("click");
            } else if (searchId == 'thisQuarter') {//本季度
                var QuarterStartDate = getQuarterStartDate();
                var QuarterEndDate = nowData;
                $("#i_customTime1").val(QuarterStartDate);
                $("#i_customTime2").val(QuarterEndDate);
                $("#searchBtn").trigger("click");
            } else {//今年
                var yearStartDate = getCurrentYear();
                var yearEndDate = nowData;
                $("#i_customTime1").val(yearStartDate);
                $("#i_customTime2").val(yearEndDate);
                $("#searchBtn").trigger("click");
            }
        });
    });

    var now = new Date();                    //当前日期
    var nowDayOfWeek = now.getDay();         //今天本周的第几天
    var nowDay = now.getDate();              //当前日
    var nowMonth = now.getMonth();           //当前月
    var nowYear = now.getYear();             //当前年
    nowYear += (nowYear < 2000) ? 1900 : 0;  //
    var nowData = nowYear + '-' + nowMonth + 1 + '-' + nowDay;  //当前日期
    var lastMonthDate = new Date();  //上月日期
    lastMonthDate.setDate(1);
    lastMonthDate.setMonth(lastMonthDate.getMonth() - 1);
    var lastYear = lastMonthDate.getYear();
    var lastMonth = lastMonthDate.getMonth();

    //格式化日期：yyyy-MM-dd
    function formatDate(date) {
        var myyear = date.getFullYear();
        var mymonth = date.getMonth() + 1;
        var myweekday = date.getDate();

        if (mymonth < 10) {
            mymonth = "0" + mymonth;
        }
        if (myweekday < 10) {
            myweekday = "0" + myweekday;
        }
        return (myyear + "-" + mymonth + "-" + myweekday);
    }

    //获得某月的天数
    function getMonthDays(myMonth) {
        var monthStartDate = new Date(nowYear, myMonth, 1);
        var monthEndDate = new Date(nowYear, myMonth + 1, 1);
        var days = (monthEndDate - monthStartDate) / (1000 * 60 * 60 * 24);
        return days;
    }

    //获得本季度的开始月份
    function getQuarterStartMonth() {
        var quarterStartMonth = 0;
        if (nowMonth < 3) {
            quarterStartMonth = 0;
        }
        if (2 < nowMonth && nowMonth < 6) {
            quarterStartMonth = 3;
        }
        if (5 < nowMonth && nowMonth < 9) {
            quarterStartMonth = 6;
        }
        if (nowMonth > 8) {
            quarterStartMonth = 9;
        }
        return quarterStartMonth;
    }

    //获得本月的开始日期
    function getMonthStartDate() {
        var monthStartDate = new Date(nowYear, nowMonth, 1);
        return formatDate(monthStartDate);
    }

    //获得本月的结束日期
    function getMonthEndDate() {
        var monthEndDate = new Date(nowYear, nowMonth, getMonthDays(nowMonth));
        return formatDate(monthEndDate);
    }

    //获得上月开始时间
    function getLastMonthStartDate() {
        var lastMonthStartDate;
        if (nowMonth == 0) {
            lastMonthStartDate = new Date(nowYear - 1, lastMonth, 1);
        }
        else {
            lastMonthStartDate = new Date(nowYear, lastMonth, 1);
        }
        //alert(lastMonthStartDate);
        return formatDate(lastMonthStartDate);
    }

    //获得上月结束时间
    function getLastMonthEndDate() {
        var lastMonthEndDate
        if (nowMonth == 0) {
            lastMonthEndDate = new Date(nowYear - 1, lastMonth, getMonthDays(lastMonth));
        }
        else {
            lastMonthEndDate = new Date(nowYear, lastMonth, getMonthDays(lastMonth));
        }
        //var lastMonthEndDate = new Date(nowYear, lastMonth, getMonthDays(lastMonth));
        return formatDate(lastMonthEndDate);
    }

    //获得本季度的开始日期
    function getQuarterStartDate() {

        var quarterStartDate = new Date(nowYear, getQuarterStartMonth(), 1);
        return formatDate(quarterStartDate);
    }

    //或的本季度的结束日期
    function getQuarterEndDate() {
        var quarterEndMonth = getQuarterStartMonth() + 2;
        var quarterStartDate = new Date(nowYear, quarterEndMonth, getMonthDays(quarterEndMonth));
        return formatDate(quarterStartDate);
    }

    //获得本年开始日期
    function getCurrentYear() {
        //本年第一天
        var currentYearFirstDate = new Date(nowYear, 0, 1);
        return formatDate(currentYearFirstDate);
    };

    //获得本年结束日期
    function getCurrentYearEnd() {
        //本年最后一天
        var currentYearLastDate = new Date(nowYear, 11, 31);
        return formatDate(currentYearLastDate);
    }

    //统计方式
    function selectType(type) {
        $('#i_type').val(type);
        $("#searchBtn").trigger("click");
    }
    //ChartsAmcharts.init(); // init demo charts
</script>