@using CommonService.Model.CaseManager;
@using CommonService.Common;
@using Context;
@model IEnumerable<CommonService.Model.CaseManager.B_Case>
@{
    Layout = "~/Views/Shared/_ListSearchWithDialogTemplate.cshtml";//带表单查询的列表页面固定模板
}
@{
    ViewBag.Title = "监控中心";
    List<CommonService.Model.C_Region> RegionLists = ViewBag.RegionList;
}

@section HeadCss{
    <style type="text/css">
        .rightcontent {
            width: 100%;
        }

        .case_info_table tr {
            border-bottom: dotted 1px #c7c7c7;
        }

            .case_info_table tr.nobottomborder {
                border-bottom: 0px;
            }

        .case_info_table td {
            line-height: 50px;
            text-indent: 12px;
        }

        .right_top {
        }

        .flow_nav {
            margin-left: 10px;
        }

            .flow_nav span {
                height: 36px;
                line-height: 36px;
                font-size: 14px;
            }

                .flow_nav span.start {
                    width: 20px;
                    display: inline-block;
                }

                .flow_nav span.middle {
                    min-width: 40px;
                    text-align: center;
                    padding-left: 10px;
                    padding-right: 10px;
                    display: inline-block;
                    color: #fff;
                }

                .flow_nav span.end {
                    width: 20px;
                    display: inline-block;
                }

        .flowNodeSpace {
            margin-bottom: 6px;
        }

        .right_bottom {
            height: 680px;
        }

        .blue_start {
            background: url(../../theme/images/flow/blue_start.png) no-repeat;
        }

        .blue_body {
            background: url(../../theme/images/flow/blue_body.png) repeat-x;
        }

        .blue_end_blue_start {
            background: url(../../theme/images/flow/blue_end_blue_start.png) no-repeat;
        }

        .blue_end {
            background: url(../../theme/images/flow/blue_end.png) no-repeat;
        }

        .red.num {
            width: 40px;
            height: 15px;
            margin-top: -8px;
            margin-left: -50px;
            text-align: center;
            color: #fff;
            font-size: 12px;
            line-height: 1.2em; /* 正文行间距 */
        }

        .red {
            background: url(../../theme/images/ui-bg_flat_15_cd0a0a_40x100.png) repeat-x;
        }

        .yellow_start {
            background: url(../../theme/images/flow/yellow_start.png) no-repeat;
        }

        .yellow_body {
            background: url(../../theme/images/flow/yellow_body.png) repeat-x;
        }

        .yellow_end_blue_start {
            background: url(../../theme/images/flow/yellow_end_blue_start.png) no-repeat;
        }

        .blue_end_yellow_start {
            background: url(../../theme/images/flow/blue_end_yellow_start.png) no-repeat;
        }

        .yellow_end {
            background: url(../../theme/images/flow/yellow_end.png) no-repeat;
        }

        .aaa:link {
            color: blue;
        }

        .aaa:hover {
            color: blue;
        }

        .aaa:visited {
            color: blue;
        }

        .upDiv {
            margin-left: 5px;
            width: 30px;
            height: 30px;
          
        }

        .downDiv {
            margin-left: 5px;
            width: 30px;
            height: 30px;
          
        }
    </style>
}
@section HeadScript{
    <script type="text/javascript">
        function changeFLow(flowCode) {
           
            $('#flowCode').val(flowCode);

            $('#btnSearchClick').click();
        }

        function Layer_HideOrShow() {
            if ($("#hidOrShow").html() == "高级查询") {
                $(".downDiv").attr("class", "upDiv");
                $(".seachdiv2").show();
                $("#hidOrShow").html("收起");
                document.cookie = "isShow=0";
            }
            else {
                $(".upDiv").attr("class", "downDiv");
                $(".seachdiv2").hide();
                $("#hidOrShow").html("高级查询");
                document.cookie = "isShow=1";
            }
        }
        //读取cookies
        function getCookie(name) {
            var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");

            if (arr = document.cookie.match(reg))

                return unescape(arr[2]);
            else
                return null;
        }

        $(function () {
            if (getCookie("isShow") == "0") {
                $(".downDiv").attr("class", "upDiv");
                $(".seachdiv2").show();
                $("#hidOrShow").html("收起");
            } else {
                $(".upDiv").attr("class", "downDiv");
                $(".seachdiv2").hide();
                $("#hidOrShow").html("高级查询");
            }

            $("a[target=popdialog_owndefine]").each(function () {
                $(this).click(function (event) {
                    event.preventDefault();
                    var $this = $(this);
                    //替换url参数
                    var switchUrl = $this.attr("href");
                    _openDialog($(this).attr("title"), switchUrl, $(this).attr("dialogwidth"), $(this).attr("dialogheight"));
                });
            });
        })
        function openCaseExecuteView(buttonPower, title, dialogwidth, dialogheight, switchUrl, isPreSetManager, roleButtonIds) {//双击打开详细页面
            var isAllowOpen = false;//是否允许打开
            if (isPreSetManager == '1') {
                isAllowOpen = true;
            } else {
                if (roleButtonIds.indexOf(buttonPower) >= 0) {
                    isAllowOpen = true;
                }
            }
            if (isAllowOpen) {
                _openDialog(title, switchUrl, dialogwidth, dialogheight);
            }
        }
    </script>
}
@{
    B_Case caseConditon = ViewBag.CaseConditon;//案件条件模型
    List<CommonService.Model.Customer.V_MonitorCenter> montiorCenters = ViewBag.montiorCenters;
    int montiorCount = montiorCenters.Count();
    int i = 1;
}
@{
    List<CommonService.Model.C_Parameters> Casetype = ViewBag.Case_type;
    List<CommonService.Model.C_Parameters> Case_state = ViewBag.Case_state;
    List<CommonService.Model.C_Parameters> Casesta = ViewBag.casesta;
    List<CommonService.Model.FlowManager.P_Flow> casestage = ViewBag.casestage;
    string flowCode = ViewBag.FlowCode;
}
<div class="tools">
    @using (Html.BeginForm("List", "CaseMonitor", FormMethod.Post, new { id = ViewBag.SearchFormID, onsubmit = "return clickSearch(this);" }))
    {
        @*<ul>
                <li><label>&nbsp;</label><input type="button" class="btn" value="隐藏搜索" onclick="Layer_HideOrShow()" /></li>
            </ul>*@
       <ul class="seachform" >
           <input name="ThisPageIndex" class="ThisPageIndex" type="hidden" value="@ViewBag.ThisPageIndex" />
           <input name="IsExcutedFormSearch" class="IsExcutedFormSearch" type="hidden" value="@ViewBag.IsExcutedFormSearch" />
           <input name="TotalRecordCountOut" type="hidden" value="@ViewBag.TotalRecordCountOut" />
           <input id="flowCode" name="flowCode" type="hidden" value="@flowCode" />
           
            <li><label>案件编码</label>@Html.TextBox("B_Case_number", caseConditon.B_Case_number, new { @class = "scinput" })</li>
            <li><label>原告/被告</label>@Html.TextBox("B_Case_name", caseConditon.B_Case_name, new { @class = "scinput" })</li>
            <li><label>客户</label>@Html.Hidden("customerlookup.Code", caseConditon.C_Customer_code, new { lookupgroup = "customerlookup" })@Html.TextBox("customerlookup.Name", caseConditon.C_Customer_name, new { maxlength = "200", @readonly = "readonly", selectdialog = "selectdialog", @class = "textselect", title = "单选客户", switchurl = "/baseData/customer/singlecallbackreflist", dialogwidth = "1080", dialogheight = "500", lookupgroup = "customerlookup" })<i></i></li>
            <li><label>&nbsp;</label><input type="submit" class="scbtn" value="查询" id="btnSearchClick"  /></li>
            <li onclick="Layer_HideOrShow()">
                <label id="hidOrShow" style="float:left;margin-left:20px;margin-top:5px;font-size:14px;color:blue;">高级查询</label><div class="upDiv"></div>
            </li>


        </ul>

        <ul>
            <div class="seachdiv2" style="border-top: 3px solid #3596d7;margin-top:5px;float:left;">
                <div class="mulitytext"><label>对方当事人</label>@Html.Hidden("rivallookupParty.Code", caseConditon.B_Case_Rival_code, new { lookupgroup = "rivallookupParty" })@Html.Hidden("rivallookupParty.Type", caseConditon.C_Person_type, new { lookupgroup = "rivallookupParty" })@Html.TextBox("rivallookupParty.Name", caseConditon.B_Case_Rival_name, new { maxlength = "200", @readonly = "readonly", selectdialog = "selectdialog", @class = "textselect", title = "选择当事人", requiredInput = "请选择当事人名称", switchurl = "/baseData/rival/SingleListTabDetails?type=1&checkedRivalCode=", dialogwidth = "1080", dialogheight = "550", lookupgroup = "rivallookupParty" })<i></i></div>
                <div class="mulitytext"><label>承办律师</label>@Html.Hidden("mainLawyerlookup.Code", caseConditon.B_Case_lawyerCode, new { lookupgroup = "mainLawyerlookup" })@Html.TextBox("mainLawyerlookup.Name", caseConditon.B_Case_lawyerName, new { maxlength = "50", @readonly = "readonly", selectdialog = "selectdialog", @class = "textselect", title = "选择专业顾问", switchurl = "/sysmanager/userinfo/singlecallbackref_orgpostuserlayout?otype=1", dialogwidth = "1050", dialogheight = "600", lookupgroup = "mainLawyerlookup" })<i></i></div>
                <div class="mulitytext"><label>收案年份</label>@Html.TextBox("B_Case_registerTime", caseConditon.B_Case_registerTime, new { date = "date", maxlength = "20", @readonly = "readonly", dateformat = "yyyy-MM-dd HH:mm:ss" })<i></i></div>
                <div class="mulitytext"><label>至</label>@Html.TextBox("B_Case_regiendTime", caseConditon.B_Case_registerTime2, new { date = "date", maxlength = "20", @readonly = "readonly", dateformat = "yyyy-MM-dd HH:mm:ss" })<i></i></div>

                <div class="mulitytext"><label>专业顾问</label>@Html.Hidden("consultantlookup.Code", caseConditon.B_Consultant_code, new { lookupgroup = "consultantlookup" })@Html.TextBox("consultantlookup.Name", caseConditon.B_Case_consultant_name, new { maxlength = "50", @readonly = "readonly", selectdialog = "selectdialog", @class = "textselect", title = "选择专业顾问", switchurl = "/sysmanager/userinfo/singlecallbackref_orgpostuserlayout?type=1&powerId=18&otype=2", dialogwidth = "1050", dialogheight = "600", lookupgroup = "consultantlookup" })<i></i></div>

                <div class="mulitytext">
                    <label>案件状态</label>
                    @{
                        IList<SelectListItem> CasestaItems = new List<SelectListItem>();
                        SelectListItem selectItemone = new SelectListItem();
                        selectItemone.Value = null;
                        selectItemone.Text = "全部";
                        CasestaItems.Add(selectItemone);
                        foreach (var item in Casesta)
                        {
                            if (item.C_Parameters_id != 345)
                            {
                                SelectListItem selectItem = new SelectListItem();
                                selectItem.Value = item.C_Parameters_id.ToString();
                                selectItem.Text = item.C_Parameters_name;
                                if (caseConditon.B_Case_state != null)
                                {
                                    if (caseConditon.B_Case_state.Value == item.C_Parameters_id)
                                    {
                                        selectItem.Selected = true;
                                    }
                                }
                                CasestaItems.Add(selectItem);
                            }
                        }
                    }
                    @Html.DropDownList("B_Case_state", CasestaItems)<i></i>
                </div>


                <div class="mulitytext"><label>涉案项目</label>@Html.Hidden("projectlookup.Code", caseConditon.C_Project_code, new { lookupgroup = "projectlookup" })@Html.TextBox("projectlookup.Name", caseConditon.C_Project_name, new { maxlength = "200", @readonly = "readonly", selectdialog = "selectdialog", @class = "textselect", title = "选择工程", requiredInput = "请选择工程名称", switchurl = "/baseData/involved_project/SingleCallbackRefList?checkedProjectCode=", dialogwidth = "1080", dialogheight = "520", lookupgroup = "projectlookup" })<i></i></div>
                <div class="mulitytext"><label>法院</label>@Html.Hidden("courtlookupOne.Code", caseConditon.B_Case_courtFirst, new { lookupgroup = "courtlookupOne" })@Html.TextBox("courtlookupOne.Name", caseConditon.B_Case_courtFirstName, new { maxlength = "200", @readonly = "readonly", selectdialog = "selectdialog", @class = "textselect", title = "单选法院", requiredInput = "请选择法院名称", switchurl = "/baseData/court/SingleCallbackRefList?type=1", dialogwidth = "1080", dialogheight = "520", lookupgroup = "courtlookupOne" })<i></i></div>

                <div class="mulitytext">
                    <label>案件类型</label>
                    @{
                        IList<SelectListItem> casetypeTypeItems = new List<SelectListItem>();
                        casetypeTypeItems.Add(selectItemone);
                        foreach (var casetypeType in Casetype)
                        {
                            SelectListItem selectItem = new SelectListItem();
                            selectItem.Value = casetypeType.C_Parameters_id.ToString();
                            selectItem.Text = casetypeType.C_Parameters_name;
                            if (caseConditon.B_Case_type != null)
                            {
                                if (caseConditon.B_Case_type.Value == casetypeType.C_Parameters_id)
                                {
                                    selectItem.Selected = true;
                                }
                            }
                            casetypeTypeItems.Add(selectItem);
                        }
                    }
                    @Html.DropDownList("B_Case_type", casetypeTypeItems)<i></i>
                </div>


                <div class="mulitytext">
                    <label>办案阶段</label>
                    @{
                        IList<SelectListItem> caseStageItems = new List<SelectListItem>();
                        caseStageItems.Add(selectItemone);
                        foreach (var item in casestage)
                        {
                            SelectListItem selectItem = new SelectListItem();
                            selectItem.Value = item.P_Flow_code.ToString();
                            selectItem.Text = item.P_Flow_name;
                            if (caseConditon.B_Case_Stage != null)
                            {
                                if (caseConditon.B_Case_Stage.ToString() == item.P_Flow_code.ToString())
                                {
                                    selectItem.Selected = true;
                                }
                            }

                            caseStageItems.Add(selectItem);
                        }
                    }
                    @Html.DropDownList("B_Case_Stage", caseStageItems)<i></i>
                </div>

                <div class="mulitytext"><label>移交标的范围：</label>@Html.TextBox("B_Case_pricesta", caseConditon.B_Case_transferTargetMoney, new { @class = "dfinput", money = "请输入有效金额", maxlength = "50" })</div>

                <div class="mulitytext"><label>至</label>@Html.TextBox("B_Case_priceend", caseConditon.B_Case_execMoney2, new { @class = "scinput" })</div>



                <div class="mulitytext"><label>委托人</label>@Html.Hidden("clientmulitylookup.Code", caseConditon.C_Client_code, new { lookupgroup = "clientmulitylookup" })@Html.TextBox("clientmulitylookup.Name", caseConditon.C_Client_name, new { maxlength = "200", @readonly = "readonly", selectdialog = "selectdialog", @class = "textselect", title = "选择委托人", requiredInput = "请选择委托人", switchurl = "/baseData/client/SingleCallbackRefList?type=82", dialogwidth = "1080", dialogheight = "500", lookupgroup = "clientmulitylookup" })<i></i></div>


                <div class="mulitytext">
                    <label>区域</label>
                    @{
                        IList<SelectListItem> regionItems = new List<SelectListItem>();
                        regionItems.Add(selectItemone);
                        foreach (var item in RegionLists)
                        {
                            SelectListItem selectItem = new SelectListItem();
                            selectItem.Value = item.C_Region_code.ToString();
                            selectItem.Text = item.C_Region_name;
                            if (caseConditon.C_Region_code != null)
                            {
                                if (caseConditon.C_Region_code.ToString() == item.C_Region_code.ToString())
                                {
                                    selectItem.Selected = true;
                                }
                            }

                            regionItems.Add(selectItem);
                        }
                    }
                    @Html.DropDownList("C_Region_code", regionItems)
                    <i></i>
                </div>
                <div class="mulitytext"><label>部门</label>@Html.Hidden("responsibleDeptlookup.Code", caseConditon.B_Case_organizationCode == null ? "" : caseConditon.B_Case_organizationCode, new { lookupgroup = "responsibleDeptlookup" })@Html.TextBox("responsibleDeptlookup.Name", caseConditon.B_Case_organizationName, new { maxlength = "200", @readonly = "readonly", selectdialog = "selectdialog", @class = "textselect", title = "单选部门", switchurl = "/sysmanager/organization/singlecallbackreftree?sourceType=4", dialogwidth = "350", dialogheight = "530", lookupgroup = "responsibleDeptlookup" })<i></i></div>
            </div>

        </ul>

        <input type="hidden" name="IsPreSetManager" value="@ViewBag.IsPreSetManager" />     
        <input type="hidden" name="UserCode" value="@ViewBag.UserCode" />
        <input type="hidden" name="PostCode" value="@ViewBag.PostCode" />
        <input type="hidden" name="OrgCode" value="@ViewBag.OrgCode" />
        <input type="hidden" name="postGroupCode" value="@ViewBag.PostGroupCode" />
    }

</div>
<div class="fl rightcontent">
    <div class="right_top">
        <div class="flow_nav" id="flow_nav">
            @foreach (var montiorCenter in montiorCenters)
            {
                if (i == 1)
                {
                    if (flowCode == montiorCenter.FlowCode.ToString())
                    {
                        <div class="fl flowNodeSpace" onclick="changeFLow('@montiorCenter.FlowCode')" flowcode="@montiorCenter.FlowCode">
                            @*<span class="fl yellow_start start"></span>*@<span class="fl yellow_body cursor middle">@montiorCenter.FlowName</span><span class="fl red num"><img src="/Theme/images/throbber.gif" /></span>
                            @if (montiorCount == 1)
                            {
                                <span class="fl yellow_end end"></span>
                            }
                            else
                            {
                                <span class="fl yellow_end_blue_start end"></span>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="fl flowNodeSpace" onclick="changeFLow('@montiorCenter.FlowCode')" flowcode="@montiorCenter.FlowCode">
                            @*<span class="fl blue_start start"></span>*@<span class="fl blue_body cursor middle">@montiorCenter.FlowName</span><span class="fl red num"><img src="/Theme/images/throbber.gif" /></span>
                            @if (montiorCount == 1)
                            {
                                <span class="fl blue_end end"></span>
                            }
                            else
                            {
                                var nextMontiorCenter = montiorCenters[i];
                                if (nextMontiorCenter.FlowCode.ToString() == flowCode)
                                {
                                    <span class="fl blue_end_yellow_start end"></span>
                                }
                                else
                                {
                                    <span class="fl blue_end_blue_start end"></span>
                                }
                            }
                        </div>
                    }
                }
                else
                {
                    if (montiorCenter.FlowCode.ToString() == flowCode)
                    {
                        <div class="fl flowNodeSpace" onclick="changeFLow('@montiorCenter.FlowCode')" flowcode="@montiorCenter.FlowCode">
                            <span class="fl yellow_body cursor middle">@montiorCenter.FlowName</span><span class="fl red num"><img src="/Theme/images/throbber.gif" /></span>
                            @if (i == montiorCount)
                            {
                                <span class="fl yellow_end end"></span>
                            }
                            else
                            {
                                <span class="fl yellow_end_blue_start end"></span>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="fl flowNodeSpace" onclick="changeFLow('@montiorCenter.FlowCode')" flowcode="@montiorCenter.FlowCode">
                            <span class="fl blue_body cursor middle">@montiorCenter.FlowName</span><span class="fl red num"><img src="/Theme/images/throbber.gif" /></span>
                            @if (i == montiorCount)
                            {
                                <span class="fl blue_end end"></span>
                            }
                            else
                            {
                                var nextMontiorCenter = montiorCenters[i];
                                if (nextMontiorCenter.FlowCode.ToString() == flowCode)
                                {
                                    <span class="fl blue_end_yellow_start end"></span>
                                }
                                else
                                {
                                    <span class="fl blue_end_blue_start end"></span>
                                }
                            }
                        </div>
                    }
                }
                i++;
            }
        </div>
    </div>
</div>

<table class="tablelist">
    <thead>
        <tr>
            <th>原告/被告</th>
            <th>预收案时间</th>
            <th>案件类型</th>
            <th>案件状态</th>
            <th>案件编码</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
{
    <tr target="sid_Iterm" rel="@item.B_Case_code" ondblclick="openCaseExecuteView('82', '案件执行', '1400', '830', '/casemanager/caseexecute/defaultlayout?fkCode=@item.B_Case_code&fkType=@Convert.ToInt32(FlowTypeEnum.案件)', '@(UIContext.Current.IsPreSetManager==true ?  "1" : "0")', '@ViewBag.RoleButtonIds')">
        <td><a class="aaa" target="popdialog_owndefine" title="案件执行" dialogwidth="1400" dialogheight="830" href="/casemanager/caseexecute/defaultlayout?fkCode=@item.B_Case_code&fkType=@Convert.ToInt32(FlowTypeEnum.案件)">@item.B_Case_name</a></td>
        <td>@(item.B_Case_registerTime.Value.ToString("yyyy-MM-dd"))</td>
        @{
    var casetype = Casetype.Where(c => c.C_Parameters_id == item.B_Case_type).FirstOrDefault();
        }
        @if (casetype != null)
        {
            <td>@casetype.C_Parameters_name</td>
        }
        else
        {
            <td></td>
        }
        @{
    var casestate = Case_state.Where(c => c.C_Parameters_id == item.B_Case_state).FirstOrDefault();
        }
        @if (casestate != null)
        {
            <td>@casestate.C_Parameters_name</td>
        }
        else
        {
            <td></td>
        }
        <td>@item.B_Case_number</td>
    </tr>
}
    </tbody>
</table>


<script>
    $(document).ready(function () {

        ////遍历条件
        $(".flowNodeSpace").each(function () {
            var f = $(this);

            $.ajax({
                type: "POST",
                async: true,
                url: "/CaseMonitor/List_ByFlowCount?GJflowCode=" + $(this).attr("flowcode"),
                data: $("#@ViewBag.SearchFormID").serialize(),
                success: function (result) {
                    f.find("span").eq(1).html(result);

                }
            })

        });


    });
    function osbselect(val) {
        document.getElementById("@ViewBag.SearchFormID").action = val;
        document.getElementById("@ViewBag.SearchFormID").submit();
    }
</script>