@using CommonService.Model;
@model IEnumerable<CommonService.Model.C_Property_trail_cars>
@{
    Layout = "~/Views/Shared/_ListSearchWithDialogTemplate.cshtml";//带表单查询的列表页面固定模板
}
@{
    ViewBag.Title = "车辆信息";
}

@{
    C_Property_trail_cars carConditon = ViewBag.CarConditon;//对手财产线索车辆条件模型
}
<div class="tools">
    <ul class="toolbar">
        <li><a target="popdialog" title="车辆信息" dialogwidth="600" dialogheight="400" href="/basedata/Property_trail_cars/create?property_trail_cars_belongs=@carConditon.C_Property_trail_cars_belongs&property_trail_cars_type=@carConditon.C_Property_trail_cars_type"><span><img src="/theme/images/new_add.png" /></span>添加</a></li>
        <li><a target="popdialog" title="车辆信息" dialogwidth="600" dialogheight="400" edit="edit" href="/basedata/Property_trail_cars/edit?property_trail_cars_id={sid_Iterm}"><span><img src="/theme/images/new_edit.png" /></span>修改</a></li>
        <li><a target="ajaxtodo" title="确认要删除选中数据吗?" singleoperate="singleoperate" href="/basedata/Property_trail_cars/delete?property_trail_cars_id={sid_Iterm}"><span><img src="/theme/images/new_delete.png" /></span>删除</a></li>
        
    </ul>
</div>

<table class="tablelist">
    <thead>
        <tr>
            <th>车型</th>
            <th>车辆登记号</th>
            <th>车辆购买金额</th>
            <th>车辆购买时间</th>
            <th>车牌号</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr target="sid_Iterm" rel="@item.C_Property_trail_cars_id">
                <td>@item.C_Property_trail_cars_models</td>
                <td>@item.C_Property_trail_cars_reCode</td>
                <td>@item.C_Property_trail_cars_price</td>
                <td>@(item.C_Property_trail_cars_buyDate==null ? "" : item.C_Property_trail_cars_buyDate.Value.ToString("yyyy-MM-dd"))</td>
                <td>@item.C_Property_trail_cars_license</td>
            </tr>
        }
    </tbody>
</table>