@using CommonService.Model;

@model CommonService.Model.C_CRival_right
@{
    Layout = "~/Views/Shared/_EditDialogFormTemplate.cshtml";//带表单提交的编辑页面固定模板
}
@{
    ViewBag.Title = "对手权力关联信息";
}
@section HeadScript{
    <script type="text/javascript">
        document.onkeyup = function (e) {      //onkeyup是javascript的一个事件、当按下某个键弹起 var _key; //的时触发 
            if (e == null) { // ie  
                _key = event.keyCode;
            } else { // firefox              //获取你按下键的keyCode  
                _key = e.which;          //每个键的keyCode是不一样的  
            }
            if (_key == 13) {   //判断keyCode是否是13，也就是回车键(回车的keyCode是13)  
                onlySaveForm(document.getElementById('btnSave'));
            }
        }
    </script>
}
<div class="formbody">
    <div class="formtitle"><span>基本信息</span></div>
    <ul class="forminfo">
        @using (Html.BeginForm("Save", "CRival_right", FormMethod.Post, new { id = "formCRival_change", onsubmit = "return validateCallback(this,dialogAjaxDone);" }))
        {
            @Html.Hidden("formOperateType")//表单操作类型：固定写法，只是保存，值为'onlySave';保存并且新增，值为'saveAndNewNext'
            @Html.Hidden("C_CRival_right_id", Model.C_CRival_right_id)
            @Html.Hidden("C_CRival_code", Model.C_CRival_code)
            @Html.Hidden("C_CRival_right_isDelete", Model.C_CRival_right_isDelete)
            @Html.Hidden("C_CRival_right_creator", Model.C_CRival_right_creator)
            @Html.Hidden("C_CRival_right_createTime", Model.C_CRival_right_createTime)
            <li><label>机构</label>@Html.TextBox("C_CRival_right_agency", Model.C_CRival_right_agency, new { @class = "dfinput", requiredInput = "请输入机构", maxlength = "200" })<i></i></li>
            <li><label>人物</label>@Html.TextBox("C_CRival_right_person", Model.C_CRival_right_person, new { @class = "dfinput", requiredInput = "请输入人物", maxlength = "100" })<i></i></li>
            <li><label>事务</label>@Html.TextBox("C_CRival_right_affairs", Model.C_CRival_right_affairs, new { @class = "dfinput", requiredInput = "请输入事务", maxlength = "500" })<i></i></li>
            <li><label>政策</label>@Html.TextBox("C_CRival_right_Policy", Model.C_CRival_right_Policy, new { @class = "dfinput",requiredInput = "请输入政策", maxlength = "200" })<i></i></li>
           <li class="buttonWrap clear"><label>&nbsp;</label><input name="" type="button" id="btnSave" onclick="onlySaveForm(this)" class="btn btnmr fl" value="确认保存" /><i></i><input name="" id="btnSaveAndNewNext" type="button" onclick="saveAndNewNext(this)" class="btn btnmr fl" value="保存并新增下一个" /><i></i></li>
        }
    </ul>
</div>