@using CommonService.Model;
@model IEnumerable<CommonService.Model.C_CRival_right>
@{
    Layout = "~/Views/Shared/_ListSearchWithDialogTemplate.cshtml";//带表单查询的列表页面固定模板
}
@{
    ViewBag.Title = "公司权力关联信息";
}

@{
    C_CRival_right crConditon = ViewBag.CrRightConditon;//对手权力关联条件模型
}
<div class="tools">
    <ul class="toolbar">
        <li><a target="popdialog" title="公司信息" dialogwidth="600" dialogheight="350" href="/basedata/CRival_right/create?crival_code=@crConditon.C_CRival_code"><span><img src="/theme/images/new_add.png" /></span>添加</a></li>
        <li><a target="popdialog" title="公司信息" dialogwidth="600" dialogheight="350" edit="edit" href="/basedata/CRival_right/edit?crivalrightID={sid_Iterm}"><span><img src="/theme/images/new_edit.png" /></span>修改</a></li>
        <li><a target="ajaxtodo" title="确认要删除选中数据吗?" singleoperate="singleoperate" href="/basedata/CRival_right/delete?crivalrightID={sid_Iterm}"><span><img src="/theme/images/new_delete.png" /></span>删除</a></li>
    </ul>
</div>

<table class="tablelist">
    <thead>
        <tr>
            <th>机构</th>
            <th>人物</th>
            <th>事务</th>
            <th>政策</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr target="sid_Iterm" rel="@item.C_CRival_right_id">
                <td>@item.C_CRival_right_agency</td>
                <td>@item.C_CRival_right_person</td>
                <td>@item.C_CRival_right_affairs</td>
                <td>@item.C_CRival_right_Policy</td>
            </tr>
        }
    </tbody>
</table>