@using CommonService.Model;

@model CommonService.Model.C_Principal
@{
    Layout = "~/Views/Shared/_EditDialogFormTemplate.cshtml";//带表单提交的编辑页面固定模板
}
@{
    ViewBag.Title = "委托人";
}
@{
    List<CommonService.Model.C_Parameters> PrincipalTypes = ViewBag.PrincipalTypes;
    List<CommonService.Model.C_Parameters> Industrys = ViewBag.Industrys;
    List<CommonService.Model.C_Parameters> PrincipalSources = ViewBag.PrincipalSources;
    List<CommonService.Model.C_Parameters> PrincipalLevels = ViewBag.PrincipalLevels;
    List<CommonService.Model.C_Parameters> IsSignedStates = ViewBag.IsSignedStates;
    List<CommonService.Model.C_Parameters> SignedStates = ViewBag.SignedStates;
    List<CommonService.Model.C_Parameters> PrincipalLoyaltys = ViewBag.PrincipalLoyaltys;
}
@section HeadScript{
    <script type="text/javascript">
        document.onkeyup = function (e) {      //onkeyup是javascript的一个事件、当按下某个键弹起 var _key; //的时触发
            if (e == null) { // ie
                _key = event.keyCode;
            } else { // firefox              //获取你按下键的keyCode
                _key = e.which;          //每个键的keyCode是不一样的
            }
            if (_key == 13) {   //判断keyCode是否是13，也就是回车键(回车的keyCode是13)
                onlySaveForm(document.getElementById('btnSave'));
            }
        }
        function callback(lookupgroup) {
            var id = lookupgroup + "_Code";
            var textId = lookupgroup + "_Name";
            var code = $("#" + id).val();
            var switchUrl = $("#" + textId).attr("switchurl");
            switchUrl = switchUrl + code;
            $("#" + textId).attr("switchurl", switchUrl);
        }
    </script>
}
<div class="formbody">
    <div class="formtitle"><span>基本信息</span></div>
    <ul class="forminfo">
        @using (Html.BeginForm("Save", "Principal", FormMethod.Post, new { id = "formClient", onsubmit = "return validateCallback(this,dialogAjaxDone);" }))
        {
            @Html.Hidden("formOperateType")//表单操作类型：固定写法，只是保存，值为'onlySave';保存并且新增，值为'saveAndNewNext'
                                        @Html.Hidden("C_Principal_id", Model.C_Principal_id)
                                        @Html.Hidden("C_Principal_code", Model.C_Principal_code)
                                        @Html.Hidden("C_Principal_isDelete", Model.C_Principal_isDelete)
                                        @Html.Hidden("C_Principal_creator", Model.C_Principal_creator)
                                        @Html.Hidden("C_Principal_createTime", Model.C_Principal_createTime)
                                        @Html.Hidden("C_Principal_businessType", Model.C_Principal_businessType)
                                        @Html.Hidden("C_Principal_relcode", Model.C_principal_relCode)

                                        <div class="mulitytext"><label>委托人名称</label>@Html.TextBox("C_Principal_name", Model.C_Principal_name, new { requiredInput = "请输入委托人名称", maxlength = "50" })<i></i></div>
                                        <div class="mulitytext">
                                            <label>委托人类型</label>
                                            @{
            IList<SelectListItem> customerTypeItems = new List<SelectListItem>();
            foreach (var customerType in PrincipalTypes)
            {
                SelectListItem selectItem = new SelectListItem();
                selectItem.Value = customerType.C_Parameters_id.ToString();
                selectItem.Text = customerType.C_Parameters_name;

                customerTypeItems.Add(selectItem);
            }
                                            }
                                            @Html.DropDownList("C_Principal_type", customerTypeItems, new { })<i></i>
                                        </div>
                                        <div class="mulitytext"><label>区域</label>@Html.Hidden("regionlookup.Code", Model.C_principal_Region_code, new { mulitylookupgroup = "regionlookup" })@Html.TextBox("regionlookup.Name", Model.C_principal_Region_name, new { onclick = "callback('regionlookup')", maxlength = "200", @readonly = "readonly", selectdialog = "selectdialog", @class = "textselect", title = "选择区域", switchurl = "/baseData/region/MulityCallbackRefList?selectedRegionCode=" + Model.C_principal_Region_code, dialogwidth = "1080", dialogheight = "480", mulitylookupgroup = "regionlookup" })<i></i></div>
                                        <div class="mulitytext">
                                            <label>行业</label>
                                            @{
            IList<SelectListItem> industryItems = new List<SelectListItem>();
            foreach (var industrys in Industrys)
            {
                SelectListItem selectItem = new SelectListItem();
                selectItem.Value = industrys.C_Parameters_id.ToString();
                selectItem.Text = industrys.C_Parameters_name;

                industryItems.Add(selectItem);
            }
                                            }
                                            @Html.DropDownList("C_Principal_industryCode", industryItems, new { })<i></i>
                                        </div>
                                        <div class="mulitytext"><label>年营业额</label>@Html.TextBox("C_Principal_yearTurnover", Model.C_Principal_yearTurnover, new { money = "请输入有效营业额" })<i></i></div>
                                        <div class="mulitytext"><label>公司规模</label>@Html.TextBox("C_Principal_companySize", Model.C_Principal_companySize, new { maxlength = "50" })<i></i></div>
                                        <div class="mulitytext">
                                            <label>委托人来源</label>
                                            @{
            IList<SelectListItem> customerSourceItems = new List<SelectListItem>();
            foreach (var customerSource in PrincipalSources)
            {
                SelectListItem selectItem = new SelectListItem();
                selectItem.Value = customerSource.C_Parameters_id.ToString();
                selectItem.Text = customerSource.C_Parameters_name;

                customerSourceItems.Add(selectItem);
            }
                                            }
                                            @Html.DropDownList("C_Principal_source", customerSourceItems, new { })<i></i>
                                        </div>
                                        <div class="mulitytext">
                                            <label>委托人级别</label>
                                            @{
            IList<SelectListItem> customerLevelItems = new List<SelectListItem>();
            foreach (var customerLevel in PrincipalLevels)
            {
                SelectListItem selectItem = new SelectListItem();
                selectItem.Value = customerLevel.C_Parameters_id.ToString();
                selectItem.Text = customerLevel.C_Parameters_name;

                customerLevelItems.Add(selectItem);
            }
                                            }
                                            @Html.DropDownList("C_Principal_level", customerLevelItems, new { })<i></i>
                                        </div>
                                        <div class="mulitytext"><label>电话</label>@Html.TextBox("C_Principal_tel", Model.C_Principal_tel, new { maxlength = "20" })<i></i></div>
                                        <div class="mulitytext"><label>传真</label>@Html.TextBox("C_Principal_fax", Model.C_Principal_fax, new { maxlength = "20" })<i></i></div>
                                        <div class="mulitytext"><label>委托人简称</label>@Html.TextBox("C_Principal_shortName", Model.C_Principal_shortName, new { maxlength = "50" })<i></i></div>
                                        <div class="mulitytext"><label>Email</label>@Html.TextBox("C_Principal_email", Model.C_Principal_email, new { maxlength = "50" })<i></i></div>
                                        <div class="mulitytext"><label>联系人电话</label>@Html.TextBox("C_Principal_mainContactPhone", Model.C_Principal_mainContactPhone, new { maxlength = "20" })<i></i></div>
                                        <div class="mulitytext">
                                            <label>是否签约委托人</label>
                                            @{
            IList<SelectListItem> isSignedStateItems = new List<SelectListItem>();
            foreach (var isSignedState in IsSignedStates)
            {
                SelectListItem selectItem = new SelectListItem();
                selectItem.Value = isSignedState.C_Parameters_id.ToString();
                selectItem.Text = isSignedState.C_Parameters_name;

                isSignedStateItems.Add(selectItem);
            }
                                            }
                                            @Html.DropDownList("C_Principal_isSignedState", isSignedStateItems, new { })<i></i>
                                        </div>
                                        <div class="mulitytextlonger"><label>营业地址</label>@Html.TextBox("C_Principal_address", Model.C_Principal_address, new { maxlength = "200" })<i></i></div>
                                        <div class="mulitytext">
                                            <label>签约委托人状态</label>
                                            @{
            IList<SelectListItem> signedStatesItems = new List<SelectListItem>();
            foreach (var signedStates in SignedStates)
            {
                SelectListItem selectItem = new SelectListItem();
                selectItem.Value = signedStates.C_Parameters_id.ToString();
                selectItem.Text = signedStates.C_Parameters_name;

                signedStatesItems.Add(selectItem);
            }
                                            }
                                            @Html.DropDownList("C_Principal_signedState", signedStatesItems, new { })<i></i>
                                        </div>
                                        @*<div class="mulitytext"><label>专业顾问</label>@Html.Hidden("mainLawyerlookup.Code", Model.C_Principal_consultant, new { lookupgroup = "mainLawyerlookup" })@Html.TextBox("mainLawyerlookup.Name", Model.C_principal_consultant_name, new { maxlength = "50", @readonly = "readonly", selectdialog = "selectdialog", @class = "textselect", title = "单选销售顾问", switchurl = "/sysmanager/userinfo/singlecallbackref_orgpostuserlayout", dialogwidth = "1010", dialogheight = "600", lookupgroup = "mainLawyerlookup" })<i></i></div>*@
            <div class="mulitytext"><label>专业顾问</label>@Html.Hidden("mainLawyerlookup.Code", Model.C_Principal_consultant, new { lookupgroup = "mainLawyerlookup" })@Html.Label("mainLawyerlookup.Name", Model.C_principal_consultant_name@*, new { maxlength = "50", @readonly = "readonly", selectdialog = "selectdialog", @class = "textselect", title = "单选销售顾问", switchurl = "/sysmanager/userinfo/singlecallbackref_orgpostuserlayout", dialogwidth = "1010", dialogheight = "600", lookupgroup = "mainLawyerlookup" }*@)<i></i></div>
                                        <div class="mulitytext"><label>联系人</label>@Html.TextBox("C_Principal_contacter", Model.C_Principal_contacter, new { maxlength = "50" })<i></i></div>
                                        <div class="mulitytext"><label>公司网址</label>@Html.TextBox("C_Principal_website", Model.C_Principal_website, new { maxlength = "200" })<i></i></div>
                                        <div class="mulitytext"><label>最后接触日期</label>@Html.TextBox("C_Principal_lastContactDate", Model.C_Principal_lastContactDate == null ? "" : Model.C_Principal_lastContactDate.Value.ToString("yyyy-MM-dd HH:mm:ss"), new { date = "date", maxlength = "20", @readonly = "readonly", dateformat = "yyyy-MM-dd HH:mm:ss" })<i></i></div>
                                        <div class="mulitytext"><label>负责部门</label>@Html.Hidden("responsibleDeptlookup.Code", Model.C_Principal_responsibleDept == null ? "" : Model.C_Principal_responsibleDept.Value.ToString(), new { lookupgroup = "responsibleDeptlookup" })@Html.TextBox("responsibleDeptlookup.Name", Model.C_principal_responsibledept_name, new { maxlength = "200", @readonly = "readonly", selectdialog = "selectdialog", @class = "textselect", title = "单选部门", switchurl = "/sysmanager/organization/singlecallbackreftree?sourceType=4", dialogwidth = "350", dialogheight = "530", lookupgroup = "responsibleDeptlookup" })<i></i></div>
                                        <div class="mulitytext"><label>委托人价值</label>@Html.TextBox("C_Principal_value", Model.C_Principal_value, new { maxlength = "200" })<i></i></div>
                                        <div class="mulitytext">
                                            <label>委托人忠诚度</label>
                                            @{
            IList<SelectListItem> customerLoyaltyItems = new List<SelectListItem>();
            foreach (var customerLoyalty in PrincipalLoyaltys)
            {
                SelectListItem selectItem = new SelectListItem();
                selectItem.Value = customerLoyalty.C_Parameters_id.ToString();
                selectItem.Text = customerLoyalty.C_Parameters_name;

                customerLoyaltyItems.Add(selectItem);
            }
                                            }
                                            @Html.DropDownList("C_Principal_loyalty", customerLoyaltyItems, new { })<i></i>
                                        </div>
                                        <div class="mulitytextlonger"><label>备注</label>@Html.TextBox("C_Principal_remark", Model.C_principal_remark, new { maxlength = "200" })<i></i></div>
                                        <div class="buttonWrap clear"><label>&nbsp;</label><input name="" type="button" id="btnSave" onclick="onlySaveForm(this)" class="btn btnmr fl" value="确认保存" /><i></i><input name="" id="btnSaveAndNewNext" type="button" onclick="saveAndNewNext(this)" class="btn btnmr fl" value="保存并新增下一个" /><i></i></div>
        }
    </ul>
</div>

