@using CommonService.Model;
@model IEnumerable<CommonService.Model.C_Company>
@{
    Layout = "~/Views/Shared/_ListSearchWithDialogTemplate.cshtml";//带表单查询的列表页面固定模板
}
@{
    ViewBag.Title = "客户公司列表";
}

@{
    C_Company companyConditon = ViewBag.CompanyConditon;//客户公司条件模型
}
<div class="tools">
    <ul class="toolbar">
        <li><a target="popdialog" title="公司信息" dialogwidth="600" dialogheight="620" href="/basedata/company/create?customerCode=@companyConditon.C_Company_customer"><span><img src="/theme/images/new_add.png" /></span>添加</a></li>
        <li><a target="popdialog" title="公司信息" dialogwidth="600" dialogheight="620" edit="edit" href="/basedata/company/edit?companyCode={sid_Iterm}"><span><img src="/theme/images/new_edit.png" /></span>修改</a></li>
        <li><a target="ajaxtodo" title="确认要删除选中数据吗?" singleoperate="singleoperate" href="/basedata/company/delete?companyCode={sid_Iterm}"><span><img src="/theme/images/new_delete.png" /></span>删除</a></li>
    </ul>
</div>

<table class="tablelist">
    <thead>
        <tr>
            <th>公司名称</th>
            <th>公司性质</th>
            <th>企业法人</th>
            <th>成立时间</th>
            <th>注册资金</th>
            <th>营业执照注册号</th>
            <th>组织机构代码</th>
            <th>纳税号</th>
            <th>注册地址</th>
            <th>是否默认</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr target="sid_Iterm" rel="@item.C_Company_code" relname="@item.C_Company_name">
                <td>@item.C_Company_name</td>
                <td>@item.C_Company_property_name</td>
                <td>@item.C_Company_legalPerson</td>
                <td>@(item.C_Company_establishmentDate == null ? "" : item.C_Company_establishmentDate.Value.ToString("yyyy-MM-dd"))</td>
                <td>@item.C_Company_registeredCapital</td>
                <td>@item.C_Company_licenseCode</td>
                <td>@item.C_Company_organizationCode</td>
                <td>@item.C_Company_taxCode</td>
                <td>@item.C_Company_address</td>
                <td>@(item.C_Company_isDefault == true ? "是" : "否")</td>
            </tr>
        }
    </tbody>
</table>    