@using Context;
@{
    Layout = null;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>顶部页面</title>
    <style>
        .cc {
            cursor: pointer;
            margin-right: 200px;
            margin-top: 70px;
            width: 14px;
            height: 14px;
            background: url(/theme/images/s.png);
        }

        .ee {
            float: left;
            cursor: pointer;
            margin-left: 88%;
            margin-top: 5px;
            width: 14px;
            height: 14px;
            background: url(/theme/images/x.png);
        }
    </style>
    <link href="/theme/css/style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="/theme/js/jquery.js"></script>
    <script type="text/javascript">
        $(function () {
            //顶部导航切换
            $(".nav li a").click(function () {
                $(".nav li a.selected").removeClass("selected");
                $(this).addClass("selected");
            })
            $("a[target=popdialog]").each(function () {
                $(this).click(function (event) {
                    event.preventDefault();
                    var $this = $(this);
                    //替换url参数
                    var switchUrl = $this.attr("href");
                    //打开对话框
                    window.parent.parent._openMessageDialog($(this).attr("title"), switchUrl, $(this).attr("dialogwidth"), $(this).attr("dialogheight"));
                });
            });
            var msgCount = '@ViewBag.MessageCount';
            $('#msgCount').html("" + msgCount + "");
            var oaMsgCount = '@ViewBag.OAMessageCount';
            if (oaMsgCount != 0) {
                $('#OaMsgCount').html("" + oaMsgCount + "");
            }
        })
        //打开岗位
        function openPostBox(thisObj) {
            var $this = $(thisObj);
            if ($this.parent().parent().find("ul").css("display") == "none") {
                $this.parent().parent().find("ul").show();
            } else {
                $this.parent().parent().find("ul").hide();
            }
        }
        function _show($box) {
            $(document).bind("click", { box: $box }, _handler);
        }
        function _hide($box) {
            $box.removeClass("selected");
            $box.find('ul').hide();
            $(document).unbind("click", _handler);

        }
        //绑定的文档Click事件处理方法
        function _handler(event) {
            $box = event.data.box;
            if ($box.hasClass("selected")) {
                _hide($box);
            } else {
                $box.addClass("selected");
                $box.find('ul').show();
            }
        }
        //切换岗位
        function switchPost(switchUserCode, thisUserCode) {
            if (switchUserCode != thisUserCode) {
                window.parent.parent.location.href = '/home/switchuserposts?userCode=' + switchUserCode;
                this.parent().parent().find("ul").hide();
            }
        }

        function ChangeState() {
            if (parent.document.getElementById("tfs").rows == "88,*") {
                parent.document.getElementById("tfs").rows = "23,*";
                document.getElementById("hidDiv").style.display = "block";

            } else {
                parent.document.getElementById("tfs").rows = "88,*";
                document.getElementById("hidDiv").style.display = "none";
            }
        }

        //function Redirect(url) {
        //    if (url != parent.location.href) {
        //        parent.location.href = url;
        //    }
        //}
        setInterval("setmsgCount()", 5000);

        function setmsgCount() {
            var switchUrl = '/home/ReadMessageCount';
            $.ajax({
                type: 'POST',
                url: switchUrl,
                data: null,
                dataType: "text",
                cache: false,
                success: function (msgCount) {
                    $('#msgCount').html("" + msgCount + "");
                },
                error: function () {
                }
            });
        }
        function SaveKmsLog() {
            var switchUrl = '/home/SaveKmsLog';
            $.ajax({
                type: 'POST',
                url: switchUrl,
                data: null,
                dataType: "text",
                cache: false,
                success: function () {
                },
                error: function () {
                    alert('服务器繁忙，请稍后再试!');
                }
            });
        }
    </script>
</head>
@{
    List<CommonService.Model.SysManager.C_Userinfo> UserPosts = ViewBag.UserPosts;
}
<body style="background: url(/theme/images/topbg.gif) repeat-x; ">
    <div style="z-index: 9999; float: left; display:none; background: #3592C6; height: 23px; width: 100%;" id="hidDiv">
        <div class="ee" onclick="ChangeState();" title="点击展开菜单"></div>
    </div>
    <div class="topleft">
        <a href="#" title="系统首页">@*<img src="/Theme/images/ImageLogo.png" />*@<img id="img1" src="/Theme/images/beidouyunxitong.png" width="170" /></a>
    </div>
    <ul class="nav">
        <li><a href="javascript:void(0);" class="selected"><h2>北斗云</h2></a></li>
        <li style="width:100px;"><a href="/home/oadefault" target="_blank" style="width:100px;"><div></div><h2>办公协同<span id="OaMsgCount" style="color: #fff; margin-left: 8px; background: url(/theme/images/ui-bg_flat_15_cd0a0a_40x100.png) repeat-x; "></span></h2></a></li>
        @if (UIContext.Current.IsPreSetManager)
        { }
            <li style="width:100px;"><a href="/home/ReportingDefault" target="_blank" style="width:100px;"><div></div><h2>报表系统<span id="OaMsgCount" style="color: #fff; margin-left: 8px; background: url(/theme/images/ui-bg_flat_15_cd0a0a_40x100.png) repeat-x; "></span></h2></a></li>
        <li style="width:100px;"><a href="/home/kmsdefault" target="_blank" style="width:100px;" id="SaveKmsLog" onclick="SaveKmsLog()"><div></div><h2>云学堂<span id="OaMsgCount" style="color: #fff; margin-left: 8px; background: url(/theme/images/ui-bg_flat_15_cd0a0a_40x100.png) repeat-x; "></span></h2></a></li>
       

        @*<li><a href="imglist.html" target="rightFrame"><img src="/theme/images/icon03.png" title="模块设计" /><h2>模块设计</h2></a></li>
            <li><a href="tools.html" target="rightFrame"><img src="/theme/images/icon04.png" title="常用工具" /><h2>常用工具</h2></a></li>
            <li><a href="computer.html" target="rightFrame"><img src="/theme/images/icon05.png" title="文件管理" /><h2>文件管理</h2></a></li>
            <li><a href="tab.html" target="rightFrame"><img src="/theme/images/icon06.png" title="系统设置" /><h2>系统设置</h2></a></li>*@
    </ul>
    <div class="topright">
        <ul>

            @if (!UIContext.Current.IsPreSetManager)
            {
                int i = 0;
                @*<li>
                    <ul style="width:400px;">
                        @foreach (var item in UserPosts)
                        {
                            if ((i < UserPosts.Count - 1 ? item.C_Userinfo_post_name == UserPosts[i + 1].C_Userinfo_post_name : false) || (i > 0 ? item.C_Userinfo_post_name == UserPosts[i - 1].C_Userinfo_post_name : false))
                            {
                                <li><a href="javascript:void(0);" onclick="switchPost('@item.C_Userinfo_code.Value','@UIContext.Current.UserCode.Value')">@(item.C_Userinfo_post_name)(@item.C_Userinfo_Organization_name)</a></li>
                            }
                            else
                            {
                                <li><a href="javascript:void(0);" onclick="switchPost('@item.C_Userinfo_code.Value','@UIContext.Current.UserCode.Value')">@item.C_Userinfo_post_name</a></li>
                            }
                            i++;
                        }
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="openPostBox(this)"><i>（@ViewBag.PostName）</i></a>

                </li>*@
            }

            <li><a href="http://www.beidoufucheng.com/" target="_Blank">官方网站</a></li>
            <li><a href="#">帮助</a></li>
            <li><a href="#">关于</a></li>
            @if (Request.IsAuthenticated)
            {
                <li><a title="点击退出登录" href="javascript:window.parent.parent.location.href='/Account/SignOff'">退出</a></li>
            }
            <li>
                <div class="user">
                    @if (Request.IsAuthenticated)
                    {
                        <span><a href="/SysManager/PersonalCenter/Create" target="rightFrame">@UIContext.Current.UserName</a></span>
                    }
                    <i>消息</i>
                    <b id="message"><a style="color:#fff; cursor:pointer;" href="/basedata/message/tabdetails" target="popdialog" title="消息详情" dialogwidth="1280" dialogheight="700" id="msgCount"></a></b>
                </div>
            </li>
        </ul>

        <div class="cc" onclick="ChangeState();"></div>
    </div>

</body>
</html>
