<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link href="/theme/css/jquery-ui.css" rel="stylesheet" type="text/css" />
    @*<link class="jsbin" href="http://code.jquery.com/ui/1.8.22/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />*@
    <link href="/theme/css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/theme/js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="/theme/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/theme/js/jquery.dialogextend.1_0_1.js"></script>
    <script type="text/javascript" src="/theme/js/alertDialog.js"></script>
    <script type="text/javascript" src="/theme/js/alertMsg.js"></script>
    <script type="text/javascript" src="/theme/js/basecommonlist.js"></script>
    <script type="text/javascript" src="/theme/js/tablelist.js"></script>
    <script type="text/javascript" src="/theme/js/businesscommonlist.js"></script>
    <script type="text/javascript" src="/theme/js/basedialog.js"></script>
    <script language="javascript" type="text/javascript" src="/theme/My97DatePicker/WdatePicker.js"></script>
    <script src="/theme/js/datepicker-zh-CN.js"></script>
    <script type="text/javascript" src="/theme/js/formsubmit.js"></script>
    @RenderSection("HeadCss", false)
    @RenderSection("HeadScript", false)
    <style>
        .forminfo
        {
            padding-left:0px;
        }
    </style>
</head>
<body>
    @*<div class="outer_wrapper"></div>*@
    @*<div class="place">
            <span>位置：</span>
            <ul class="placeul">
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
        </div>*@
    <div class="rightinfo">
        @RenderBody()
        <div class="Page text_r">@Html.Partial("_FootPagination")</div>
    </div>
</body>
</html>
