@model CommonService.Model.SysManager.C_Userinfo
@{
    Layout = "~/Views/Shared/_EditDialogFormTemplate.cshtml";//带表单提交的编辑页面固定模板
}
@{
    ViewBag.Title = "用户";
}
@section HeadScript{
    <script type="text/javascript">
        document.onkeyup = function (e) {      //onkeyup是javascript的一个事件、当按下某个键弹起 var _key; //的时触发
            if (e == null) { // ie
                _key = event.keyCode;
            } else { // firefox              //获取你按下键的keyCode
                _key = e.which;          //每个键的keyCode是不一样的
            }
            if (_key == 13) {   //判断keyCode是否是13，也就是回车键(回车的keyCode是13)
                onlySaveForm(document.getElementById('btnSave'));
            }
        }
        $(function () {
            var $businessflowoperatetoolbar = $("table[class=userDetial]");
            $("a[target=popdialog]", $businessflowoperatetoolbar).each(function () {
                $(this).click(function (event) {
                    event.preventDefault();
                    var $this = $(this);
                    //替换url参数
                    var switchUrl = $this.attr("href");
                    _openDialog($(this).attr("title"), switchUrl, $(this).attr("dialogwidth"), $(this).attr("dialogheight"));
                });
            });
        })
    </script>
}
@section HeadCss{
    <style type="text/css">
        .btn {
            background: url(../images/toolbg.gif) repeat-x;
            line-height: 25px;
            height: 25px;
            width: 80px;
            border: solid 1px #d3dbde;
            float: left;
            margin-right: 5px;
            border-radius: 3px;
            /*display: inline-block;*/
            text-align:center;
            margin-left:20px;
        }
    </style>    
}
@{
    List<CommonService.Model.Feedback.C_Feedback> feedbackList = ViewBag.feedbackList;
}
<div class="formbody">
    <table style="margin-left:10px;">
        <tr>
            <td style="width: 350px; ">
                <div style="float:left;"><img src="/Theme/images/i07.png" style="height:100px;width:100px;"/></div><span style="float:left;margin-top:40px;">@*你可以选择png/jpg(100*100)作为你的头像*@</span>
            </td>
            <td rowspan="2" >
                <table class="userDetial" style="margin-left:40px;">
                    <tr style="line-height:30px;">
                        <td>姓&nbsp;&nbsp;&nbsp;名：<span>@Model.C_Userinfo_name</span></td>
                        <td><p class="btn"><a target="popdialog" title="用户信息" dialogwidth="800" dialogheight="500" href="/sysmanager/PersonalCenter/ModifyingData"><span></span>编辑资料</a></p></td>
                    </tr>
                    <tr style="line-height:30px;">
                        <td>手机号：<span>@Model.C_Userinfo_cellPhoneNumber</span></td>
                        <td></td>
                    </tr>
                    <tr style="line-height:30px;">
                        <td>邮&nbsp;&nbsp;&nbsp;箱：<span>@Model.C_Userinfo_mailbox</span> </td>
                        <td></td>
                    </tr>
                    <tr style="line-height:30px;">
                        <td>密&nbsp;&nbsp;&nbsp;码：<span>●●●●●●</span></td>
                        <td><p class="btn"><a target="popdialog" title="用户信息" dialogwidth="800" dialogheight="500" href="/sysmanager/PersonalCenter/create"><span></span>修改密码</a></p></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style ="width: 200px;">
                <div style="float:left;">
                    <div style="float: left; margin: 20px; text-align: center;">
                        <span style="color: orange; font-size:14px;">@ViewBag.Integral</span><br /><br />
                        <span style="font-size:14px;">积分</span>
                    </div>
                    <div style="float: left; margin: 20px; text-align: center;">
                        <span style="color: orange; font-size:14px;">@ViewBag.FeedbackCount</span><br /><br />
                        <span style="font-size:14px;">问题总数</span>
                    </div>
                    <div style="float: left; margin: 20px; text-align: center;">
                        <span style="color: orange; font-size:14px;">@ViewBag.AdoptCount</span><br /><br />
                        <span style="font-size:14px;">被采纳</span>
                    </div>
                </div>
                <div style="float:left;margin-left:20px;width:350px;">
                    <span style="font-size: 14px;font-weight:bold;">反馈中心</span>
                    <ul style="margin-top:5px;">
                        @{
                            int i = 0;
                        }
                        @foreach(var feedback in feedbackList)
                        {
                            if (i == 5)
                            {
                                break;
                            }
                            <li style="line-height: 25px;list-style:disc;">@feedback.C_Feedback_Description</li>
                            i++;
                        }
                    </ul>
                </div>
                <div style="float: left; text-align:center; margin-left: 20px; margin-top: 10px; ">
                    <a href="/Feedback/Feedback/list" target="_blank">
                        <div style="height: 30px; width: 200px; background-color: orange; border-radius: 3px; color: white; font-weight: bold; font-size: 14px;line-height:30px; "> 反馈列表</div>
                    </a>
                </div>
            </td>
            
        </tr>
    </table>
</div>
