@model CommonService.Model.SysManager.C_Userinfo
@{
    Layout = "~/Views/Shared/_EditDialogFormTemplate.cshtml";//带表单提交的编辑页面固定模板
}
@{
    ViewBag.Title = "用户";
}
@section HeadScript{
    <script type="text/javascript">
        document.onkeyup = function (e) {      //onkeyup是javascript的一个事件、当按下某个键弹起 var _key; //的时触发 
            if (e == null) { // ie  
                _key = event.keyCode;
            } else { // firefox              //获取你按下键的keyCode  
                _key = e.which;          //每个键的keyCode是不一样的  
            }
            if (_key == 13) {   //判断keyCode是否是13，也就是回车键(回车的keyCode是13)  
                onlySaveForm(document.getElementById('btnSave'));
            }
        }
    </script>
}
<div class="formbody">
    <div class="formtitle"><span>修改密码</span></div>
    <ul class="forminfo">
        @using (Html.BeginForm("Save", "PersonalCenter", FormMethod.Post, new { id = "formper", onsubmit = "return validateCallback(this,dialogAjaxDone);" }))
        {
            @Html.Hidden("C_Userinfo_id", Model.C_Userinfo_id)
            @Html.Hidden("C_Userinfo_code", Model.C_Userinfo_code)
            @Html.Hidden("C_Userinfo_password", Model.C_Userinfo_password)
            @Html.Hidden("C_Userinfo_name", Model.C_Userinfo_name)
            @Html.Hidden("C_Userinfo_loginID", Model.C_Userinfo_loginID)
            @Html.Hidden("C_Userinfo_roleID", Model.C_Userinfo_roleID)
            @Html.Hidden("C_Userinfo_parent", Model.C_Userinfo_parent)
            @Html.Hidden("C_Userinfo_description", Model.C_Userinfo_description)
            @Html.Hidden("C_Userinfo_state", Model.C_Userinfo_state)
            @Html.Hidden("C_Userinfo_isDefault", Model.C_Userinfo_isDefault)
            @Html.Hidden("C_Userinfo_Organization", Model.C_Userinfo_Organization)
            @Html.Hidden("C_Userinfo_post", Model.C_Userinfo_post)
            @Html.Hidden("C_Userinfo_isDelete", Model.C_Userinfo_isDelete)
            @Html.Hidden("C_Userinfo_creator", Model.C_Userinfo_creator)
            @Html.Hidden("C_Userinfo_createTime", Model.C_Userinfo_createTime)

            <li><label>账户名</label>@Html.TextBox("C_Userinfo_loginID", Model.C_Userinfo_loginID, new { @class = "dfinput", maxlength = "200" })<i></i></li>
            <li><label>当前密码</label>@Html.TextBox("oldpass", "", new { @class = "dfinput", requiredInput = "请输入当前密码", verifypassword = "密码必须6位以上，并且必须包含字母和数字", type = "password", maxlength = "200" })<i></i></li>
            <li><label>新密码</label>@Html.TextBox("newpass", "", new { @class = "dfinput", requiredInput = "请输入新密码", verifypassword = "密码必须6位以上，并且必须包含字母和数字", type = "password", maxlength = "200" })<i></i></li>
            <li><label>确认新密码</label>@Html.TextBox("surenewpass", "", new { @class = "dfinput", requiredInput = "请输入新密码", verifypassword = "密码必须6位以上，并且必须包含字母和数字", type = "password", maxlength = "200" })<i></i></li>
            <li class="buttonWrap clear"><label>&nbsp;</label><input name="" type="button" id="btnSave" onclick="onlySaveForm(this)" class="btn btnmr fl" value="确认保存" /><i></i></li>
        }
    </ul>
</div>
