@model CommonService.Model.KMS.K_Resources
@{
    Layout = "~/Views/Shared/_KMSLayout.cshtml";//KMS母版页
}
@{
    List<CommonService.Model.KMS.K_Knowledge> knowledgeList = ViewBag.KnowlwedgeList;
    List<CommonService.Model.FlowManager.P_Flow> flowList = ViewBag.flowItems;
    List<CommonService.Model.FlowManager.P_Flow_form> formList = ViewBag.formItem;
    List<CommonService.Model.C_Region> regionList = ViewBag.regionList;
    CommonService.Model.KMS.K_PorblemAndResources_LinkCase linkModel = ViewBag.linkModel;
    string flow = "";
    if (linkModel != null)
    {
        flow = linkModel.K_ProblemAndResources_LinkCase_BusinessFlowcode.ToString();
    }
}
@section HeadScript{
    <script>
        //document.domain = "youku.com";
        var USE_STREAM_UPLOAD = true;
        jQuery(document).ready(function () {
            //Oauth授权的三种页面跳转方式iframe,newWindow,currentWindow
            //iframe跳转方式
            var param = { client_id: "46d33f35eb3b5080", access_token: "@ViewBag.token", oauth_opentype: "iframe", oauth_redirect_uri: "http://test.youku.com/youkuupload/oauth_result.html", oauth_state: "", completeCallback: "uploadComplete", categoryCallback: "categoryLoaded" };
            //newWindow新弹出窗口方式
            //var param = {client_id:"",access_token:"",oauth_opentype:"newWindow",oauth_redirect_uri:"http://test.youku.com/youkuupload/oauth_result_newwindow.html",oauth_state:"",completeCallback:"uploadComplete",categoryCallback:"categoryLoaded"};
            //currentWindow当前窗口方式
            /*
            var param = {client_id:"",access_token:"",oauth_opentype:"currentWindow",oauth_redirect_uri:"http://test.youku.com/youkuupload/upload.html",oauth_state:"",completeCallback:"uploadComplete",categoryCallback:"categoryLoaded"};
            var reg = new RegExp("(^|\\#|&)access_token=([^&]*)(\\s|&|$)", "i");
            if (reg.test(location.href)){
                    var access_token = unescape(RegExp.$2.replace(/\+/g, " "));
                    param.access_token = access_token;
            }
            */
            youkuUploadInit(param);
            //$("#input02").val("kk");

        });
        //上传完成时回调方法
        function uploadComplete(data) {
            var auther = $('#auther').val();
            var tags = $('#input02').val();
            var title = $('#input01').val();
            var description = $('#K_Resources_description').val();
            var K_Resources_Knowledge = $('#K_Resources_Knowledge').val();
            var type = $('#problemType').val();
            var court = "";
            var flow = "";
            var form = "";
            var caseArea = "";
            if (type == "1")
            {
                var receiverGuids = $selectReceivers.select2("val");//收件人选中值
                court = receiverGuids;
                flow = $('#K_ProblemAndResources_LinkCase_BusinessFlowcode').val();
                form = $('#K_ProblemAndResources_LinkCase_Formcode').val();
                caseArea = $('#caseArea').val();
            }
            var converimg;
            $("img", $('#youku-upload')).each(function () {
                if ($(this).attr('src').length > 40) {
                    converimg = $(this).attr('src');
                }
            })
            $.ajax({
                type: 'post',
                url: '/kms/avi/save',
                data: '{auther:"' + auther + '",tags:"' + tags + '",title:"' + title + '",description:"' + description + '",id:"' + data.videoid + '",baseimg:"' + converimg + '",K_Resources_Knowledge:"' + K_Resources_Knowledge + '",court:"' + court + '",flow:"' + flow + '",form:"' + form + '",caseArea:"' + caseArea + '"}',
                contentType: "application/json",
                cache: false,
                success: function (data) {
                    if (data == '1') {
                        //$('#tip').removeClass('hidden');
                        //$('#dec').addClass('hidden');
                        //window.location.href = '/kms/Resources/MyShare';
                        var confirmtip = '视频上传成功！请等待视频转码以及管理员的审核！给您带来的不便敬请谅解！';//确认提示信息，如果无此属性，则为直接操作
                        if (confirmtip) {
                            $('#alertConfirmWarning').find('.modal-footer').children().first().attr('onclick', 'window.location.href = "/kms/Resources/MyShare"');//设置确定按钮url
                            $('#alertConfirmWarning').find('.modal-body').html(confirmtip);//重新设置确认提示信息
                            $('#alertConfirmWarning').find('.default').attr('style', 'display:none;');//隐藏关闭按钮
                            $('#alertConfirmWarning').modal('show');//打开确认信息框
                        }
                    }
                    else {
                        bootbox.alert('资源上传失败!');
                    }
                },
                error: function () {
                    bootbox.alert('网络错误，请稍后再试!');
                }
            });
        }

        //分类加载后回调方法
        function categoryLoaded(data) {
            if (data.categories) {
                var tpl = '';
                for (var i = 0; i < data.categories.length; i++) {
                    if (data.categories[i].term == 'Ads') {
                        tpl += '<option value="' + data.categories[i].term + '" selected>' + data.categories[i].label + '</option>';
                    } else {
                        tpl += '<option value="' + data.categories[i].term + '" >' + data.categories[i].label + '</option>';
                    }
                }
                $("#category-node").html(tpl);
            }
        }

        //初始化select2控件
        var $selectReceivers = $('#select_receivers').select2({
            placeholder: "搜索法院",
            allowClear: true,
            formatNoMatches: "没有匹配的法院"
        });
        $("#K_ProblemAndResources_LinkCase_BusinessFlowcode").change(function () {
            var flowCode = $('#K_ProblemAndResources_LinkCase_BusinessFlowcode').val();
            if (flowCode != null) {
                $.ajax({
                    type: 'post',
                    url: '/kms/problem/GetFormList?businessFlow=' + flowCode + '',
                    data: null,
                    dataType: "json",
                    cache: true,
                    success: function (data) {
                        $('#K_ProblemAndResources_LinkCase_Formcode').html('');
                        var htmls = '';
                        for (var i = 0; i < data.length; i++) {
                            htmls += "<option value='" + data[i].F_Form_code + "'>" + data[i].F_Form_chineseName + "</option>";
                        }
                        $('#K_ProblemAndResources_LinkCase_Formcode').append(htmls);
                    },
                    error: function () {
                        alert("网络错误，请稍后再试！");
                    }
                });
            }
        });
        $('#K_Resources_Knowledge').change(function () {
            var Knowledge_name = $('#K_Resources_Knowledge').find("option:selected").text();
            if (Knowledge_name == "办案知识管理" || Knowledge_name == "典型案例") {
                if ($('#court').hasClass('hidden')) {
                    $('#court').removeClass('hidden');
                }
                if ($('#flowform').hasClass('hidden')) {
                    $('#flowform').removeClass('hidden');
                }
                if ($('#businessflow').hasClass('hidden')) {
                    $('#businessflow').removeClass('hidden');
                }

                $("#problemType").val('1');
            }
            else {
                if (!$('#court').hasClass('hidden')) {
                    $('#court').addClass('hidden');
                }
                if (!$('#flowform').hasClass('hidden')) {
                    $('#flowform').addClass('hidden');
                }
                if (!$('#businessflow').hasClass('hidden')) {
                    $('#businessflow').addClass('hidden');
                }
                $("#problemType").val('0');
            }
        });
        $("#caseArea").change(function () {
            var areaCode = $('#caseArea').val();
            $("li").remove(".select2-search-choice");
            if (areaCode != null) {
                $.ajax({
                    type: 'post',
                    url: '/basedata/court/GetRegionList?region=' + areaCode + '',
                    data: null,
                    dataType: "json",
                    cache: true,
                    success: function (data) {
                        $('#select_receivers').html('');
                        var htmls = '';
                        htmls += "<option value='all'>全部</option>";
                        for (var i = 0; i < data.length; i++) {
                            htmls += "<option value='" + data[i].C_Court_code + "'>" + data[i].C_Court_name + "</option>";
                        }
                        $('#select_receivers').append(htmls);
                    },
                    error: function () {
                        alert("网络错误，请稍后再试！");
                    }
                });
            }
        });
        $(function () {
            var flow = '@flow';
            if (flow != "" && flow != null) {
                $('#problemType').val('1');
                $('#court').removeClass('hidden');
                $('#businessflow').removeClass('hidden');
                $('#flowform').removeClass('hidden');
                $("#K_Resources_Knowledge option").each(function () {
                    if ($(this).text() == "办案知识管理" || $(this).text() == "典型案例") {
                        $(this).attr("selected", "selected");
                    }
                })
            }     
        })
    </script>
}
<div class="modal-header">
    @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>*@
    <h4 class="modal-title">我要分享 • 上传视频</h4>
</div>
<div id="youku-upload">
    <div class="modal-body">
        <form class="form-horizontal" name="video-upload">
            <fieldset>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3"><span class="required">*</span>  文件： </label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <div id="uploadControl" class="control"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3"><span class="required">*</span>  标题： </label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <input type="text" class="form-control" id="input01" name="title">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @{
                                IList<SelectListItem> Items = new List<SelectListItem>();
                                foreach (var item in knowledgeList)
                                {
                                    SelectListItem selectItem = new SelectListItem();
                                    selectItem.Value = item.K_Knowledge_code.ToString();
                                    selectItem.Text = item.K_Knowledge_name;

                                    Items.Add(selectItem);
                                }
                            }
                            <label class="control-label col-md-3"><span class="required">*</span>  分类： </label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    @Html.DropDownList("K_Resources_Knowledge", Items, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group  hidden" id="court">
                            <label class="control-label col-md-3"><span class="required">*</span>法院： </label>
                            <div class="col-md-3">
                                @{
                                    IList<SelectListItem> RegionItems = new List<SelectListItem>();
                                    SelectListItem defaultItem = new SelectListItem();
                                    defaultItem.Value = null;
                                    defaultItem.Text = "全部";
                                    RegionItems.Add(defaultItem);
                                    if (regionList != null)
                                    {
                                        foreach (var region in regionList)
                                        {
                                            SelectListItem item = new SelectListItem();
                                            item.Value = region.C_Region_code.ToString();
                                            item.Text = region.C_Region_name;
                                            RegionItems.Add(item);
                                        }
                                    }
                                }
                                @Html.DropDownList("caseArea", RegionItems, new { @class = "form-control" })
                            </div>
                            <div class="col-md-6">
                                <select id="select_receivers" name="select_receivers" data-live-search="true" class="form-control bs-select" multiple>
                                    @Html.Raw(ViewBag.userhtml);
                                </select>
                            </div>
                        </div>
                        <div class="form-group  hidden" id="businessflow">
                            @{
                                IList<SelectListItem> BusinessFlowtItems = new List<SelectListItem>();
                                if (flowList != null)
                                {
                                    foreach (var businessFlow in flowList)
                                    {
                                        SelectListItem item = new SelectListItem();
                                        item.Value = businessFlow.P_Flow_code.ToString();
                                        item.Text = businessFlow.P_Flow_name;
                                        if (linkModel != null && linkModel.K_ProblemAndResources_LinkCase_BusinessFlowcode.ToString() != "")
                                        {
                                            if (linkModel.K_ProblemAndResources_LinkCase_BusinessFlowcode.ToString() == businessFlow.P_Flow_code.ToString())
                                            {
                                                item.Selected = true;
                                            }
                                        }
                                        BusinessFlowtItems.Add(item);
                                    }
                                }
                            }
                            <label class="control-label col-md-3"><span class="required">*</span>业务流程： </label>
                            <div class="col-md-9">
                                @Html.DropDownList("K_ProblemAndResources_LinkCase_BusinessFlowcode", BusinessFlowtItems, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group hidden" id="flowform">
                            @{
                                IList<SelectListItem> FormItems = new List<SelectListItem>();
                                if (formList != null)
                                {
                                    foreach (var form in formList)
                                    {
                                        SelectListItem item = new SelectListItem();
                                        item.Value = form.F_Form_code.ToString();
                                        item.Text = form.F_Form_chineseName;
                                        if (linkModel != null && linkModel.K_ProblemAndResources_LinkCase_Formcode.ToString() != "")
                                        {
                                            if (linkModel.K_ProblemAndResources_LinkCase_Formcode.ToString() == form.F_Form_code.ToString())
                                            {
                                                item.Selected = true;
                                            }
                                        }
                                        FormItems.Add(item);
                                    }
                                }
                            }
                            <label class="control-label col-md-3"><span class="required">*</span>任务名称： </label>
                            <div class="col-md-9">
                                @Html.DropDownList("K_ProblemAndResources_LinkCase_Formcode", FormItems, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">作者： </label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <input type="text" class="form-control" id="auther">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">简介： </label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    @Html.TextArea("K_Resources_description", Model.K_Resources_description, new
                   {
                       @class = "form-control",
                       rows = "4",
                       placeholder = "文件描述",
                       maxlength = "500", @*validateType = "{required:true}", validateMessage = "{required:'文件描述不能为空'}"*@ })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-2"><span class="required">*</span>  标签： </label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <input type="text" class="form-control" id="input02" name="tags">
                                </div>
                            </div>
                        </div>
                        @*<div class="form-group">
                            <label class="control-label col-md-2">推荐： </label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                </div>
                            </div>
                        </div>*@
                        <div class="form-group">
                            <label class="control-label col-md-2">封面： </label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                            <img src="~/Theme/images/noimg.png" id="converimg" />
                                        </div>
                                        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;">
                                        </div>
                                        <div>
                                            <span class="btn default btn-file">
                                                <span class="fileinput-new">
                                                    选择图片
                                                </span>
                                                <span class="fileinput-exists">
                                                    换图
                                                </span>
                                                <input type="file" name="...">
                                            </span>
                                            <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput">
                                                移除
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                @*<div class="form-actions">
                        <button type="submit" class="btn btn-primary start" id="btn-upload-start">
                            <i class="icon-upload icon-white"></i>
                            <span>开始上传</span>
                        </button>
                    </div>*@
                <div class="row">
                    <div class="col-md-10"></div>
                    <button type="submit" class="btn btn-primary start" id="btn-upload-start">
                        <i class="icon-upload icon-white"></i>
                        <span>开始上传</span>
                    </button>
                </div>
                <div>
                    @Html.Hidden("problemType")
                </div>
            </fieldset>
        </form>
        <div class="row">
            <div class="span5" id="upload-status-wraper"></div>
        </div>
        <br>
        <div class="note note-success note-bordered hidden" id="tip">
            <h4 class="block">资源上传成功</h4>
            <p>
                资源已经上传，请等待系统转码，管理员审核。此事时间较长，你可以选择浏览其它文件！<span><a href="/kms/resources/search">去浏览</a></span>
            </p>
        </div>
        <div class="note note-success" id="dec">
            <h3>说明</h3><ul><li>最大支持上传<strong>1 GB</strong> 视频文件</li><li>允许上传的视频格式为：wmv,avi,dat,asf,rm,rmvb,ram,mpg,mpeg,3gp,mov,mp4,m4v,dvix,dv,dat,<br />mkv,flv,vob,ram,qt,divx,cpk,fli,flc,mod。不符合格式的视频将会被丢弃，请确保视频格式的正确性，避免上传失败</li></ul>
        </div>
    </div>
    <!--完成上传的DOM和登录DOM 开始-->
    <div id="complete">

    </div>
    <div id="login" style="width:100%;height:100%;position:fixed;z-index:999;left:0px;top:0px;overflow:hidden;display:none;">

    </div>
    <!--完成上传的DOM和登录DOM 结束-->
</div>