@model CommonService.Model.KMS.K_Exam
@{
    Layout = "~/Views/Shared/_KMSLayout.cshtml";//KMS母版页
}
@{
    List<CommonService.Model.KMS.K_Knowledge> knowledgeList = ViewBag.KnowlwedgeList;
}
@section HeadScript{
    <script type="text/javascript">
        function fileResourcesChange(target) {
            var fileSize = 0;
            if (!target.files) {
                var filePath = target.value;
                var fileSystem = new ActiveXObject("Scripting.FileSystemObject");
                var file = fileSystem.GetFile(filePath);
                fileSize = file.Size;
            } else {
                fileSize = target.files[0].size;
                //target.value = "";
                //return
            }
            var size = fileSize / 1024;
            if (size > 5000) {
                bootbox.alert("文件不能大于5M");
                target.value = "";
                return
            }
            var name = target.value;
            var fileName = name.substring(name.lastIndexOf(".") + 1).toLowerCase();
            if (fileName != "jpg" && fileName != "png" && fileName != "gif") {
                bootbox.alert("请选择图片格式文件上传(jpg,png,gif)！");
                target.value = "";
                return
            }
        }

        CKEDITOR.replace('K_Resources_description');//文本编辑器初始化
        FormValidation.init('formPaper', formNavAjaxDone);//用表单Id和表单回调函数，初始化表单
        FormFileUpload.init('formPaper');//用表单Id，初始化上传控件
    </script>
    <!-- END MAIN JS -->
}
<div class="modal-header">
    @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>*@
    <h4 class="modal-title">在线考试 • 创建考试</h4>
</div>
<div class="modal-body">
    @using (Html.BeginForm("Save", "PaperManagement", FormMethod.Post, new { id = "formPaper", @class = "form-horizontal", role = "form", enctype = "multipart/form-data", submitplug = "formplug" }))
    {
        <div class="form-body">
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span defaulttext="表单数据不完整，请检查红色部分！"></span>
            </div>
            <div class="alert alert-success display-hide">
                <button class="close" data-close="alert"></button>
                <span defaulttext="表单数据验证通过，数据处理中..."></span>
            </div>
            @Html.Hidden("K_Exam_id", Model.K_Exam_id)
            @Html.Hidden("K_Exam_code", Model.K_Exam_code)
            @Html.Hidden("K_Exam_userCount", Model.K_Exam_userCount)
            @Html.Hidden("K_Exam_createtime", Model.K_Exam_createtime)
            @Html.Hidden("K_Exam_isDelete", Model.K_Exam_isDelete)
            @Html.Hidden("reflash")
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-3"><span class="required">*</span> 考场名称： </label>
                        <div class="col-md-8">
                            <div class="input-icon right">
                                <i class="fa"></i>
                                @Html.TextBox("K_Exam_name", Model.K_Exam_name, new { @class = "form-control", placeholder = "考场名称", maxlength = "200", validateType = "{required:true}", validateMessage = "{required:'考场名称不能为空'}" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3"><span class="required">*</span> 考试日期： </label>
                        <div class="col-md-8">
                            <div class="input-icon right">
                                <i class="fa"></i>

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3"><span class="required">*</span> 考试链接：</label>
                        <div class="col-md-8">
                            <div class="input-icon right">
                                <i class="fa"></i>
                                @Html.TextBox("K_Exam_url", Model.K_Exam_url, new { @class = "form-control", placeholder = "考试链接", maxlength = "200", validateType = "{required:true}", validateMessage = "{required:'考试链接不能为空'}" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3"><span class="required">*</span> 考试口令：</label>
                        <div class="col-md-8">
                            <div class="input-icon right">
                                <i class="fa"></i>
                                @Html.TextBox("K_Exam_pwd", Model.K_Exam_pwd, new { @class = "form-control", placeholder = "考试口令", maxlength = "200", validateType = "{required:true}", validateMessage = "{required:'考试口令不能为空'}" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-3"><span class="required">*</span> 组织架构：</label>
                        <div class="col-md-8">
                            <div class="input-icon right">
                                <i class="fa"></i>
                                @Html.TextBox("K_Exam_pwd", Model.K_Exam_pwd, new { @class = "form-control", placeholder = "功能暂未开发", maxlength = "200" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @{
                            IList<SelectListItem> Items = new List<SelectListItem>();
                            foreach (var item in knowledgeList)
                            {
                                SelectListItem selectItem = new SelectListItem();
                                selectItem.Value = item.K_Knowledge_code.ToString();
                                selectItem.Text = item.K_Knowledge_name;
                                if (Model.K_Exam_category != null)
                                {
                                    if (Model.K_Exam_category == item.K_Knowledge_code)
                                    {
                                        selectItem.Selected = true;
                                    }
                                }
                                Items.Add(selectItem);
                            }
                        }
                        <label class="control-label col-md-3">分类：</label>
                        <div class="col-md-8">
                            @Html.DropDownList("K_Exam_category", Items, new { @class = "form-control", placeholder = "分类", maxlength = "200", validateType = "{required:true}", validateMessage = "{required:'分类不能为空'}" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3"> 考官：</label>
                        <div class="col-md-8">
                            <div class="input-icon right">
                                <i class="fa"></i>
                                @Html.TextBox("K_Exam_examiner", Model.K_Exam_examiner, new { @class = "form-control", placeholder = "考官", maxlength = "200" })
                            </div>
                        </div>
                    </div>
                    <div>
                        <label class="control-label col-md-3"> 二维码：</label>
                        <div class="col-md-8">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="input-group input-large">
                                    <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                                        <i class="fa fa-file fileinput-exists"></i>&nbsp; <span class="fileinput-filename">
                                        </span>
                                    </div>
                                    <span class="input-group-addon btn default btn-file">
                                        <span class="fileinput-new">
                                            选择文件
                                        </span>
                                        <span class="fileinput-exists">
                                            更改
                                        </span>
                                        <input type="file" name="paperImage" onchange="fileResourcesChange(this,2)" validatetype="{required:true}" validatemessage="{required:'二维码不能为空'}">
                                    </span>
                                    <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput">
                                        取消
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="form-group">
                    <label class="control-label col-md-1"><span class="required">*</span> 内容：</label>
                    <div class="col-md-11">
                        <div class="input-icon right">
                            <i class="fa"></i>
                            @Html.TextArea("K_Resources_description", Model.K_Resources_description, new { @class = "ckeditor form-control", rows = "6", validateType = "{required:true}", validateMessage = "{required:'文章内容不能为空'}" })
                        </div>
                    </div>
                </div>*@
        </div>
    }
</div>
<div class="note note-success">
    <h4 class="block">提示</h4>
    <p>
        二维码、考试链接、考试口令需在“百一测评”获取
    </p>
</div>
<div class="row">
    <div class="col-md-11 modal-footer">
        <button type="button" class="btn blue" onclick="saveForm('formPaper')">保存</button>
    </div>
</div>



