@using CommonService.Common
@{
    Layout = "~/Views/Shared/_KMSLayout.cshtml";//KMS母版页
}
@{
    List<CommonService.Model.KMS.K_Exam> examList = ViewBag.examList;
    List<CommonService.Model.KMS.K_Knowledge> listK = ViewBag.listK;
    //判断当前菜单是否有主菜单，取其code
    string parentCode = "";
    if (ViewBag.knowledgeCode != null && ViewBag.knowledgeCode != "")
    {
        Guid code = new Guid(ViewBag.knowledgeCode);
        CommonService.Model.KMS.K_Knowledge menuModel = listK.SingleOrDefault(item => item.K_Knowledge_parent != null && item.K_Knowledge_code == code);
        if (menuModel != null)//如果menuModel不为空，则包含父级菜单
        {
            //获取父级菜单菜单code
            CommonService.Model.KMS.K_Knowledge parModel = listK.SingleOrDefault(par => par.K_Knowledge_code == menuModel.K_Knowledge_parent);
            parentCode = parModel.K_Knowledge_code.ToString();
        }
    }
}
<style>
    .timeline:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 3px;
        background: #D6E5F0;
        left: 15.4%;
        margin-left: -10px;
    }

    .timeline > li .timeline-icon {
        width: 40px;
        height: 40px;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        font-size: 1.4em;
        line-height: 40px;
        -webkit-font-smoothing: antialiased;
        position: absolute;
        color: #AAB2BD;
        background: none;
        border-radius: 50%;
        box-shadow: none;
        text-align: center;
        left: 15%;
        top: 0;
        margin: 5px 0 0 -25px;
        padding-bottom: 3px;
        padding-right: 1px;
        padding-left: 2px;
        -webkit-border-radius: 30px !important;
        -moz-border-radius: 30px !important;
        border-radius: 30px !important;
    }

    .timeline > li .timeline-time span.date {
        font-size: 14px;
    }

    .timeline > li .timeline-time span.time {
        font-weight: 300;
        font-size: 20px;
        line-height: 38px;
    }

    .timeline > li .timeline-time {
        display: block;
        width: 10%;
        text-align: right;
        position: absolute;
    }

    .timeline > li .timeline-body {
        margin: 0 0 15px 20%;
        color: #fff;
        padding: 10px;
        font-weight: 300;
        position: relative;
        border-radius: 5px;
    }
    .portlet {
        margin-bottom: 0px;
    }
</style>
@section HeadScript{
    <script type="text/javascript" src="/theme/oajs/bar.js"></script>
    <script>
        //左侧下拉菜单样式
        window.onload = function () {
            var liclass = '@ViewBag.knowledgeCode';//当前菜单id
            var parclass = '@parentCode';//父级菜单id
            if (liclass != null && liclass != "") {
                //$("#" + liclass).addClass('active');data-jstree='{ "selected" : true }'
                $("#" + liclass + " .knowledgeCode").attr('style', 'background:#e1e1e1;');
            }
            if (parclass != null && parclass != "") {
                //$("#" + parclass).addClass('active');
                $("#" + liclass + " .ziCode").attr("style", "background:#e1e1e1;");
                $("#" + parclass + " .knowledgeCode").attr("style", "background:#e1e1e1;");
            }
            if (liclass == "") {
                $("#allknowledge").attr('style', 'background:#e1e1e1;');
            }
        }
    </script>
}
<div class="col-md-3" id="knowledge">
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject font-green-sharp bold uppercase">分类结构</span>
            </div>
        </div>
        <div class="portlet-body">
            <div id="tree_1" class="tree-demo">
                <ul>
                    <li data-jstree='{ "opened" : true,"type" : "file" }'>
                        <a id="allknowledge" href="/kms/papermanagement/paperlist?knowledgeCode=">
                            知识分类
                        </a>
                        <ul>
                            @foreach (var item in listK.Where(kk => kk.K_Knowledge_parent == null))
                            {
                                //获取该菜单下的子菜单
                                List<CommonService.Model.KMS.K_Knowledge> menuList = listK.Where(menu => menu.K_Knowledge_parent == item.K_Knowledge_code).ToList();
                                <li id="@item.K_Knowledge_code" data-jstree='{ "opened" : true,"type" : "file" }'>
                                    <a class="knowledgeCode" href="/kms/papermanagement/paperlist?knowledgeCode=@item.K_Knowledge_code">
                                        @item.K_Knowledge_name
                                    </a>
                                    @if (menuList.Count() > 0)//判断是否有子菜单
                                    {
                                        <ul class="dropdown-menu">
                                            @foreach (var ziMenu in menuList)
                                            {
                                                <li class="" id="@ziMenu.K_Knowledge_code" data-jstree='{ "type" : "file" }'>
                                                    <a class="ziCode" href="/kms/papermanagement/paperlist?knowledgeCode=@ziMenu.K_Knowledge_code">
                                                        @ziMenu.K_Knowledge_name
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    }
                                </li>
                            }
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
<div class="col-md-9" style="border-left: 1px solid #ccc;">
    <div class="portlet light">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="form-group col-md-5">
                <div class="input-group">
                    <div class="icheck-inline">
                        <label>
                            <input type="radio" name="radio2" class="icheck green"> 未开始(黄)
                        </label>
                        <label>
                            <input type="radio" name="radio2" checked class="icheck blue"> 进行中(绿)
                        </label>
                        <label>
                            <input type="radio" name="radio2" class="icheck grey"> 已结束(灰)
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="padding:0px;">
                <div class="input-group">
                    <input name="s_title" id="s_title" type="text" class="form-control" placeholder="考场名称">
                    <span class="input-group-btn">
                        <button class="btn blue" type="button" id="sub"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
            <div class="col-md-3">
                <a data-loading-text="Loading..." class="demo-loading-btn btn blue" href="/kms/papermanagement/create">
                    创建考试
                </a>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <ul class="timeline">
            <li class="timeline-yellow">
                <div class="timeline-time">

                </div>
                <div style="height:30px;">

                </div>
            </li>
            @{
                foreach (var item in examList)
                {
                    <li class="timeline-yellow">
                        <div class="timeline-time">
                            <span class="date">
                                @Convert.ToDateTime(item.K_Exam_createtime).ToShortDateString()
                            </span>
                            <span class="time">
                                @Convert.ToDateTime(item.K_Exam_createtime).ToShortTimeString()
                            </span>
                        </div>
                        <div class="timeline-icon">
                            <i class="fa fa-circle"></i>
                        </div>
                        <div class="timeline-body">
                            <h2>
                                @item.K_Exam_name
                                <div class="btn-group pull-right">
                                    <a class="btn-default btn-sm dropdown-toggle" data-toggle="dropdown" @*data-hover="dropdown"*@ data-close-others="true" aria-expanded="false">
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li>
                                            <a href="/kms/papermanagement/create?examcode=@item.K_Exam_code">编辑考场 </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">考生录入</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">考试报告</a>
                                        </li>
                                        <li class="divider">
                                        </li>
                                        <li>
                                            <a href="/kms/papermanagement/delete?examcode=@item.K_Exam_code" operatetargettype="ajaxtodo" singleoperate="singleoperate" nodatatip="请选中信息！" confirmtip="确认要删除所选数据吗？">
                                                <i class="fa fa-trash-o"></i> 删除考试
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </h2>
                            <div class="timeline-content">
                                <img class="timeline-img pull-left" src="~/Theme/images/pc.png" alt="">
                                <ul class="list-inline">
                                    <li>
                                        <i class="fa fa-calendar"></i>
                                        考场口令 <span class="blue">@item.K_Exam_pwd</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-comments"></i>
                                        <a href="javascript:;">
                                            考场二维码
                                        </a>
                                    </li>
                                </ul>
                                <ul class="list-inline">
                                    <li>
                                        <i class="fa fa-calendar"></i>
                                        考卷： <a href="javascript:;">试卷1</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                }
            }
        </ul>
    </div>

</div>