@model CommonService.Model.CaseManager.B_EqAllot
@{
    Layout = "~/Views/Shared/_EditDialogFormTemplate.cshtml";//带表单提交的编辑页面固定模板
}
@{
    ViewBag.Title = "权益分配";
}
@section HeadScript{
    <script type="text/javascript">
        document.onkeyup = function (e) {      //onkeyup是javascript的一个事件、当按下某个键弹起 var _key; //的时触发 
            if (e == null) { // ie  
                _key = event.keyCode;
            } else { // firefox              //获取你按下键的keyCode  
                _key = e.which;          //每个键的keyCode是不一样的  
            }
            if (_key == 13) {   //判断keyCode是否是13，也就是回车键(回车的keyCode是13)  
                onlySaveForm(document.getElementById('btnSave'));
            }
        }
    </script>
}
<div class="formbody">
    <div class="formtitle"><span>基本信息</span></div>
    <ul class="forminfo">
        @using (Html.BeginForm("Save", "EqAllot", FormMethod.Post, new { id = "formEqAllot", onsubmit = "return validateCallback(this,dialogAjaxDone);" }))
        {
            @Html.Hidden("B_EqAllot_id", Model.B_EqAllot_id)
            @Html.Hidden("B_EqAllot_code", Model.B_EqAllot_code)
            @Html.Hidden("B_Case_code", Model.B_Case_code)
            @Html.Hidden("B_EqAllot_pright", Model.B_EqAllot_pright)
            @Html.Hidden("B_EqAllot_isDelete", Model.B_EqAllot_isDelete)
            @Html.Hidden("B_EqAllot_creator", Model.B_EqAllot_creator)
            @Html.Hidden("B_EqAllot_createTime", Model.B_EqAllot_createTime)
            <li><label>财产权利</label>@Html.TextBox("B_EqAllot_pright_name", Model.B_EqAllot_pright_name, new { @class = "dfinput",@readonly="readonly" , maxlength = "100" })<i></i></li>
            <li><label>折合金额</label>@Html.TextBox("B_EqAllot_mvalue", Model.B_EqAllot_mvalue, new { @class = "dfinput", requiredInput = "请输入金额", money = "请输入有效金额", maxlength = "50" })<i></i></li>
            <li><label>客户所得比例</label>@Html.TextBox("B_EqAllot_cusradio", Model.B_EqAllot_cusradio, new { @class = "dfinput", requiredInput = "请输入比例", maxlength = "200" })<i></i></li>
            <li><label>说明</label>@Html.TextArea("B_EqAllot_explain", Model.B_EqAllot_explain, new { @class = "textinput", maxlength = "500" })<i></i></li>
            <li class="buttonWrap clear"><label>&nbsp;</label><input name="" type="button" id="btnSave" onclick="onlySaveForm(this)" class="btn btnmr fl" value="确认保存" /><i></i></li>
        }
    </ul>
</div>