@using CommonService.Model;
@using CommonService.Common;
@using CommonService.Model.SysManager;
@using Context;
@model IEnumerable<CommonService.Model.C_Customer_Follow>
@{
    Layout = "~/Views/Shared/_ListSearchWithDialogTemplate.cshtml";//带表单查询的列表页面固定模板
}
@{
    ViewBag.Title = "客户跟踪";
}

@section Headcss{
    <style type="text/css">
        .aaa {
            cursor: pointer;
        }

            .aaa:link {
                color: blue;
            }

            .aaa:hover {
                color: blue;
            }

            .aaa:visited {
                color: blue;
            }

        .ultable li a {
            color: #87CEFA;
        }

        .active {
            background-color: #000;
        }
    </style>

}
@section HeadScript{
    <script type="text/javascript">
    $('#tab').find('li').each(function () {
        $(this).click(function () {
            $(this).addClass("active");
        })
    })
    $(function () {
        if (getCookie("isShow") == "0") {
            $(".downDiv").attr("class", "upDiv");
            $(".seachdiv2").show();
            $("#hidOrShow").html("收起");
        } else {
            $(".upDiv").attr("class", "downDiv");
            $(".seachdiv2").hide();
            $("#hidOrShow").html("高级查询");
        }
        $("a[target=popdialog_owndefine]").each(function () {
            $(this).click(function (event) {
                event.preventDefault();
                var $this = $(this);
                $.ajax({
                    type: 'POST',
                    url: "/BusinessChanceManager/CustomerFollowUp/GetModel?customer_Follow_id=" + commonListData.uniqueId,
                    data: null,
                    dataType: "json",
                    cache: false,
                    success: function (data) {
                        //替换url参数
                        var switchUrl = $this.attr("href").replace("{sid_Iterm}", data["C_Customer_code"]);
                        _openDialog($this.attr("title"), switchUrl, $this.attr("dialogwidth"), $this.attr("dialogheight"));
                    },
                    error: function () {
                        alert('网络错误，请稍后再试!');
                    }
                });
            });
        });
    })

    function Layer_HideOrShow() {
        if ($("#hidOrShow").html() == "高级查询") {
            $(".downDiv").attr("class", "upDiv");
            $(".seachdiv2").show();
            $("#hidOrShow").html("收起");
            document.cookie = "isShow=0";
        }
        else {
            $(".upDiv").attr("class", "downDiv");
            $(".seachdiv2").hide();
            $("#hidOrShow").html("高级查询");
            document.cookie = "isShow=1";
        }
    }

    //读取cookies
    function getCookie(name) {
        var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");

        if (arr = document.cookie.match(reg))

            return unescape(arr[2]);
        else
            return null;
    }
    function osb(val) {
        document.getElementById("@ViewBag.SearchFormID").action = val;
        document.getElementById("@ViewBag.SearchFormID").submit();
    }
</script>
}
@{
    CommonService.Model.C_Customer_Follow conditon = ViewBag.Conditon;//客户跟进条件模型
    CommonService.Model.C_Customer customerConditon = ViewBag.CustomerConditon;//客户条件模型
    List<CommonService.Model.SysManager.C_Role_button> RoleButtons = ViewBag.RoleButtons;//按钮权限
}
@{
    List<CommonService.Model.C_Parameters> CustomerTypes = ViewBag.CustomerTypes;
    List<CommonService.Model.C_Parameters> CustomerSources = ViewBag.CustomerSources;
    List<CommonService.Model.C_Parameters> CustomerLevels = ViewBag.CustomerLevels;
    List<CommonService.Model.C_Parameters> IsSignedStates = ViewBag.IsSignedStates;
    List<CommonService.Model.C_Parameters> SignedStates = ViewBag.SignedStates;
    List<CommonService.Model.C_Parameters> CustomerLoyaltys = ViewBag.CustomerLoyaltys;
    List<CommonService.Model.C_Parameters> Categorys = ViewBag.Category;
    List<CommonService.Model.FlowManager.P_Flow> Flows = ViewBag.Flows;
    List<CommonService.Model.C_Parameters> ContactInformations = ViewBag.ContactInformations;
    List<CommonService.Model.C_Parameters> Customer_Follow_Stages = ViewBag.Customer_Follow_Stages;

    Guid? orgCode = ViewBag.OrgCode;//所属部门Guid(允许为NULL)
    Guid? postCode = ViewBag.PostCode;//所属岗位Guid(允许为NULL)
    Guid? postGroupCode = ViewBag.PostGroupCode;//所属岗位组Guid(允许为NULL)
}
<div class="tools">
    <ul class="toolbar">
        <li><a target="popdialog" title="客户跟进信息" dialogwidth="1240" dialogheight="650" href="/BusinessChanceManager/CustomerFollowUp/create"><span><img src="/theme/images/new_add.png" /></span>添加</a></li>
        <li><a target="popdialog" title="客户跟进信息" dialogwidth="1240" dialogheight="650" edit="edit" href="/BusinessChanceManager/CustomerFollowUp/edit?customer_Follow_id={sid_Iterm}"><span><img src="/theme/images/new_edit.png" /></span>修改</a></li>
        <li><a target="ajaxtodo" title="确认要删除选中数据吗?" singleoperate="singleoperate" href="/basedata/Customer_Follow/delete?customer_Follow_id={sid_Iterm}"><span><img src="/theme/images/new_delete.png" /></span>删除</a></li>
        <li><a target="popdialog" title="客户跟进详细信息" dialogwidth="800" dialogheight="500" edit="edit" href="/BusinessChanceManager/CustomerFollowUp/Details?customer_Follow_id={sid_Iterm}"><span><img src="/theme/images/new_view.png"></span>详细</a></li>
        <li><a target="popdialog_owndefine" title="客户详细信息" dialogwidth="1280" dialogheight="750" edit="edit" href="/basedata/customer/tabdetails?customerCode={sid_Iterm}"><span><img src="/theme/images/new_view.png"></span>客户详细</a></li>
    </ul>
    @using (Html.BeginForm("List", "CustomerFollowUp", FormMethod.Post, new { id = ViewBag.SearchFormID, onsubmit = "return clickSearch(this);" }))
    {
        <ul class="seachform">
            <input name="ThisPageIndex" class="ThisPageIndex" type="hidden" value="@ViewBag.ThisPageIndex" />
            <input name="IsExcutedFormSearch" class="IsExcutedFormSearch" type="hidden" value="@ViewBag.IsExcutedFormSearch" />
            @Html.Hidden("C_Customer_type", customerConditon.C_Customer_type)
            @Html.Hidden("C_Customer_Follow_time_type", customerConditon.C_Customer_Follow_time_type)
            @Html.Hidden("orgCode", orgCode)
            @Html.Hidden("postCode", postCode)
            @Html.Hidden("postGroupCode", postGroupCode)
            <li><label>客户名称</label>@Html.TextBox("C_Customer_name", customerConditon.C_Customer_name, new { @class = "scinput" })</li>
            <li><label>&nbsp;</label><input type="submit" class="scbtn" onclick="osb('/BusinessChanceManager/CustomerFollowUp/list')" value="查询" /></li>
            <li onclick="Layer_HideOrShow()">
                <label id="hidOrShow" style="float:left;margin-left:20px;margin-top:5px;font-size:14px;color:blue;">高级查询</label>@*<div class="upDiv"></div>*@
            </li>
        </ul>
        <div class="seachdiv2" style="border-top: 3px solid #3596d7;margin-top:5px;float:left;">
            <ul class="emptyforminfo">
                <div class="mulitytext">
                    <label>客户级别</label>
                    @{
                        IList<SelectListItem> CustomerLevelsItems = new List<SelectListItem>();
                        SelectListItem defaultCheckStatusItem = new SelectListItem();
                        defaultCheckStatusItem.Value = null;
                        defaultCheckStatusItem.Text = "全部";
                        CustomerLevelsItems.Add(defaultCheckStatusItem);
                        foreach (var item in CustomerLevels)
                        {
                            SelectListItem selectItem = new SelectListItem();
                            selectItem.Value = item.C_Parameters_id.ToString();
                            selectItem.Text = item.C_Parameters_name;
                            if (customerConditon.C_Customer_level != null)
                            {
                                if (customerConditon.C_Customer_level.ToString() == selectItem.Value.ToString())
                                {
                                    selectItem.Selected = true;
                                }
                            }
                            CustomerLevelsItems.Add(selectItem);
                        }
                    }
                    @Html.DropDownList("C_Customer_level", CustomerLevelsItems, new { })<i></i>
                </div>
                <div class="mulitytext"><label>最后跟进时间</label>@Html.TextBox("C_Customer_lastContactDate", customerConditon.C_Customer_lastContactDate, new { date = "date", maxlength = "20", @readonly = "readonly", dateformat = "yyyy-MM-dd 00:00:00" })<i></i></div>
                <div class="mulitytext"><label>至</label>@Html.TextBox("C_Customer_lastContactendDate", customerConditon.C_Customer_lastContactEndDate, new { date = "date", maxlength = "20", @readonly = "readonly", dateformat = "yyyy-MM-dd 23:59:59" })<i></i></div>
                <div class="mulitytext"><label>专业顾问</label>@Html.Hidden("mainLawyerlookup.Code", customerConditon.C_Customer_consultant, new { lookupgroup = "mainLawyerlookup" })@Html.TextBox("mainLawyerlookup.Name", customerConditon.C_Customer_consultant_name, new { maxlength = "50", @readonly = "readonly", selectdialog = "selectdialog", @class = "textselect", title = "单选专业顾问", switchurl = "/sysmanager/userinfo/singlecallbackref_orgpostuserlayout?otype=2", dialogwidth = "1050", dialogheight = "600", lookupgroup = "mainLawyerlookup" })<i></i></div>
                <div class="mulitytext">
                    <label>客户类别</label>
                    @{
                        IList<SelectListItem> CategoryItems = new List<SelectListItem>();

                        CategoryItems.Add(defaultCheckStatusItem);
                        foreach (var check in Categorys)
                        {
                            SelectListItem selectItem = new SelectListItem();
                            selectItem.Value = check.C_Parameters_id.ToString();
                            selectItem.Text = check.C_Parameters_name;
                            if (customerConditon.C_Customer_Category != null)
                            {
                                if (customerConditon.C_Customer_Category.ToString() == selectItem.Value.ToString())
                                {
                                    selectItem.Selected = true;
                                }
                            }
                            CategoryItems.Add(selectItem);
                        }
                    }
                    @Html.DropDownList("C_Customer_Category", CategoryItems, new { })<i></i>
                </div>
                <div class="mulitytext">
                    <label>客户开发阶段</label>
                    @{
                        IList<SelectListItem> FlowItems = new List<SelectListItem>();
                        FlowItems.Add(defaultCheckStatusItem);
                        foreach (var item in Flows)
                        {
                            SelectListItem selectItem = new SelectListItem();
                            selectItem.Value = item.P_Flow_code.ToString();
                            selectItem.Text = item.P_Flow_name;
                            if (customerConditon.C_Customer_Open != null)
                            {
                                if (customerConditon.C_Customer_Open.ToString() == selectItem.Value.ToString())
                                {
                                    selectItem.Selected = true;
                                }
                            }
                            FlowItems.Add(selectItem);
                        }
                    }
                    @Html.DropDownList("C_Customer_Open", FlowItems, new { })<i></i>
                </div>
                <div class="mulitytext">
                    <label>客户来源</label>
                    @{
                        IList<SelectListItem> CustomerSourcesItems = new List<SelectListItem>();
                        CustomerSourcesItems.Add(defaultCheckStatusItem);
                        foreach (var businessChancetypeType in CustomerSources)
                        {
                            SelectListItem selectItem = new SelectListItem();
                            selectItem.Value = businessChancetypeType.C_Parameters_id.ToString();
                            selectItem.Text = businessChancetypeType.C_Parameters_name;
                            if (customerConditon.C_Customer_source != null)
                            {
                                if (customerConditon.C_Customer_source.ToString() == selectItem.Value.ToString())
                                {
                                    selectItem.Selected = true;
                                }
                            }
                            CustomerSourcesItems.Add(selectItem);
                        }
                    }
                    @Html.DropDownList("C_Customer_source", CustomerSourcesItems, new { })<i></i>
                </div>
                <div class="mulitytext">
                    <label>客户忠诚度</label>
                    @{
                        IList<SelectListItem> LoyaltyItems = new List<SelectListItem>();
                        LoyaltyItems.Add(defaultCheckStatusItem);
                        foreach (var item in CustomerLoyaltys)
                        {
                            SelectListItem selectItem = new SelectListItem();
                            selectItem.Value = item.C_Parameters_id.ToString();
                            selectItem.Text = item.C_Parameters_name;
                            if (customerConditon.C_Customer_loyalty != null)
                            {
                                if (customerConditon.C_Customer_loyalty.ToString() == selectItem.Value.ToString())
                                {
                                    selectItem.Selected = true;
                                }
                            }

                            LoyaltyItems.Add(selectItem);
                        }
                    }
                    @Html.DropDownList("C_Customer_loyalty", LoyaltyItems)<i></i>
                </div>

                <div class="mulitytext">
                    <label>是否签约</label>
                    @{
                        IList<SelectListItem> issignedStateItems = new List<SelectListItem>();
                        issignedStateItems.Add(defaultCheckStatusItem);
                        foreach (var item in IsSignedStates)
                        {
                            SelectListItem selectItem = new SelectListItem();
                            selectItem.Value = item.C_Parameters_id.ToString();
                            selectItem.Text = item.C_Parameters_name;
                            if (customerConditon.C_Customer_isSignedState != null)
                            {
                                if (customerConditon.C_Customer_isSignedState.ToString() == selectItem.Value.ToString())
                                {
                                    selectItem.Selected = true;
                                }
                            }

                            issignedStateItems.Add(selectItem);
                        }
                    }
                    @Html.DropDownList("C_Customer_isSignedState", issignedStateItems)<i></i>
                </div>
                <div class="mulitytext">
                    <label>签约状态</label>
                    @{
                        IList<SelectListItem> signedStateItems = new List<SelectListItem>();
                        signedStateItems.Add(defaultCheckStatusItem);
                        foreach (var item in SignedStates)
                        {
                            SelectListItem selectItem = new SelectListItem();
                            selectItem.Value = item.C_Parameters_id.ToString();
                            selectItem.Text = item.C_Parameters_name;
                            if (customerConditon.C_Customer_signedState != null)
                            {
                                if (customerConditon.C_Customer_signedState.ToString() == selectItem.Value.ToString())
                                {
                                    selectItem.Selected = true;
                                }
                            }

                            signedStateItems.Add(selectItem);
                        }
                    }
                    @Html.DropDownList("C_Customer_signedState", signedStateItems)<i></i>
                </div>
                <div class="mulitytext">
                    <label>跟进方式</label>
                    @{
                        IList<SelectListItem> FollowthewayItems = new List<SelectListItem>();
                        FollowthewayItems.Add(defaultCheckStatusItem);
                        foreach (var item in ContactInformations)
                        {
                            SelectListItem selectItem = new SelectListItem();
                            selectItem.Value = item.C_Parameters_id.ToString();
                            selectItem.Text = item.C_Parameters_name;
                            if (conditon.C_Customer_Follow_contactInformation != null)
                            {
                                if (conditon.C_Customer_Follow_contactInformation.ToString() == selectItem.Value.ToString())
                                {
                                    selectItem.Selected = true;
                                }
                            }

                            FollowthewayItems.Add(selectItem);
                        }
                    }
                    @Html.DropDownList("C_Customer_Follow_contactInformation", FollowthewayItems)<i></i>
                </div>

            </ul>
        </div>

    }
</div>
<table class="tablelist">
    <thead>
        <tr>
            <th>客户名称</th>
            <th>联系人名称</th>
            <th>联系方式</th>
            <th>跟进时间</th>
            <th>跟进人</th>
            <th>跟进结果</th>
            <th>跟进阶段</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr target="sid_Iterm" rel="@item.C_Customer_Follow_id" relname="@item.C_Customer_name">
                <td>@item.C_Customer_name</td>
                <td>@item.C_Customer_follow_contacter_name</td>
                <td>@item.C_Customer_Follow_contactinformationName</td>
                <td>@(item.C_Customer_Follow_time == null ? "" : item.C_Customer_Follow_time.Value.ToString("yyyy-MM-dd"))</td>
                <td>@item.C_Customer_Follow_creatorName</td>
                <td title="@item.C_Customer_Follow_Result">@Maticsoft.Common.Cutout.Cut(item.C_Customer_Follow_Result, 20)</td>
                <td>@item.C_Customer_Follow_stageName</td>
            </tr>
        }
    </tbody>
</table>
