@using CommonService.Model;
@model IEnumerable<CommonService.Model.C_PRival_education>
@{
    Layout = "~/Views/Shared/_ListSearchTemplate.cshtml";//普通列表页面固定模板
}
@{
    ViewBag.Title = "个人教育背景列表";
}
@{
    C_PRival_education eduConditon = ViewBag.EduConditon;//个人教育背景条件模型
}

<table class="tablelist">
    <thead>
        <tr>
            <th>教育程度</th>
            <th>毕业时间</th>
            <th>毕业院校</th>
            <th>毕业专业</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr target="sid_Iterm" rel="@item.C_PRival_education_id">
                <td>@item.C_PRival_education_degree</td>
                <td>@(item.C_PRival_education_graduation_date == null ? "" : item.C_PRival_education_graduation_date.Value.ToString("yyyy-MM-dd"))</td>
                <td>@item.C_PRival_education_school</td>
                <td>@item.C_PRival_education_science</td>
            </tr>
        }
    </tbody>
</table>    