@model CommonService.Model.CaseManager.B_Case_Typicalcase
@{
    Layout = "~/Views/Shared/_EditDialogFormTemplate.cshtml";//带表单提交的编辑页面固定模板
}
@{
    CommonService.Model.CaseManager.B_Case caseModel = ViewBag.caseModel;
    string num = "";
    string caseName = "";
    string projectname = "";
    if (caseModel != null)
    {
        num = caseModel.B_Case_number;
        caseName = caseModel.B_Case_name;
        projectname = caseModel.C_Project_name;
    }
    CommonService.Model.FlowManager.P_Business_flow flowModel = ViewBag.flowModel;
    string flow = "";
    if (flowModel != null)
    {
        flow = flowModel.P_Business_flow_name;
    }
    CommonService.Model.FlowManager.P_Business_flow_form flowformModel = ViewBag.flowformModel;
    string flowform = "";
    if (flowformModel != null)
    {
        flowform = flowformModel.F_Form_chineseName;
    }
}
@section HeadCss
{
    <style type="text/css">
        .leftcontent {
            width: 30%;
            min-height: 745px;
        }

        .case_info_table {
            border: dotted 1px #c7c7c7;
            margin-top: 20px;
        }

            .case_info_table tr {
                border-bottom: dotted 1px #c7c7c7;
            }

                .case_info_table tr.nobottomborder {
                    border-bottom: 0px;
                }

            .case_info_table td {
                text-indent: 12px;
                min-height: 26px;
                padding-top: 10px;
                padding-bottom: 10px;
                text-align: left;
                padding-right: 3px;
            }

                .case_info_table td.textindent {
                    text-indent: 0px;
                }

        .rightcontent {
            width: 70%;
        }
    </style>
}
@section HeadScript{
    <script type="text/javascript" src="/theme/js/customerform.js"></script>
    <script src="/theme/assets/global/plugins/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script type="text/javascript">
        function onlySaveForm(thisObj) {
            $("#ckeditdata").val(editor.getData());
            $(thisObj).parents('form').submit();
        }
        var editor = null;
        $(function () {
            editor= CKEDITOR.replace('B_Case_Typicalcase_description');//文本编辑器初始化
        })
    </script>
}
<div class="leftcontent" style=" width:370px; float:left">
    <h2>基本信息</h2>
    <table id="caseInfo" class="case_info_table">
        <tr>
            <td class="textindent leftContentPaddingLeft">原告/被告：@caseName</td>
            <td class="textindent"></td>
        </tr>
        <tr>
            <td class="textindent leftContentPaddingLeft">案件编码：@num</td>
            <td class="textindent"></td>
        </tr>
        <tr>
            <td class="textindent leftContentPaddingLeft">流程名称：@flow</td>
            <td class="textindent"></td>
        </tr>
        <tr>
            <td class="textindent leftContentPaddingLeft">任务名称：@flowform</td>
            <td class="textindent"></td>
        </tr>
        <tr>
            <td class="textindent leftContentPaddingLeft">工程名称：@projectname</td>
            <td class="textindent"></td>
        </tr>
        @*<tr>
                <td class="textindent leftContentPaddingLeft">审核人员：</td>
                <td class="textindent"></td>
            </tr>
            <tr>
                <td class="textindent leftContentPaddingLeft">审核时间：</td>
                <td class="textindent"></td>
            </tr>*@
    </table>
</div>
<div class="rightcontent" style=" width:700px; float:right">
    @using (Html.BeginForm("Save", "TypicalCase", FormMethod.Post, new { id = "formTypicalCase", onsubmit = "return validateCallback(this,dialogAjaxDone);" }))
    {
        @Html.Hidden("B_Case_Typicalcase_code", Model.B_Case_Typicalcase_code)
        @Html.Hidden("B_Case_code", Model.B_Case_code)
        @Html.Hidden("P_Business_flow_code", Model.P_Business_flow_code)
        @Html.Hidden("P_Business_flow_form_code", Model.P_Business_flow_form_code)
        @Html.Hidden("B_Case_Typicalcase_isDelete", Model.B_Case_Typicalcase_isDelete)
        @Html.Hidden("B_Case_Typicalcase_creator", Model.B_Case_Typicalcase_creator)
        @Html.Hidden("ckeditdata")
        <table>
            <tr style=" margin:15px; display:block"><td style=" width: 50px; font-size: 14px; vertical-align: top">主题</td><td>@Html.TextBox("B_Case_Typicalcase_title", Model.B_Case_Typicalcase_title, new { @class = "dfinput", maxlength = "200" })</td></tr>
            <tr style=" margin: 15px; display: block"><td style="width: 50px; font-size: 14px; vertical-align: top; ">分析</td><td>@Html.TextArea("B_Case_Typicalcase_description", Model.B_Case_Typicalcase_description, new { @class = "ckeditor", rows = "3" })</td></tr>
            <tr style=" margin: 15px; display: block">
                <td style=" width:50px;"></td>
                <td>
                    <input name="" onclick="viewAttachment(this)" type="button" class="btn btnmr fl" value="附件信息" title="表单附件" dialogwidth="1200" dialogheight="700" url="/attachmentupload/attachment_defaultlayout?relationCode=@Model.B_Case_Typicalcase_code&targetDirectory=typicalCase&fileBelongType=982"><i></i><input name="" id="btnSave" type="button" onclick="onlySaveForm(this)" class="btn btnmr fl" value="保存" />
                </td>
            </tr>
        </table>
    }
</div>






