@model CommonService.Model.CaseManager.B_Case_Typicalcase
@{
    CommonService.Model.CaseManager.B_Case caseModel = ViewBag.caseModel;
    string num = "";
    string caseName = "";
    string projectname = "";
    if (caseModel != null)
    {
        num = caseModel.B_Case_number;
        caseName = caseModel.B_Case_name;
        projectname = caseModel.C_Project_name;
    }
    CommonService.Model.FlowManager.P_Business_flow flowModel = ViewBag.flowModel;
    string flow = "";
    if (flowModel != null)
    {
        flow = flowModel.P_Business_flow_name;
    }
    CommonService.Model.FlowManager.P_Business_flow_form flowformModel = ViewBag.flowformModel;
    string flowform = "";
    if (flowformModel != null)
    {
        flowform = flowformModel.F_Form_chineseName;
    }
}
<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.4
Version: 4.0.2
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>意见反馈</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="/theme/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/theme/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/theme/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/theme/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="/theme/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="/theme/assets/global/plugins/jstree/dist/themes/default/style.min.css" />
    <link href="/theme/assets/admin/pages/css/coming-soon.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/theme/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link rel="stylesheet" type="text/css" href="../../assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" />
    <link href="/theme/assets/global/css/components-md.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="/theme/assets/global/css/plugins-md.css" rel="stylesheet" type="text/css" />
    <link href="/theme/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
    <link id="style_color" href="/theme/assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" />
    <link href="/theme/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
    <style>
        body {
            font-family: 'Microsoft YaHei';
        }
    </style>
</head>
<body>
    <div class="container">
        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        Widget settings form goes here
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn blue">Save changes</button>
                        <button type="button" class="btn default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <div class="modal fade" id="alertConfirmWarning" style="z-index: 10062" tabindex="-1" role="basic" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">温馨提示:</h4>
                    </div>
                    <div class="modal-body">
                        确认要删除选中数据吗？
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn blue" onclick="confirmOperate(this)" url="">确认</button>
                        <button type="button" class="btn default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <div class="modal fade" id="alertWarning" style="z-index: 10062" tabindex="-1" role="basic" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">温馨提示:</h4>
                    </div>
                    <div class="modal-body">
                        请选择信息！
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <div class="modal fade bs-modal-lg" id="baseLargeModal" role="basic" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <img src="/theme/assets/global/img/loading-spinner-grey.gif" alt="" class="loading">
                        <span>
                            &nbsp;&nbsp;页面加载中...
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal -->
        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <div class="row" style="height:10px;">
            <div class="col-md-12 coming-soon-header">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet box green-meadow">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-user"></i>案例详细
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="form-body" style=" margin-top:30px;">
                            <div class="row col-md-12">
                                <div class="col-md-4">
                                    <div class="portlet blue-hoki box">
                                        <div class="portlet-body">
                                            <div class="row static-info">
                                                <div class="col-md-4 name">
                                                    原告/被告:
                                                </div>
                                                <div class="col-md-8 value">
                                                    @caseName
                                                </div>
                                            </div>
                                            <div class="row static-info">
                                                <div class="col-md-4 name">
                                                    案件编码:
                                                </div>
                                                <div class="col-md-8 value">
                                                    @num
                                                </div>
                                            </div>
                                            <div class="row static-info">
                                                <div class="col-md-4 name">
                                                    流程名称:
                                                </div>
                                                <div class="col-md-8 value">
                                                    @flow
                                                </div>
                                            </div>
                                            <div class="row static-info">
                                                <div class="col-md-4 name">
                                                    任务名称:
                                                </div>
                                                <div class="col-md-8 value">
                                                    @flowform
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    @using (Html.BeginForm("Save", "Typicalcase", FormMethod.Post, new { id = "formtypical", @class = "form-horizontal", role = "form", enctype = "multipart/form-data"}))
                                    {
                                        <div class="alert alert-danger display-hide">
                                            <button class="close" data-close="alert"></button>
                                            <span defaulttext="表单数据不完整，请检查红色部分！"></span>
                                        </div>
                                        <div class="alert alert-success display-hide">
                                            <button class="close" data-close="alert"></button>
                                            <span defaulttext="表单数据验证通过，数据处理中..."></span>
                                        </div>
                                        @Html.Hidden("B_Case_Typicalcase_id", Model.B_Case_Typicalcase_id)
                                        @Html.Hidden("B_Case_Typicalcase_code", Model.B_Case_Typicalcase_code)
                                        @Html.Hidden("B_Case_code", Model.B_Case_code)
                                        @Html.Hidden("P_Business_flow_code", Model.P_Business_flow_code)
                                        @Html.Hidden("P_Business_flow_form_code", Model.P_Business_flow_form_code)
                                        @Html.Hidden("B_Case_Typicalcase_isDelete", Model.B_Case_Typicalcase_isDelete)
                                        @Html.Hidden("B_Case_Typicalcase_creator", Model.B_Case_Typicalcase_creator)
                                        
                                        <div class="form-group col-md-12">
                                            <label class="control-label col-md-2">典型主题: </label>
                                            <div class="col-md-10">
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    @Html.TextBox("B_Case_Typicalcase_title", Model.B_Case_Typicalcase_title, new { @class = "form-control", placeholder = "典型主题", maxlength = "200", validateType = "{required:true}", validateMessage = "{required:'典型主题不能为空'}" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label class="control-label col-md-2">案例分析:</label>
                                            <div class="col-md-10">
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    @Html.TextArea("B_Case_Typicalcase_description", Model.B_Case_Typicalcase_description, new { @class = "ckeditor form-control", rows = "6", validateType = "{required:true}", validateMessage = "{required:'案例分析不能为空'}" })
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                        </div>
                        @*<a href="" onclick="openfile()" class="btn btn-default btn-sm">附件信息</a>*@  
                        <div class="row">
                            <div class="col-md-10"></div>
                            <div class="col-md-2 coming-soon-footer">
                                <button type="button" class="btn blue" onclick="saveForm('formtypical')">保存</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>
        <!--/end row-->
        <div class="row">
            <div class="col-md-12 coming-soon-footer">

            </div>
        </div>
    </div>

    <script src="/theme/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="/theme/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="/theme/assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/theme/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/theme/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="/theme/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/theme/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="/theme/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="/theme/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="/theme/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="/theme/assets/global/plugins/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script type="text/javascript" src="/theme/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js"></script>
    <script src="/theme/assets/global/plugins/countdown/jquery.countdown.min.js" type="text/javascript"></script>
    <script src="/theme/assets/global/plugins/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>
    <!-- 验证js -->
    <script type="text/javascript" src="/theme/assets/global/plugins/jquery-validation/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/theme/assets/global/plugins/jquery-validation/js/additional-methods.min.js"></script>
    <script src="/theme/assets/global/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN:File Upload Plugin JS files-->
    <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
    <script src="/theme/assets/global/plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
    <!-- The Templates plugin is included to render the upload/download listings -->
    <script src="/theme/assets/global/plugins/jquery-file-upload/js/vendor/tmpl.min.js"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="/theme/assets/global/plugins/jquery-file-upload/js/vendor/load-image.min.js"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="/theme/assets/global/plugins/jquery-file-upload/js/vendor/canvas-to-blob.min.js"></script>
    <!-- blueimp Gallery script -->
    <script src="/theme/assets/global/plugins/jquery-file-upload/blueimp-gallery/jquery.blueimp-gallery.min.js"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="/theme/assets/global/plugins/jquery-file-upload/js/jquery.iframe-transport.js"></script>
    <!-- The basic File Upload plugin -->
    <script src="/theme/assets/global/plugins/jquery-file-upload/js/jquery.fileupload.js"></script>
    <!-- The File Upload processing plugin -->
    <script src="/theme/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-process.js"></script>
    <!-- The File Upload image preview & resize plugin -->
    <script src="/theme/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-image.js"></script>
    <!-- The File Upload audio preview plugin -->
    <script src="/theme/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-audio.js"></script>
    <!-- The File Upload video preview plugin -->
    <script src="/theme/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-video.js"></script>
    <!-- The File Upload validation plugin -->
    <script src="/theme/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-validate.js"></script>
    <!-- The File Upload user interface plugin -->
    <script src="/theme/assets/global/plugins/jquery-file-upload/js/jquery.fileupload-ui.js"></script>
    <!-- The main application script -->
    <!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
    <!--[if (gte IE 8)&(lt IE 10)]>
        <script src="/theme/assets/global/plugins/jquery-file-upload/js/cors/jquery.xdr-transport.js"></script>
        <![endif]-->
    <!-- END:File Upload Plugin JS files-->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="/theme/assets/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="/theme/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
    <script src="/theme/assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
    <script src="/theme/assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
    <script src="/theme/assets/admin/pages/scripts/coming-soon.js" type="text/javascript"></script>

    <script src="/theme/oajs/table-managed.js"></script>
    <script src="/theme/oajs/calendar.js" type="text/javascript"></script>
    <script src="/theme/oajs/components-pickers.js" type="text/javascript"></script>
    <script src="/theme/oajs/form-validation.js" type="text/javascript"></script>
    <script src="/theme/oajs/ajaxdone.js" type="text/javascript"></script>
    <script src="/theme/oajs/components-dropdowns.js" type="text/javascript"></script>
    <script src="/theme/oajs/form-fileupload.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.js" type="text/javascript"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            QuickSidebar.init(); // init quick sidebar
            Demo.init(); // init demo features
            ComingSoon.init();
            // init background slide images
            $.backstretch([
                    "/theme/assets/admin/pages/media/bg/1.jpg",
                    "/theme/assets/admin/pages/media/bg/2.jpg",
                    "/theme/assets/admin/pages/media/bg/3.jpg",
                    "/theme/assets/admin/pages/media/bg/4.jpg"
            ], {
                fade: 1000,
                duration: 10000
            });
        });
        CKEDITOR.replace('B_Case_Typicalcase_description');//文本编辑器初始化
        FormValidation.init('formtypical', formNavAjaxDone);//用表单Id和表单回调函数，初始化表单
        function openfile() {
            window.open("/attachmentupload/attachment_defaultlayout?relationCode=@Model.B_Case_Typicalcase_code&targetDirectory=typicalCase&fileBelongType=982");
        }
    </script>
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>